<div class="added-to-cart">
    <div class="added-to-cart__overflow-wrapper">


        <div class="added-to-cart__inner">
            <form action="/" method="POST" class="added-to-cart__form">
                <div class="added-to-cart__top-row">
                    <div class="added-to-cart__close js-added-to-cart-close">
                        Товар добавлен в корзину

                        <svg width="16" height="16" aria-hidden="true" class="icon-close-mobile-popup">
                            <use xlink:href="#close-mobile-popup"></use>
                        </svg>
                    </div>
                </div>
                <div class="added-to-cart__content">
                    <div class="cart__item compact js-cart-item">
                        <div class="cart__item-image-block">
                            <div class="cart__item-image-container yellow-backplate">
                                <img src="img/cards/1-1.png" alt="" class="cart__item-image">
                            </div>
                            <div class="cart__item-content">
                                <h4 class="cart__item-title">
                                    Protein Cake
                                </h4>
                                <div class="cart__item-description">
                                    <p>
                                        Печенье глазированное <br>
                                        Вкус: Banana Pudding
                                    </p>
                                    <p>
                                        24 шт.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="cart__item-quantity-block">
                            <div class="cart__item-column-name">
                                Количество
                            </div>
                            <button class="cart__item-quantity-block-btn cart__item-quantity-block-btn--minus"
                                type="button" disabled>
                                <svg width="16" height="16" aria-hidden="true" class="icon-minus">
                                    <use xlink:href="#minus"></use>
                                </svg>
                            </button>
                            <div class="cart__item-quantity-input-wrapper">
                                <input type="text" name="quantity" class="cart__item-quantity-input" readonly value="1">
                            </div>
                            <button class="cart__item-quantity-block-btn cart__item-quantity-block-btn--plus"
                                type="button">
                                <svg width="16" height="16" aria-hidden="true" class="icon-plus">
                                    <use xlink:href="#plus"></use>
                                </svg>
                            </button>
                        </div>

                        <div class="cart__item-price-block">
                            <div class="cart__item-column-name">
                                Цена
                            </div>
                            <div class="cart__item-price-block-inner">
                                <div class="cart__item-price-regular">
                                    2 880 ₽
                                </div>
                            </div>
                        </div>
                        <div class="cart__item-price-block">
                            <div class="cart__item-column-name">
                                Сумма
                            </div>
                            <div class="cart__item-price-block-inner">
                                <div class="cart__item-price-total">
                                    2 880 ₽
                                </div>
                            </div>

                        </div>

                    </div>
                    <button class="added-to-cart__go-to-cart" type="submit">
                        Перейти в корзину
                    </button>
                </div>

            </form>

        </div>
    </div>
</div>