<div class="cart-popup js-cart-popup">
    <div class="cart-popup__inner">
        <div class="cart-popup__top-row">
            <h3 class="cart-popup__heading">
                Корзина
                <div class="cart-popup__count">
                    3
                </div>
            </h3>
            <button class="cart-popup__close js-cart-close">
                <svg width="16" height="16" aria-hidden="true" class="icon-stylized-cross">
                    <use xlink:href="#stylized-cross"></use>
                </svg>
            </button>
        </div>
        <div class="cart-popup__items">
            <ul class="cart__items-list">
                <li class="cart__items-list-item">
                    <div class="cart__item compact js-cart-item">
                        <div class="cart__item-image-block">
                            <div class="cart__item-image-container cart__item-image-container--yellow-splash">
                                <img src="img/cards/1-1.png" alt="" class="cart__item-image">
                            </div>
                            <div class="cart__item-content">
                                <h4 class="cart__item-title">
                                    Protein Cake
                                </h4>
                                <div class="cart__item-description">
                                    <p>
                                        Печенье глазированное <br>
                                        Вкус: Banana Pudding
                                    </p>
                                    <p>
                                        24 шт.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="cart__item-quantity-block">
                            <div class="cart__item-column-name">
                                Количество
                            </div>
                            <button class="cart__item-quantity-block-btn cart__item-quantity-block-btn--minus"
                                type="button" disabled>
                                <svg width="16" height="16" aria-hidden="true" class="icon-minus">
                                    <use xlink:href="#minus"></use>
                                </svg>
                            </button>
                            <div class="cart__item-quantity-input-wrapper">
                                <input type="text" name="quantity" class="cart__item-quantity-input" readonly value="1">
                            </div>
                            <button class="cart__item-quantity-block-btn cart__item-quantity-block-btn--plus"
                                type="button">
                                <svg width="16" height="16" aria-hidden="true" class="icon-plus">
                                    <use xlink:href="#plus"></use>
                                </svg>
                            </button>
                        </div>

                        <div class="cart__item-price-block">
                            <div class="cart__item-column-name">
                                Цена
                            </div>
                            <div class="cart__item-price-block-inner">
                                <div class="cart__item-price-regular">
                                    2 880 ₽
                                </div>
                            </div>
                        </div>
                        <div class="cart__item-price-block">
                            <div class="cart__item-column-name">
                                Сумма
                            </div>
                            <div class="cart__item-price-block-inner">
                                <div class="cart__item-price-total">
                                    2 880 ₽
                                </div>
                            </div>

                        </div>

                    </div>
                </li>
                <li class="cart__items-list-item">
                    <div class="cart__item compact js-cart-item">
                        <div class="cart__item-image-block">
                            <div class="cart__item-image-container cart__item-image-container--yellow-splash">
                                <img src="img/cards/4-1.png" alt="" class="cart__item-image">
                                <span class="cart__item-sale-label">
                                    SALE
                                </span>
                            </div>
                            <div class="cart__item-content">
                                <h4 class="cart__item-title">
                                    Protein Cake
                                </h4>
                                <div class="cart__item-description">
                                    <p>
                                        Печенье глазированное <br>
                                        Вкус: Banana Pudding
                                    </p>
                                    <p>
                                        24 шт.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="cart__item-quantity-block">
                            <div class="cart__item-column-name">
                                Количество
                            </div>
                            <button class="cart__item-quantity-block-btn cart__item-quantity-block-btn--minus"
                                type="button" disabled>
                                <svg width="16" height="16" aria-hidden="true" class="icon-minus">
                                    <use xlink:href="#minus"></use>
                                </svg>
                            </button>
                            <div class="cart__item-quantity-input-wrapper">
                                <input type="text" name="quantity" class="cart__item-quantity-input" readonly value="1">
                            </div>
                            <button class="cart__item-quantity-block-btn cart__item-quantity-block-btn--plus"
                                type="button">
                                <svg width="16" height="16" aria-hidden="true" class="icon-plus">
                                    <use xlink:href="#plus"></use>
                                </svg>
                            </button>
                        </div>

                        <div class="cart__item-price-block">
                            <div class="cart__item-column-name">
                                Цена
                            </div>
                            <div class="cart__item-price-block-inner">
                                <div class="cart__item-price-regular">
                                    2 880 ₽
                                </div>
                                <div class="cart__item-old-price">
                                    3 120 ₽
                                </div>
                            </div>
                        </div>
                        <div class="cart__item-price-block">
                            <div class="cart__item-column-name">
                                Сумма
                            </div>
                            <div class="cart__item-price-block-inner">
                                <div class="cart__item-price-total">
                                    2 880 ₽
                                </div>
                                <div class="cart__item-old-price">
                                    3 120 ₽
                                </div>
                            </div>

                        </div>

                    </div>
                </li>
                <li class="cart__items-list-item">
                    <div class="cart__item compact js-cart-item">
                        <div class="cart__item-image-block">
                            <div class="cart__item-image-container cart__item-image-container--yellow-splash">
                                <img src="img/cards/3-1.png" alt="" class="cart__item-image">
                            </div>
                            <div class="cart__item-content">
                                <h4 class="cart__item-title">
                                    Protein Cake
                                </h4>
                                <div class="cart__item-description">
                                    <p>
                                        Печенье глазированное <br>
                                        Вкус: Banana Pudding
                                    </p>
                                    <p>
                                        24 шт.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="cart__item-quantity-block">
                            <div class="cart__item-column-name">
                                Количество
                            </div>
                            <button class="cart__item-quantity-block-btn cart__item-quantity-block-btn--minus"
                                type="button" disabled>
                                <svg width="16" height="16" aria-hidden="true" class="icon-minus">
                                    <use xlink:href="#minus"></use>
                                </svg>
                            </button>
                            <div class="cart__item-quantity-input-wrapper">
                                <input type="text" name="quantity" class="cart__item-quantity-input" readonly value="1">
                            </div>
                            <button class="cart__item-quantity-block-btn cart__item-quantity-block-btn--plus"
                                type="button">
                                <svg width="16" height="16" aria-hidden="true" class="icon-plus">
                                    <use xlink:href="#plus"></use>
                                </svg>
                            </button>
                        </div>

                        <div class="cart__item-price-block">
                            <div class="cart__item-column-name">
                                Цена
                            </div>
                            <div class="cart__item-price-block-inner">
                                <div class="cart__item-price-regular">
                                    2 880 ₽
                                </div>
                            </div>
                        </div>
                        <div class="cart__item-price-block">
                            <div class="cart__item-column-name">
                                Сумма
                            </div>
                            <div class="cart__item-price-block-inner">
                                <div class="cart__item-price-total">
                                    2 880 ₽
                                </div>
                            </div>

                        </div>

                    </div>
                </li>
            </ul>
        </div>

        <div class="cart__popup-summary">

            <table class="cart__summary-table">
                <tbody>
                    <tr>
                        <th>
                            Скидка
                        </th>
                        <td>
                            812 ₽
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="cart__summary-table-th-total">
                                Итого
                            </span>
                        </th>
                        <td>
                            <span class="cart__summary-table-td-total">
                                10 948 ₽
                            </span>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <a href="#" class="cart__popup-link">
            Перейти в корзину
        </a>
    </div>
</div>