<div class="edit-boxes">
    <form action="/" method="POST" class="constructor__popup">
        <div class="constructor__popup-wrapper">


            <div class="constructor__popup-inner">
                <a href="#" class="constructor__popup-mobile-close-btn">
                    <span class="constructor__popup-mobile-close-btn-text">
                        Редактировать бокс
                    </span>

                    <svg width="16" height="16" aria-hidden="true" class="icon-close-mobile-popup">
                        <use xlink:href="#close-mobile-popup"></use>
                    </svg>
                </a>
                <div class="constructor__popup-top-row">
                    <h3 class="constructor__popup-heading">
                        Редактировать бокс

                    </h3>
                    <button class="constructor__popup-close js-constructor-popup-close">
                        <svg width="16" height="16" aria-hidden="true" class="icon-stylized-cross">
                            <use xlink:href="#stylized-cross"></use>
                        </svg>
                    </button>
                </div>
                <div class="constructor__popup-selected-count">
                    Добавьте <strong>24</strong> печенья
                </div>
                <ul class="constructor__popup-cookies-list">
                    <li class="constructor__popup-cookies-list-item">
                        <div class="constructor__popup-cookies-card">
                            <div class="constructor__popup-cookies-card-image-container">
                                <img src="img/constructor/cookies/1.png" alt=""
                                    class="constructor__popup-cookies-card-image">
                            </div>
                            <div class="constructor__popup-cookies-card-content">
                                <div class="constructor__popup-cookies-card-top-row">
                                    <h4 class="constructor__popup-cookies-card-title">
                                        Banana Pudding
                                    </h4>
                                    <div class="constructor__popup-cookies-card-details">
                                        <span class="constructor__popup-cookies-card-details-link">
                                            КБЖУ ?
                                        </span>
                                        <div class="constructor__popup-cookies-card-details-dropdown">
                                            <div class="constructor__popup-cookies-card-details-dropdown-inner">
                                                <button class="constructor__popup-cookies-card-details-close">
                                                    <svg width="12" height="16" aria-hidden="true"
                                                        class="icon-stylized-cross">
                                                        <use xlink:href="#stylized-cross"></use>
                                                    </svg>
                                                </button>
                                                <h4 class="modals__components-modal-small-heading">
                                                    Пищевая ценность
                                                </h4>
                                                <div class="modals__components-modal-table">
                                                    <div class="modals__components-modal-per-portion">
                                                        На 70 г продукта:
                                                    </div>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <th>
                                                                    Калорийность
                                                                </th>
                                                                <td>
                                                                    196,1 ккал
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>
                                                                    Белки
                                                                </th>
                                                                <td>
                                                                    18 г
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>
                                                                    Жиры
                                                                </th>
                                                                <td>
                                                                    4,5 г
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>
                                                                    Углеводы
                                                                </th>
                                                                <td>
                                                                    16,15 г
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>
                                                                    Клетчатка
                                                                </th>
                                                                <td>
                                                                    9,5 г
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                                <div class="constructor__popup-cookies-card-bottom-row">
                                    <div class="cart__item-quantity-block js-cart-item">
                                        <button
                                            class="cart__item-quantity-block-btn cart__item-quantity-block-btn--minus"
                                            type="button" disabled>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-minus">
                                                <use xlink:href="#minus"></use>
                                            </svg>
                                        </button>
                                        <div class="cart__item-quantity-input-wrapper">
                                            <input type="text" name="quantity" class="cart__item-quantity-input"
                                                readonly value="5" data-zero-allowed>
                                        </div>
                                        <button
                                            class="cart__item-quantity-block-btn cart__item-quantity-block-btn--plus"
                                            type="button">
                                            <svg width="16" height="16" aria-hidden="true" class="icon-plus">
                                                <use xlink:href="#plus"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </li>
                    <li class="constructor__popup-cookies-list-item">
                        <div class="constructor__popup-cookies-card">
                            <div class="constructor__popup-cookies-card-image-container">
                                <img src="img/constructor/cookies/2.png" alt=""
                                    class="constructor__popup-cookies-card-image">
                            </div>
                            <div class="constructor__popup-cookies-card-content">
                                <div class="constructor__popup-cookies-card-top-row">
                                    <h4 class="constructor__popup-cookies-card-title">
                                        Pistachio Cream
                                    </h4>
                                    <div class="constructor__popup-cookies-card-details">
                                        <span class="constructor__popup-cookies-card-details-link">
                                            КБЖУ ?
                                        </span>
                                        <div class="constructor__popup-cookies-card-details-dropdown">
                                            <div class="constructor__popup-cookies-card-details-dropdown-inner">
                                                <button class="constructor__popup-cookies-card-details-close">
                                                    <svg width="12" height="16" aria-hidden="true"
                                                        class="icon-stylized-cross">
                                                        <use xlink:href="#stylized-cross"></use>
                                                    </svg>
                                                </button>
                                                <h4 class="modals__components-modal-small-heading">
                                                    Пищевая ценность
                                                </h4>
                                                <div class="modals__components-modal-table">
                                                    <div class="modals__components-modal-per-portion">
                                                        На 70 г продукта:
                                                    </div>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <th>
                                                                    Калорийность
                                                                </th>
                                                                <td>
                                                                    196,1 ккал
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>
                                                                    Белки
                                                                </th>
                                                                <td>
                                                                    18 г
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>
                                                                    Жиры
                                                                </th>
                                                                <td>
                                                                    4,5 г
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>
                                                                    Углеводы
                                                                </th>
                                                                <td>
                                                                    16,15 г
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>
                                                                    Клетчатка
                                                                </th>
                                                                <td>
                                                                    9,5 г
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="constructor__popup-cookies-card-bottom-row">
                                    <div class="cart__item-quantity-block js-cart-item">
                                        <button
                                            class="cart__item-quantity-block-btn cart__item-quantity-block-btn--minus"
                                            type="button" disabled>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-minus">
                                                <use xlink:href="#minus"></use>
                                            </svg>
                                        </button>
                                        <div class="cart__item-quantity-input-wrapper">
                                            <input type="text" name="quantity" class="cart__item-quantity-input"
                                                readonly value="19" data-zero-allowed>
                                        </div>
                                        <button
                                            class="cart__item-quantity-block-btn cart__item-quantity-block-btn--plus"
                                            type="button">
                                            <svg width="16" height="16" aria-hidden="true" class="icon-plus">
                                                <use xlink:href="#plus"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </li>
                    <li class="constructor__popup-cookies-list-item">
                        <div class="constructor__popup-cookies-card">
                            <div class="constructor__popup-cookies-card-image-container">
                                <img src="img/constructor/cookies/3.png" alt=""
                                    class="constructor__popup-cookies-card-image">
                            </div>
                            <div class="constructor__popup-cookies-card-content">
                                <div class="constructor__popup-cookies-card-top-row">
                                    <h4 class="constructor__popup-cookies-card-title">
                                        Tropical Coconut
                                    </h4>
                                    <div class="constructor__popup-cookies-card-details">
                                        <span class="constructor__popup-cookies-card-details-link">
                                            КБЖУ ?
                                        </span>
                                        <div class="constructor__popup-cookies-card-details-dropdown">
                                            <div class="constructor__popup-cookies-card-details-dropdown-inner">
                                                <button class="constructor__popup-cookies-card-details-close">
                                                    <svg width="12" height="16" aria-hidden="true"
                                                        class="icon-stylized-cross">
                                                        <use xlink:href="#stylized-cross"></use>
                                                    </svg>
                                                </button>
                                                <h4 class="modals__components-modal-small-heading">
                                                    Пищевая ценность
                                                </h4>
                                                <div class="modals__components-modal-table">
                                                    <div class="modals__components-modal-per-portion">
                                                        На 70 г продукта:
                                                    </div>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <th>
                                                                    Калорийность
                                                                </th>
                                                                <td>
                                                                    196,1 ккал
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>
                                                                    Белки
                                                                </th>
                                                                <td>
                                                                    18 г
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>
                                                                    Жиры
                                                                </th>
                                                                <td>
                                                                    4,5 г
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>
                                                                    Углеводы
                                                                </th>
                                                                <td>
                                                                    16,15 г
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>
                                                                    Клетчатка
                                                                </th>
                                                                <td>
                                                                    9,5 г
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="constructor__popup-cookies-card-bottom-row">
                                    <div class="cart__item-quantity-block js-cart-item">
                                        <button
                                            class="cart__item-quantity-block-btn cart__item-quantity-block-btn--minus"
                                            type="button" disabled>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-minus">
                                                <use xlink:href="#minus"></use>
                                            </svg>
                                        </button>
                                        <div class="cart__item-quantity-input-wrapper">
                                            <input type="text" name="quantity" class="cart__item-quantity-input"
                                                readonly value="0" data-zero-allowed>
                                        </div>
                                        <button
                                            class="cart__item-quantity-block-btn cart__item-quantity-block-btn--plus"
                                            type="button">
                                            <svg width="16" height="16" aria-hidden="true" class="icon-plus">
                                                <use xlink:href="#plus"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </li>
                    <li class="constructor__popup-cookies-list-item">
                        <div class="constructor__popup-cookies-card">
                            <div class="constructor__popup-cookies-card-image-container">
                                <img src="img/constructor/cookies/4.png" alt=""
                                    class="constructor__popup-cookies-card-image">
                            </div>
                            <div class="constructor__popup-cookies-card-content">
                                <div class="constructor__popup-cookies-card-top-row">
                                    <h4 class="constructor__popup-cookies-card-title">
                                        Romovaya Baba
                                    </h4>
                                    <div class="constructor__popup-cookies-card-details">
                                        <span class="constructor__popup-cookies-card-details-link">
                                            КБЖУ ?
                                        </span>
                                        <div class="constructor__popup-cookies-card-details-dropdown">
                                            <div class="constructor__popup-cookies-card-details-dropdown-inner">
                                                <button class="constructor__popup-cookies-card-details-close">
                                                    <svg width="12" height="16" aria-hidden="true"
                                                        class="icon-stylized-cross">
                                                        <use xlink:href="#stylized-cross"></use>
                                                    </svg>
                                                </button>
                                                <h4 class="modals__components-modal-small-heading">
                                                    Пищевая ценность
                                                </h4>
                                                <div class="modals__components-modal-table">
                                                    <div class="modals__components-modal-per-portion">
                                                        На 70 г продукта:
                                                    </div>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <th>
                                                                    Калорийность
                                                                </th>
                                                                <td>
                                                                    196,1 ккал
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>
                                                                    Белки
                                                                </th>
                                                                <td>
                                                                    18 г
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>
                                                                    Жиры
                                                                </th>
                                                                <td>
                                                                    4,5 г
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>
                                                                    Углеводы
                                                                </th>
                                                                <td>
                                                                    16,15 г
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>
                                                                    Клетчатка
                                                                </th>
                                                                <td>
                                                                    9,5 г
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="constructor__popup-cookies-card-bottom-row">
                                    <div class="cart__item-quantity-block js-cart-item">
                                        <button
                                            class="cart__item-quantity-block-btn cart__item-quantity-block-btn--minus"
                                            type="button" disabled>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-minus">
                                                <use xlink:href="#minus"></use>
                                            </svg>
                                        </button>
                                        <div class="cart__item-quantity-input-wrapper">
                                            <input type="text" name="quantity" class="cart__item-quantity-input"
                                                readonly value="0" data-zero-allowed>
                                        </div>
                                        <button
                                            class="cart__item-quantity-block-btn cart__item-quantity-block-btn--plus"
                                            type="button">
                                            <svg width="16" height="16" aria-hidden="true" class="icon-plus">
                                                <use xlink:href="#plus"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </li>
                    <li class="constructor__popup-cookies-list-item">
                        <div class="constructor__popup-cookies-card">
                            <div class="constructor__popup-cookies-card-image-container">
                                <img src="img/constructor/cookies/5.png" alt=""
                                    class="constructor__popup-cookies-card-image">
                            </div>
                            <div class="constructor__popup-cookies-card-content">
                                <div class="constructor__popup-cookies-card-top-row">
                                    <h4 class="constructor__popup-cookies-card-title">
                                        Honey Cream
                                    </h4>
                                    <div class="constructor__popup-cookies-card-details">
                                        <span class="constructor__popup-cookies-card-details-link">
                                            КБЖУ ?
                                        </span>
                                        <div class="constructor__popup-cookies-card-details-dropdown">
                                            <div class="constructor__popup-cookies-card-details-dropdown-inner">
                                                <button class="constructor__popup-cookies-card-details-close">
                                                    <svg width="12" height="16" aria-hidden="true"
                                                        class="icon-stylized-cross">
                                                        <use xlink:href="#stylized-cross"></use>
                                                    </svg>
                                                </button>
                                                <h4 class="modals__components-modal-small-heading">
                                                    Пищевая ценность
                                                </h4>
                                                <div class="modals__components-modal-table">
                                                    <div class="modals__components-modal-per-portion">
                                                        На 70 г продукта:
                                                    </div>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <th>
                                                                    Калорийность
                                                                </th>
                                                                <td>
                                                                    196,1 ккал
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>
                                                                    Белки
                                                                </th>
                                                                <td>
                                                                    18 г
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>
                                                                    Жиры
                                                                </th>
                                                                <td>
                                                                    4,5 г
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>
                                                                    Углеводы
                                                                </th>
                                                                <td>
                                                                    16,15 г
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>
                                                                    Клетчатка
                                                                </th>
                                                                <td>
                                                                    9,5 г
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="constructor__popup-cookies-card-bottom-row">
                                    <div class="cart__item-quantity-block js-cart-item">
                                        <button
                                            class="cart__item-quantity-block-btn cart__item-quantity-block-btn--minus"
                                            type="button" disabled>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-minus">
                                                <use xlink:href="#minus"></use>
                                            </svg>
                                        </button>
                                        <div class="cart__item-quantity-input-wrapper">
                                            <input type="text" name="quantity" class="cart__item-quantity-input"
                                                readonly value="0" data-zero-allowed>
                                        </div>
                                        <button
                                            class="cart__item-quantity-block-btn cart__item-quantity-block-btn--plus"
                                            type="button">
                                            <svg width="16" height="16" aria-hidden="true" class="icon-plus">
                                                <use xlink:href="#plus"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </li>
                    <li class="constructor__popup-cookies-list-item">
                        <div class="constructor__popup-cookies-card">
                            <div class="constructor__popup-cookies-card-image-container">
                                <img src="img/constructor/cookies/6.png" alt=""
                                    class="constructor__popup-cookies-card-image">
                            </div>
                            <div class="constructor__popup-cookies-card-content">
                                <div class="constructor__popup-cookies-card-top-row">
                                    <h4 class="constructor__popup-cookies-card-title">
                                        Lemon-Lime
                                    </h4>
                                    <div class="constructor__popup-cookies-card-details">
                                        <span class="constructor__popup-cookies-card-details-link">
                                            КБЖУ ?
                                        </span>
                                        <div class="constructor__popup-cookies-card-details-dropdown">
                                            <div class="constructor__popup-cookies-card-details-dropdown-inner">
                                                <button class="constructor__popup-cookies-card-details-close">
                                                    <svg width="12" height="16" aria-hidden="true"
                                                        class="icon-stylized-cross">
                                                        <use xlink:href="#stylized-cross"></use>
                                                    </svg>
                                                </button>
                                                <h4 class="modals__components-modal-small-heading">
                                                    Пищевая ценность
                                                </h4>
                                                <div class="modals__components-modal-table">
                                                    <div class="modals__components-modal-per-portion">
                                                        На 70 г продукта:
                                                    </div>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <th>
                                                                    Калорийность
                                                                </th>
                                                                <td>
                                                                    196,1 ккал
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>
                                                                    Белки
                                                                </th>
                                                                <td>
                                                                    18 г
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>
                                                                    Жиры
                                                                </th>
                                                                <td>
                                                                    4,5 г
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>
                                                                    Углеводы
                                                                </th>
                                                                <td>
                                                                    16,15 г
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>
                                                                    Клетчатка
                                                                </th>
                                                                <td>
                                                                    9,5 г
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="constructor__popup-cookies-card-bottom-row">
                                    <div class="cart__item-quantity-block js-cart-item">
                                        <button
                                            class="cart__item-quantity-block-btn cart__item-quantity-block-btn--minus"
                                            type="button" disabled>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-minus">
                                                <use xlink:href="#minus"></use>
                                            </svg>
                                        </button>
                                        <div class="cart__item-quantity-input-wrapper">
                                            <input type="text" name="quantity" class="cart__item-quantity-input"
                                                readonly value="0" data-zero-allowed>
                                        </div>
                                        <button
                                            class="cart__item-quantity-block-btn cart__item-quantity-block-btn--plus"
                                            type="button">
                                            <svg width="16" height="16" aria-hidden="true" class="icon-plus">
                                                <use xlink:href="#plus"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </li>
                    <li class="constructor__popup-cookies-list-item">
                        <div class="constructor__popup-cookies-card">
                            <div class="constructor__popup-cookies-card-image-container">
                                <img src="img/constructor/cookies/1.png" alt=""
                                    class="constructor__popup-cookies-card-image">
                            </div>
                            <div class="constructor__popup-cookies-card-content">
                                <div class="constructor__popup-cookies-card-top-row">
                                    <h4 class="constructor__popup-cookies-card-title">
                                        Banana Pudding
                                    </h4>
                                    <div class="constructor__popup-cookies-card-details">
                                        <span class="constructor__popup-cookies-card-details-link">
                                            КБЖУ ?
                                        </span>
                                        <div class="constructor__popup-cookies-card-details-dropdown">
                                            <div class="constructor__popup-cookies-card-details-dropdown-inner">
                                                <button class="constructor__popup-cookies-card-details-close">
                                                    <svg width="12" height="16" aria-hidden="true"
                                                        class="icon-stylized-cross">
                                                        <use xlink:href="#stylized-cross"></use>
                                                    </svg>
                                                </button>
                                                <h4 class="modals__components-modal-small-heading">
                                                    Пищевая ценность
                                                </h4>
                                                <div class="modals__components-modal-table">
                                                    <div class="modals__components-modal-per-portion">
                                                        На 70 г продукта:
                                                    </div>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <th>
                                                                    Калорийность
                                                                </th>
                                                                <td>
                                                                    196,1 ккал
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>
                                                                    Белки
                                                                </th>
                                                                <td>
                                                                    18 г
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>
                                                                    Жиры
                                                                </th>
                                                                <td>
                                                                    4,5 г
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>
                                                                    Углеводы
                                                                </th>
                                                                <td>
                                                                    16,15 г
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>
                                                                    Клетчатка
                                                                </th>
                                                                <td>
                                                                    9,5 г
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                                <div class="constructor__popup-cookies-card-bottom-row">
                                    <div class="cart__item-quantity-block js-cart-item">
                                        <button
                                            class="cart__item-quantity-block-btn cart__item-quantity-block-btn--minus"
                                            type="button" disabled>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-minus">
                                                <use xlink:href="#minus"></use>
                                            </svg>
                                        </button>
                                        <div class="cart__item-quantity-input-wrapper">
                                            <input type="text" name="quantity" class="cart__item-quantity-input"
                                                readonly value="0" data-zero-allowed>
                                        </div>
                                        <button
                                            class="cart__item-quantity-block-btn cart__item-quantity-block-btn--plus"
                                            type="button">
                                            <svg width="16" height="16" aria-hidden="true" class="icon-plus">
                                                <use xlink:href="#plus"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </li>
                    <li class="constructor__popup-cookies-list-item">
                        <div class="constructor__popup-cookies-card">
                            <div class="constructor__popup-cookies-card-image-container">
                                <img src="img/constructor/cookies/2.png" alt=""
                                    class="constructor__popup-cookies-card-image">
                            </div>
                            <div class="constructor__popup-cookies-card-content">
                                <div class="constructor__popup-cookies-card-top-row">
                                    <h4 class="constructor__popup-cookies-card-title">
                                        Pistachio Cream
                                    </h4>
                                    <div class="constructor__popup-cookies-card-details">
                                        <span class="constructor__popup-cookies-card-details-link">
                                            КБЖУ ?
                                        </span>
                                        <div class="constructor__popup-cookies-card-details-dropdown">
                                            <div class="constructor__popup-cookies-card-details-dropdown-inner">
                                                <button class="constructor__popup-cookies-card-details-close">
                                                    <svg width="12" height="16" aria-hidden="true"
                                                        class="icon-stylized-cross">
                                                        <use xlink:href="#stylized-cross"></use>
                                                    </svg>
                                                </button>
                                                <h4 class="modals__components-modal-small-heading">
                                                    Пищевая ценность
                                                </h4>
                                                <div class="modals__components-modal-table">
                                                    <div class="modals__components-modal-per-portion">
                                                        На 70 г продукта:
                                                    </div>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <th>
                                                                    Калорийность
                                                                </th>
                                                                <td>
                                                                    196,1 ккал
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>
                                                                    Белки
                                                                </th>
                                                                <td>
                                                                    18 г
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>
                                                                    Жиры
                                                                </th>
                                                                <td>
                                                                    4,5 г
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>
                                                                    Углеводы
                                                                </th>
                                                                <td>
                                                                    16,15 г
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>
                                                                    Клетчатка
                                                                </th>
                                                                <td>
                                                                    9,5 г
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="constructor__popup-cookies-card-bottom-row">
                                    <div class="cart__item-quantity-block js-cart-item">
                                        <button
                                            class="cart__item-quantity-block-btn cart__item-quantity-block-btn--minus"
                                            type="button" disabled>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-minus">
                                                <use xlink:href="#minus"></use>
                                            </svg>
                                        </button>
                                        <div class="cart__item-quantity-input-wrapper">
                                            <input type="text" name="quantity" class="cart__item-quantity-input"
                                                readonly value="0" data-zero-allowed>
                                        </div>
                                        <button
                                            class="cart__item-quantity-block-btn cart__item-quantity-block-btn--plus"
                                            type="button">
                                            <svg width="16" height="16" aria-hidden="true" class="icon-plus">
                                                <use xlink:href="#plus"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </li>
                    <li class="constructor__popup-cookies-list-item">
                        <div class="constructor__popup-cookies-card">
                            <div class="constructor__popup-cookies-card-image-container">
                                <img src="img/constructor/cookies/3.png" alt=""
                                    class="constructor__popup-cookies-card-image">
                            </div>
                            <div class="constructor__popup-cookies-card-content">
                                <div class="constructor__popup-cookies-card-top-row">
                                    <h4 class="constructor__popup-cookies-card-title">
                                        Tropical Coconut
                                    </h4>
                                    <div class="constructor__popup-cookies-card-details">
                                        <span class="constructor__popup-cookies-card-details-link">
                                            КБЖУ ?
                                        </span>
                                        <div class="constructor__popup-cookies-card-details-dropdown">
                                            <div class="constructor__popup-cookies-card-details-dropdown-inner">
                                                <button class="constructor__popup-cookies-card-details-close">
                                                    <svg width="12" height="16" aria-hidden="true"
                                                        class="icon-stylized-cross">
                                                        <use xlink:href="#stylized-cross"></use>
                                                    </svg>
                                                </button>
                                                <h4 class="modals__components-modal-small-heading">
                                                    Пищевая ценность
                                                </h4>
                                                <div class="modals__components-modal-table">
                                                    <div class="modals__components-modal-per-portion">
                                                        На 70 г продукта:
                                                    </div>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <th>
                                                                    Калорийность
                                                                </th>
                                                                <td>
                                                                    196,1 ккал
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>
                                                                    Белки
                                                                </th>
                                                                <td>
                                                                    18 г
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>
                                                                    Жиры
                                                                </th>
                                                                <td>
                                                                    4,5 г
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>
                                                                    Углеводы
                                                                </th>
                                                                <td>
                                                                    16,15 г
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>
                                                                    Клетчатка
                                                                </th>
                                                                <td>
                                                                    9,5 г
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="constructor__popup-cookies-card-bottom-row">
                                    <div class="cart__item-quantity-block js-cart-item">
                                        <button
                                            class="cart__item-quantity-block-btn cart__item-quantity-block-btn--minus"
                                            type="button" disabled>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-minus">
                                                <use xlink:href="#minus"></use>
                                            </svg>
                                        </button>
                                        <div class="cart__item-quantity-input-wrapper">
                                            <input type="text" name="quantity" class="cart__item-quantity-input"
                                                readonly value="0" data-zero-allowed>
                                        </div>
                                        <button
                                            class="cart__item-quantity-block-btn cart__item-quantity-block-btn--plus"
                                            type="button">
                                            <svg width="16" height="16" aria-hidden="true" class="icon-plus">
                                                <use xlink:href="#plus"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </li>
                    <li class="constructor__popup-cookies-list-item">
                        <div class="constructor__popup-cookies-card">
                            <div class="constructor__popup-cookies-card-image-container">
                                <img src="img/constructor/cookies/4.png" alt=""
                                    class="constructor__popup-cookies-card-image">
                            </div>
                            <div class="constructor__popup-cookies-card-content">
                                <div class="constructor__popup-cookies-card-top-row">
                                    <h4 class="constructor__popup-cookies-card-title">
                                        Romovaya Baba
                                    </h4>
                                    <div class="constructor__popup-cookies-card-details">
                                        <span class="constructor__popup-cookies-card-details-link">
                                            КБЖУ ?
                                        </span>
                                        <div class="constructor__popup-cookies-card-details-dropdown">
                                            <div class="constructor__popup-cookies-card-details-dropdown-inner">
                                                <button class="constructor__popup-cookies-card-details-close">
                                                    <svg width="12" height="16" aria-hidden="true"
                                                        class="icon-stylized-cross">
                                                        <use xlink:href="#stylized-cross"></use>
                                                    </svg>
                                                </button>
                                                <h4 class="modals__components-modal-small-heading">
                                                    Пищевая ценность
                                                </h4>
                                                <div class="modals__components-modal-table">
                                                    <div class="modals__components-modal-per-portion">
                                                        На 70 г продукта:
                                                    </div>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <th>
                                                                    Калорийность
                                                                </th>
                                                                <td>
                                                                    196,1 ккал
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>
                                                                    Белки
                                                                </th>
                                                                <td>
                                                                    18 г
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>
                                                                    Жиры
                                                                </th>
                                                                <td>
                                                                    4,5 г
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>
                                                                    Углеводы
                                                                </th>
                                                                <td>
                                                                    16,15 г
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>
                                                                    Клетчатка
                                                                </th>
                                                                <td>
                                                                    9,5 г
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="constructor__popup-cookies-card-bottom-row">
                                    <div class="cart__item-quantity-block js-cart-item">
                                        <button
                                            class="cart__item-quantity-block-btn cart__item-quantity-block-btn--minus"
                                            type="button" disabled>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-minus">
                                                <use xlink:href="#minus"></use>
                                            </svg>
                                        </button>
                                        <div class="cart__item-quantity-input-wrapper">
                                            <input type="text" name="quantity" class="cart__item-quantity-input"
                                                readonly value="0" data-zero-allowed>
                                        </div>
                                        <button
                                            class="cart__item-quantity-block-btn cart__item-quantity-block-btn--plus"
                                            type="button">
                                            <svg width="16" height="16" aria-hidden="true" class="icon-plus">
                                                <use xlink:href="#plus"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </li>
                    <li class="constructor__popup-cookies-list-item">
                        <div class="constructor__popup-cookies-card">
                            <div class="constructor__popup-cookies-card-image-container">
                                <img src="img/constructor/cookies/5.png" alt=""
                                    class="constructor__popup-cookies-card-image">
                            </div>
                            <div class="constructor__popup-cookies-card-content">
                                <div class="constructor__popup-cookies-card-top-row">
                                    <h4 class="constructor__popup-cookies-card-title">
                                        Honey Cream
                                    </h4>
                                    <div class="constructor__popup-cookies-card-details">
                                        <span class="constructor__popup-cookies-card-details-link">
                                            КБЖУ ?
                                        </span>
                                        <div class="constructor__popup-cookies-card-details-dropdown">
                                            <div class="constructor__popup-cookies-card-details-dropdown-inner">
                                                <button class="constructor__popup-cookies-card-details-close">
                                                    <svg width="12" height="16" aria-hidden="true"
                                                        class="icon-stylized-cross">
                                                        <use xlink:href="#stylized-cross"></use>
                                                    </svg>
                                                </button>
                                                <h4 class="modals__components-modal-small-heading">
                                                    Пищевая ценность
                                                </h4>
                                                <div class="modals__components-modal-table">
                                                    <div class="modals__components-modal-per-portion">
                                                        На 70 г продукта:
                                                    </div>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <th>
                                                                    Калорийность
                                                                </th>
                                                                <td>
                                                                    196,1 ккал
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>
                                                                    Белки
                                                                </th>
                                                                <td>
                                                                    18 г
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>
                                                                    Жиры
                                                                </th>
                                                                <td>
                                                                    4,5 г
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>
                                                                    Углеводы
                                                                </th>
                                                                <td>
                                                                    16,15 г
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>
                                                                    Клетчатка
                                                                </th>
                                                                <td>
                                                                    9,5 г
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="constructor__popup-cookies-card-bottom-row">
                                    <div class="cart__item-quantity-block js-cart-item">
                                        <button
                                            class="cart__item-quantity-block-btn cart__item-quantity-block-btn--minus"
                                            type="button" disabled>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-minus">
                                                <use xlink:href="#minus"></use>
                                            </svg>
                                        </button>
                                        <div class="cart__item-quantity-input-wrapper">
                                            <input type="text" name="quantity" class="cart__item-quantity-input"
                                                readonly value="0" data-zero-allowed>
                                        </div>
                                        <button
                                            class="cart__item-quantity-block-btn cart__item-quantity-block-btn--plus"
                                            type="button">
                                            <svg width="16" height="16" aria-hidden="true" class="icon-plus">
                                                <use xlink:href="#plus"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </li>
                    <li class="constructor__popup-cookies-list-item">
                        <div class="constructor__popup-cookies-card">
                            <div class="constructor__popup-cookies-card-image-container">
                                <img src="img/constructor/cookies/6.png" alt=""
                                    class="constructor__popup-cookies-card-image">
                            </div>
                            <div class="constructor__popup-cookies-card-content">
                                <div class="constructor__popup-cookies-card-top-row">
                                    <h4 class="constructor__popup-cookies-card-title">
                                        Lemon-Lime
                                    </h4>
                                    <div class="constructor__popup-cookies-card-details">
                                        <span class="constructor__popup-cookies-card-details-link">
                                            КБЖУ ?
                                        </span>
                                        <div class="constructor__popup-cookies-card-details-dropdown">
                                            <div class="constructor__popup-cookies-card-details-dropdown-inner">
                                                <button class="constructor__popup-cookies-card-details-close">
                                                    <svg width="12" height="16" aria-hidden="true"
                                                        class="icon-stylized-cross">
                                                        <use xlink:href="#stylized-cross"></use>
                                                    </svg>
                                                </button>
                                                <h4 class="modals__components-modal-small-heading">
                                                    Пищевая ценность
                                                </h4>
                                                <div class="modals__components-modal-table">
                                                    <div class="modals__components-modal-per-portion">
                                                        На 70 г продукта:
                                                    </div>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <th>
                                                                    Калорийность
                                                                </th>
                                                                <td>
                                                                    196,1 ккал
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>
                                                                    Белки
                                                                </th>
                                                                <td>
                                                                    18 г
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>
                                                                    Жиры
                                                                </th>
                                                                <td>
                                                                    4,5 г
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>
                                                                    Углеводы
                                                                </th>
                                                                <td>
                                                                    16,15 г
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>
                                                                    Клетчатка
                                                                </th>
                                                                <td>
                                                                    9,5 г
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="constructor__popup-cookies-card-bottom-row">
                                    <div class="cart__item-quantity-block js-cart-item">
                                        <button
                                            class="cart__item-quantity-block-btn cart__item-quantity-block-btn--minus"
                                            type="button" disabled>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-minus">
                                                <use xlink:href="#minus"></use>
                                            </svg>
                                        </button>
                                        <div class="cart__item-quantity-input-wrapper">
                                            <input type="text" name="quantity" class="cart__item-quantity-input"
                                                readonly value="0" data-zero-allowed>
                                        </div>
                                        <button
                                            class="cart__item-quantity-block-btn cart__item-quantity-block-btn--plus"
                                            type="button">
                                            <svg width="16" height="16" aria-hidden="true" class="icon-plus">
                                                <use xlink:href="#plus"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </li>
                </ul>

                <div class="constructor__edit-btns">
                    <a href="#" class="constructor__cancel-btn">
                        Отмена
                    </a>
                    <button class="constructor__submit-btn" type="submit">
                        Сохранить
                    </button>
                </div>
            </div>
        </div>
        <div class="constructor__edit-btns constructor__edit-btns--mobile">
            <a href="#" class="constructor__cancel-btn">
                Отмена
            </a>
            <button class="constructor__submit-btn" type="submit">
                Сохранить
            </button>
        </div>
    </form>
</div>