<header class="page-header {{#if biegeHeader}} page-header--biege {{/if}}">
    <div class="container">
        <div class="page-header__row">
            <div class="page-header__tablet-burger">
                <button class="page-header__tablet-burger-btn js-tablet-burger-btn">
                    <span class="page-header__tablet-burger-content">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </button>
                <div class="page-header__tablet-burger-dropdown">
                    <div class="page-header__tablet-burger-dropdown-inner">
                        <ul class="page-header__tablet-burger-menu-list">
                            <li class="page-header__tablet-burger-menu-list-item">
                                <a href="#" class="page-header__tablet-burger-menu-link">
                                    Конструктор
                                </a>
                            </li>
                            <li class="page-header__tablet-burger-menu-list-item">
                                <a href="#" class="page-header__tablet-burger-menu-link">
                                    Оплата и доставка
                                </a>
                            </li>
                            <li class="page-header__tablet-burger-menu-list-item">
                                <a href="#" class="page-header__tablet-burger-menu-link">
                                    Блог
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="page-header__city">
                <a href="#city-modal" class="page-header__city-link js-open-modal">
                    <svg width="12" height="16" aria-hidden="true" class="icon-location">
                        <use xlink:href="#location"></use>
                    </svg>
                    Москва
                </a>
            </div>

            <div class="page-header__navigation">
                <div class="page-header__navigation-links">
                    <div class="page-header__navigation-link-wrapper">
                        <a href="#" class="page-header__navigation-link">
                            <span class="page-header__navigation-link-text">
                                Каталог
                            </span>
                        </a>
                        <div class="page-header__navigation-dropdown">
                            <div class="page-header__navigation-dropdown-inner">
                                <ul class="page-header__navigation-dropdown-list">
                                    <li class="page-header__navigation-dropdown-list-item">
                                        <a href="#" class="page-header__navigation-dropdown-card">
                                            <div class="page-header__navigation-dropdown-card-image-container yellow-backplate">
                                                <img src="img/catalog/1.png" alt=""
                                                    class="page-header__navigation-dropdown-card-image">
                                            </div>
                                            <h4 class="page-header__navigation-dropdown-card-title">
                                                Protein Cake
                                            </h4>
                                            <div class="page-header__navigation-dropdown-card-desc">
                                                Печенье глазированное
                                            </div>
                                            <div class="page-header__navigation-dropdown-card-price">
                                                от 1 200 ₽
                                            </div>
                                        </a>
                                    </li>
                                    <li class="page-header__navigation-dropdown-list-item">
                                        <a href="#" class="page-header__navigation-dropdown-card">
                                            <div class="page-header__navigation-dropdown-card-image-container pink-backplate">
                                                <img src="img/catalog/2.png" alt=""
                                                    class="page-header__navigation-dropdown-card-image">
                                            </div>
                                            <h4 class="page-header__navigation-dropdown-card-title">
                                                Protein Cookie
                                            </h4>
                                            <div class="page-header__navigation-dropdown-card-desc">
                                                Печенье высокобелковое
                                            </div>
                                            <div class="page-header__navigation-dropdown-card-price">
                                                от 2 800 ₽
                                            </div>
                                        </a>
                                    </li>
                                    <li class="page-header__navigation-dropdown-list-item">
                                        <a href="#" class="page-header__navigation-dropdown-card">
                                            <div class="page-header__navigation-dropdown-card-image-container red-backplate">
                                                <img src="img/catalog/3.png" alt=""
                                                    class="page-header__navigation-dropdown-card-image">
                                            </div>
                                            <h4 class="page-header__navigation-dropdown-card-title">
                                                Choco Protein Cookie
                                            </h4>
                                            <div class="page-header__navigation-dropdown-card-desc">
                                                Печенье высокобелковое
                                                глазированное
                                            </div>
                                            <div class="page-header__navigation-dropdown-card-price">
                                                от 1 200 ₽
                                            </div>
                                        </a>
                                    </li>
                                    <li class="page-header__navigation-dropdown-list-item">
                                        <a href="#" class="page-header__navigation-dropdown-card">
                                            <div class="page-header__navigation-dropdown-card-image-container brown-backplate">
                                                <img src="img/catalog/4.png" alt=""
                                                    class="page-header__navigation-dropdown-card-image">
                                            </div>
                                            <h4 class="page-header__navigation-dropdown-card-title">
                                                Extra Protein Cake
                                            </h4>
                                            <div class="page-header__navigation-dropdown-card-desc">
                                                Печенье высокобелковое
                                            </div>
                                            <div class="page-header__navigation-dropdown-card-price">
                                                от 1 200 ₽
                                            </div>
                                        </a>
                                    </li>
                                    <li class="page-header__navigation-dropdown-list-item">
                                        <a href="#" class="page-header__navigation-dropdown-card">
                                            <div class="page-header__navigation-dropdown-card-image-container yellow-backplate">
                                                <img src="img/catalog/1.png" alt=""
                                                    class="page-header__navigation-dropdown-card-image">
                                            </div>
                                            <h4 class="page-header__navigation-dropdown-card-title">
                                                Protein Cake
                                            </h4>
                                            <div class="page-header__navigation-dropdown-card-desc">
                                                Печенье глазированное
                                            </div>
                                            <div class="page-header__navigation-dropdown-card-price">
                                                от 1 200 ₽
                                            </div>
                                        </a>
                                    </li>
                                    <li class="page-header__navigation-dropdown-list-item">
                                        <a href="#" class="page-header__navigation-dropdown-card">
                                            <div class="page-header__navigation-dropdown-card-image-container pink-backplate">
                                                <img src="img/catalog/2.png" alt=""
                                                    class="page-header__navigation-dropdown-card-image">
                                            </div>
                                            <h4 class="page-header__navigation-dropdown-card-title">
                                                Protein Cookie
                                            </h4>
                                            <div class="page-header__navigation-dropdown-card-desc">
                                                Печенье высокобелковое
                                            </div>
                                            <div class="page-header__navigation-dropdown-card-price">
                                                от 2 800 ₽
                                            </div>
                                        </a>
                                    </li>
                                    <li class="page-header__navigation-dropdown-list-item">
                                        <a href="#" class="page-header__navigation-dropdown-card">
                                            <div class="page-header__navigation-dropdown-card-image-container red-backplate">
                                                <img src="img/catalog/3.png" alt=""
                                                    class="page-header__navigation-dropdown-card-image">
                                            </div>
                                            <h4 class="page-header__navigation-dropdown-card-title">
                                                Choco Protein Cookie
                                            </h4>
                                            <div class="page-header__navigation-dropdown-card-desc">
                                                Печенье высокобелковое
                                                глазированное
                                            </div>
                                            <div class="page-header__navigation-dropdown-card-price">
                                                от 1 200 ₽
                                            </div>
                                        </a>
                                    </li>
                                   
                                   
                                    <li class="page-header__navigation-dropdown-list-item">
                                        <a href="#" class="page-header__navigation-dropdown-card">
                                            <div class="page-header__navigation-dropdown-card-image-container all-backplate">
                                                <img src="img/catalog/5.png" alt=""
                                                    class="page-header__navigation-dropdown-card-image">
                                            </div>
                                            <h4 class="page-header__navigation-dropdown-card-title">
                                                Весь ассортимент
                                            </h4>
                                            <div class="page-header__navigation-dropdown-card-desc">
                                                86 продуктов
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>

                    <a href="#" class="page-header__navigation-link">
                        <span class="page-header__navigation-link-text">
                            Конструктор
                        </span>
                    </a>
                </div>
                <div class="page-header__navigation-logo-wrapper">
                    <a href="index.html" class="page-header__navigation-logo">
                        <picture>
                            <source srcset="img/logos/mobile-red-logo.png" media="(max-width: 640px)">
                            <img src="img/logos/logo-red.png" alt="Лого" class="page-header__navigation-logo-image"
                                width="68">
                        </picture>
                    </a>
                </div>



                <div class="page-header__navigation-links">
                    <a href="#" class="page-header__navigation-link">
                        <span class="page-header__navigation-link-text">
                            Оплата и доставка
                        </span>
                    </a>
                    <a href="#" class="page-header__navigation-link">
                        <span class="page-header__navigation-link-text">
                            Блог
                        </span>
                    </a>
                </div>

            </div>


            <div class="page-header__btns">
                <a href="#" class="page-header__btn">
                    <svg width="12" height="16" aria-hidden="true" class="icon-instagram">
                        <use xlink:href="#instagram"></use>
                    </svg>
                </a>
                <a href="#" class="page-header__btn">
                    <svg width="12" height="16" aria-hidden="true" class="icon-person">
                        <use xlink:href="#person"></use>
                    </svg>
                </a>
                <a href="#" class="page-header__btn js-cart-open">
                    <svg width="12" height="16" aria-hidden="true" class="icon-cart">
                        <use xlink:href="#cart"></use>
                    </svg>
                    <span class="page-header__btn-count">
                        3
                    </span>
                </a>
            </div>
        </div>
    </div>
</header>