<header class="page-header">
    <div class="container">
        <div class="page-header__row">
            <div class="page-header__city">
                <a href="#" class="page-header__city-link">
                    <svg width="12" height="16" aria-hidden="true" class="icon-location">
                        <use xlink:href="#location"></use>
                    </svg>
                    Москва
                </a>
            </div>

            <div class="page-header__navigation">
                <div class="page-header__navigation-links">
                    <a href="#" class="page-header__navigation-link">
                        Каталог
                    </a>
                    <a href="#" class="page-header__navigation-link">
                        Конструктор
                    </a>
                </div>
                <div class="page-header__navigation-logo-wrapper">
                    <a href="index.html" class="page-header__navigation-logo">
                        <img src="img/logos/logo-red.png" alt="" class="page-header__navigation-logo-image" width="68"
                            height="120">
                    </a>
                </div>



                <div class="page-header__navigation-links">
                    <a href="#" class="page-header__navigation-link">
                        Оплата и доставка
                    </a>
                    <a href="#" class="page-header__navigation-link">
                        Блог
                    </a>
                </div>

            </div>


            <div class="page-header__btns">
                <a href="#" class="page-header__btn">
                    <svg width="12" height="16" aria-hidden="true" class="icon-instagram">
                        <use xlink:href="#instagram"></use>
                    </svg>
                </a>
                <a href="#" class="page-header__btn">
                    <svg width="12" height="16" aria-hidden="true" class="icon-person">
                        <use xlink:href="#person"></use>
                    </svg>
                </a>
                <a href="#" class="page-header__btn">
                    <svg width="12" height="16" aria-hidden="true" class="icon-cart">
                        <use xlink:href="#cart"></use>
                    </svg>
                    <span class="page-header__btn-count">
                        3
                    </span>
                </a>
            </div>
        </div>
    </div>
</header>