<div class="messages">
    <div class="message message--short" id="link-copied">
        <svg width="12" height="16" aria-hidden="true" class="icon-message-ok">
            <use xlink:href="#message-ok"></use>
        </svg>
        <div class="message__content">
            <h5 class="message__heading">
                Операция выполнена
            </h5>
            <div class="message__text">
                Ссылка скопирована
            </div>
        </div>
    </div>
</div>