<div class="mobile-nav">

    {{#if mobileAddToCartButton}}
    <div class="mobile-nav__add-to-cart-btn-wrapper {{#if mobileAddButtonHiddenByDefault}} hidden {{/if}}"> 
        <a class="mobile-nav__add-to-cart-btn js-added-to-cart-open">
            В корзину 
            <div class="mobile-nav__add-to-cart-btn-total">
                2 880 ₽
            </div>
        </a>
    </div>
    {{/if}}
    <ul class="mobile-nav__list">
        <li class="mobile__nav-list-item">
            <a href="#" class="mobile-nav__btn">
                <div class="mobile-nav__btn-icon">
                    <svg width="22" height="22" aria-hidden="true" class="icon-mobile-menu-house">
                        <use xlink:href="#mobile-menu-house"></use>
                    </svg>
                </div>

            </a>
        </li>
        <li class="mobile__nav-list-item">
            <a href="where-to-buy.html" class="mobile-nav__btn">
                <div class="mobile-nav__btn-icon">
                    <svg width="22" height="22" aria-hidden="true" class="icon-mobile-menu-location">
                        <use xlink:href="#mobile-menu-location"></use>
                    </svg>
                </div>
            </a>
        </li>
        <li class="mobile__nav-list-item">
            <a href="#" class="mobile-nav__btn">
                <div class="mobile-nav__btn-icon">
                    <svg width="22" height="22" aria-hidden="true" class="icon-mobile-menu-person">
                        <use xlink:href="#mobile-menu-person"></use>
                    </svg>
                </div>

            </a>
        </li>
        <li class="mobile__nav-list-item">
            <a href="cart.html" class="mobile-nav__btn">
                <div class="mobile-nav__btn-icon">
                    <svg width="22" height="22" aria-hidden="true" class="icon-cart">
                        <use xlink:href="#cart"></use>
                    </svg>
                    <div class="mobile-nav__btn-counter">
                        3
                    </div>
                </div>

            </a>
        </li>
        <li class="mobile__nav-list-item">
            <a href="#" class="mobile-nav__btn js-mobile-menu-open">
                <div class="mobile-nav__btn-icon">
                    <svg width="22" height="22" aria-hidden="true" class="icon-mobile-menu-burger">
                        <use xlink:href="#mobile-menu-burger"></use>
                    </svg>
                </div>

            </a>
        </li>
    </ul>
</div>