<div class="modals">
    <div class="modals__modal js-modal" id="video-modal">
        <div class="modals__modal-inner modals__modal-inner--video">
            <button class="modals__modal-close js-close-modal">
                <svg width="12" height="16" aria-hidden="true" class="icon-stylized-cross">
                    <use xlink:href="#stylized-cross"></use>
                </svg>
            </button>
            <div class="modals__modal-video-player">
                {{!-- <a href="#" class="modals__modal-video-player-container">
                    <img src="img/modals/modal-preview.jpg" alt="" class="modals__modal-video-player-image">
                    <svg width="16" height="16" aria-hidden="true" class="icon-play">
                        <use xlink:href="#play"></use>
                    </svg>
                </a> --}}

                <div class="modals__player js-video-player" data-plyr-provider="youtube"
                    data-plyr-embed-id="bTqVqk7FSmY">

                </div>
            </div>
        </div>
    </div>

    <div class="modals__modal js-modal" id="product-gallery-modal">
        <div class="modals__modal-inner modals__modal-inner--product">
            <button class="modals__modal-close js-close-modal">
                <svg width="12" height="16" aria-hidden="true" class="icon-stylized-cross">
                    <use xlink:href="#stylized-cross"></use>
                </svg>
            </button>
            <div class="modals__modal-product-gallery modals__modal-product-gallery--modal">
                <div class="product__gallery product__gallery--inside-modal js-product-gallery">
                    <div class="product__gallery-left-col">
                        <div class="product__gallery-thumbs-slider">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="product__gallery-thumbs-slider-card">
                                            <img src="img/product/thumbs/1.png" alt=""
                                                class="product__gallery-thumbs-slider-card-image">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="product__gallery-thumbs-slider-card">
                                            <img src="img/product/thumbs/2.png" alt=""
                                                class="product__gallery-thumbs-slider-card-image">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="product__gallery-thumbs-slider-card">
                                            <img src="img/product/thumbs/3.png" alt=""
                                                class="product__gallery-thumbs-slider-card-image">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="product__gallery-thumbs-slider-card">
                                            <img src="img/product/thumbs/2.png" alt=""
                                                class="product__gallery-thumbs-slider-card-image">

                                            <svg width="12" height="16" aria-hidden="true" class="icon-play">
                                                <use xlink:href="#play"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product__gallery-right-col">
                        <div class="product__gallery-main-slider">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="product__gallery-main-slider-card">
                                            <img src="img/product/product-main-card-image.png" alt=""
                                                class="product__gallery-main-slider-card-image">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="product__gallery-main-slider-card">
                                            <img src="img/product/product-main-card-image.png" alt=""
                                                class="product__gallery-main-slider-card-image">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="product__gallery-main-slider-card">
                                            <img src="img/product/product-main-card-image.png" alt=""
                                                class="product__gallery-main-slider-card-image">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#video-modal" class="product__gallery-main-slider-card js-open-modal">
                                            <img src="img/product/product-main-card-image.png" alt=""
                                                class="product__gallery-main-slider-card-image">

                                            <svg width="12" height="16" aria-hidden="true" class="icon-play">
                                                <use xlink:href="#play"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modals__modal modals__modal--city js-modal" id="city-modal">
        <div class="modals__modal-inner modals__modal-inner--city js-city-search">
            <button class="modals__modal-close js-close-modal">
                <svg width="12" height="16" aria-hidden="true" class="icon-stylized-cross">
                    <use xlink:href="#stylized-cross"></use>
                </svg>
            </button>
            <div class="modals__modal-city">
                <h3 class="modals__modal-city-heading">
                    <div class="modals__modal-city-heading-text">
                        Ваш город
                    </div>

                    <div class="modals__modal-current-city">
                        <svg width="12" height="16" aria-hidden="true" class="icon-location">
                            <use xlink:href="#location"></use>
                        </svg>
                        Москва
                    </div>
                </h3>
                <form action="/" method="POST" class="modals__modal-city-form">

                    <input type="search" class="text-input modals__modal-city-form-input" name="city-name"
                        id="city-name" placeholder="Название города">
                    <div class="modals__modal-city-form-submit">
                        <svg width="16" height="16" aria-hidden="true" class="icon-search">
                            <use xlink:href="#search"></use>
                        </svg>
                    </div>
                </form>
                <div class="modals__modal-city-results">
                    <ul class="modals__modal-city-results-list">
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Абакан
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Армавир
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Архангельск
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Барнаул
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Белгород
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Владивосток
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Волгоград
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Вологда
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Воронеж
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Грозный
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Екатеринбург
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Ижевск
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Иркутск
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Йошкар-Ола
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Казань
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Калуга
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Кемерово
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Киров
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Кострома
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Краснодар
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Красноярск
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Курган
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Курск
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Магнитогорск
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Мончегорск
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Москва
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Набережные Челны
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Назрань
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Нальчик
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Нижний Новгород
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Нижний Тагил
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Новороссийск
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Норильск
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Ноябрьск
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Омск
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Орёл
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Оренбург
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Пенза
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Пермь
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Петрозаводск
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Пятигорск
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Ростов-на-Дону
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Рязань
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Салехард
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Самара
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Санкт-Петербург
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Саранск
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Саратов
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Северодвинск
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Смоленск
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Сочи
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Ставрополь
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Сызрань
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Сыктывкар
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Тамбов
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Тверь
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Тольятти
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Томск
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Тула
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Тюмень
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Ульяновск
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Уфа
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="" class="modals__modal-city-results-card">
                                Чебоксары
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Чита
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Якутск
                            </a>
                        </li>
                        <li class="modals__modal-city-results-list-item">
                            <a href="#" class="modals__modal-city-results-card">
                                Ярославль
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="modals__modal js-modal" id="components-modal">
        <div class="modals__modal-inner modals__modal-inner--components">
            <button class="modals__modal-close js-close-modal">
                <svg width="12" height="16" aria-hidden="true" class="icon-stylized-cross">
                    <use xlink:href="#stylized-cross"></use>
                </svg>
            </button>
            <div class="modals__components-modal">
                <h3 class="modals__components-modal-heading">
                    Banana Pudding
                </h3>
                <div class="modals__components-modal-row">
                    <div class="modals__components-modal-left-col">
                        <h4 class="modals__components-modal-small-heading">
                            Пищевая ценность
                        </h4>
                        <div class="modals__components-modal-table">
                            <div class="modals__components-modal-per-portion">
                                На 70 г продукта:
                            </div>

                            <table>
                                <tbody>
                                    <tr>
                                        <th>
                                            Калорийность
                                        </th>
                                        <td>
                                            196,1 ккал
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Белки
                                        </th>
                                        <td>
                                            18 г
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Жиры
                                        </th>
                                        <td>
                                            4,5 г
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Углеводы
                                        </th>
                                        <td>
                                            16,15 г
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Клетчатка
                                        </th>
                                        <td>
                                            9,5 г
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modals__components-modal-right-col">
                        <h4 class="modals__components-modal-small-heading">
                            Состав
                        </h4>
                        <div class="modals__components-modal-text">
                            <p>
                                Изомальтоолигосахарид, смесь белков (концентрат молочного белка, концентрат
                                сывороточного белка), вода, кокосовое масло, глицерин, сорбитоловый сироп, разрыхлитель,
                                ароматизатор идентичный натуральному, суфле (изомальтоолигосахарид, концентрат
                                сывороточного белка, вода, глицерин, лимонная кислота, ароматизатор идентичный
                                натуральному, сорбат калия, краситель натуральный), глазурь кондитерская без добавления
                                сахара (какао-масло, изомальт, какао-порошок, концентрат молочного белка, вода,
                                сыворотка сухая деминерализованная, эмульгатор лецитин соевый, натуральный подсластитель
                                стевиозид, ароматизатор “ванилин”). Может содержать следы арахиса.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    {{!-- <div class="modals__modal js-modal" id="calories">
        <div class="modals__modal-inner modals__modal-inner--components modals__modal-inner--components-short">
            <button class="modals__modal-close js-close-modal">
                <svg width="12" height="16" aria-hidden="true" class="icon-stylized-cross">
                    <use xlink:href="#stylized-cross"></use>
                </svg>
            </button>
            <div class="modals__components-modal">

                <h4 class="modals__components-modal-small-heading">
                    Пищевая ценность
                </h4>
                <div class="modals__components-modal-table">
                    <div class="modals__components-modal-per-portion">
                        На 70 г продукта:
                    </div>
                    <table>
                        <tbody>
                            <tr>
                                <th>
                                    Калорийность
                                </th>
                                <td>
                                    196,1 ккал
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Белки
                                </th>
                                <td>
                                    18 г
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Жиры
                                </th>
                                <td>
                                    4,5 г
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Углеводы
                                </th>
                                <td>
                                    16,15 г
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Клетчатка
                                </th>
                                <td>
                                    9,5 г
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div> --}}

    <div class="modals__modal modals__modal--write-us js-modal" id="write-us-modal">
        <div class="modals__modal-inner modals__modal-inner--write-us">
            <button class="modals__modal-close js-close-modal">
                <svg width="12" height="16" aria-hidden="true" class="icon-stylized-cross">
                    <use xlink:href="#stylized-cross"></use>
                </svg>
            </button>
            <form action="/" method="POST" class="modals__write-us" data-need-validation id="write-us-form">
                <h3 class="modals__write-us-heading">
                    Написать нам
                </h3>
                <div class="modals__write-us-row">
                    <label for="firstname" class="text-input-label">
                        Имя *
                    </label>
                    <input type="text" class="text-input" name="firstname" id="firstname" required>
                </div>
                <div class="modals__write-us-row">
                    <label for="email" class="text-input-label">
                        E-mail *
                    </label>
                    <input type="email" class="text-input" name="email" id="email" required>
                </div>
                <div class="modals__write-us-row">
                    <label for="tel" class="text-input-label">
                        Телефон
                    </label>
                    <input type="tel" class="text-input js-phone-input" name="tel" id="tel" required data-parsley-phone>
                </div>
                <div class="modals__write-us-row">
                    <label for="comment" class="text-input-label">
                        Ваше сообщение
                    </label>
                    <textarea class="text-input modals__write-us-textarea"></textarea>
                </div>
                <button class="btn modals__write-us-submit" type="submit">
                    Отправить сообщение
                </button>
                <div class="modals__write-us-policy">
                    <label class="standard-checkbox">
                        <input type="checkbox" class="standard-checkbox__input" name="policy" required>
                        <span class="standard-checkbox__mark">
                            <svg width="16" height="16" aria-hidden="true" class="icon-checkmark">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                        </span>
                        <span class="standard-checkbox__text">
                            Согласен с условиями <a href="#">
                                политики конфиденциальности
                            </a>
                        </span>
                    </label>
                </div>
            </form>
        </div>
    </div>
    <div class="modals__modal modals__modal--write-us js-modal" id="your-data">
        <div class="modals__modal-inner modals__modal-inner--write-us">
            <button class="modals__modal-close js-close-modal">
                <svg width="12" height="16" aria-hidden="true" class="icon-stylized-cross">
                    <use xlink:href="#stylized-cross"></use>
                </svg>
            </button>
            <form action="/" method="POST" class="modals__write-us" data-need-validation id="your-data-form">
                <h3 class="modals__write-us-heading">
                    Ваши данные
                </h3>
                <div class="modals__write-us-row">
                    <label for="yourfirstname" class="text-input-label" >
                        Имя *
                    </label>
                    <input type="text" class="text-input" name="firstname" id="yourfirstname" required value="Семеновский">
                </div>
                <div class="modals__write-us-row">
                    <label for="yourlastname" class="text-input-label">
                        Фамилия *
                    </label>
                    <input type="text" class="text-input" name="lastname" id="yourlastname" required value="Семен">
                </div>
                <div class="modals__write-us-row">
                    <label for="yoursurname" class="text-input-label">
                        Отчество
                    </label>
                    <input type="text" class="text-input" name="lastname" id="yoursurname">
                </div>

                <div class="modals__write-us-row">
                    <label for="yourtel" class="text-input-label">
                        Телефон
                    </label>
                    <input type="tel" class="text-input js-phone-input" name="tel" id="yourtel" required
                        data-parsley-phone value="+7 (495) 123-45-67">
                </div>

                <button class="btn modals__write-us-submit" type="submit">
                    Сохранить
                </button>

            </form>
        </div>
    </div>
    <div class="modals__modal modals__modal--write-us js-modal" id="login">
        <div class="modals__modal-inner modals__modal-inner--write-us">
            <button class="modals__modal-close js-close-modal">
                <svg width="12" height="16" aria-hidden="true" class="icon-stylized-cross">
                    <use xlink:href="#stylized-cross"></use>
                </svg>
            </button>
            <form action="/" method="POST" class="modals__write-us" data-need-validation id="login-form">
                <h3 class="modals__write-us-heading">
                    Ваши данные
                </h3>
                <div class="modals__write-us-row">
                    <label for="auth-login" class="text-input-label" >
                        Логин *
                    </label>
                    <input type="text" class="text-input" name="auth-login" id="auth-login" required>
                </div>
                <div class="modals__write-us-row">
                    <label for="auth-password" class="text-input-label" >
                        Пароль
                    </label>
                    <input type="password" class="text-input" name="auth-password" id="auth-password" required>
                </div>
               

                <button class="btn modals__write-us-submit" type="submit">
                    Авторизоваться
                </button>

            </form>
        </div>
    </div>
    <div class="modals__modal modals__modal--write-us js-modal" id="write-us-success">
        <div class="modals__modal-inner modals__modal-inner--write-us modals__modal-inner--write-us-success">
            <button class="modals__modal-close js-close-modal">
                <svg width="12" height="16" aria-hidden="true" class="icon-stylized-cross">
                    <use xlink:href="#stylized-cross"></use>
                </svg>
            </button>
            <div class="modals__write-us-success">
                <h3 class="modals__write-us-heading">
                    Написать нам
                </h3>
                <div class="modals__write-us-success-text">
                    <p>
                        <strong>
                            Ваше сообщение отправлено!
                        </strong>
                    </p>
                    <p>
                        В самое ближайшее время мы свяжемся с вами по указанным контактам.
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>