<div class="payment-and-shipping__shipping">
    <h2 class="section-heading payment-and-shipping__heading payment-and-shipping__shipping-heading">
        Доставка
    </h2>
    <div class="payment-and-shipping__shipping-general-conditions">
        <a href="#city-modal" class="payment-and-shipping__shipping-city js-open-modal">
            <svg width="12" height="16" aria-hidden="true" class="icon-location">
                <use xlink:href="#location"></use>
            </svg>
            Москва
        </a>
        <div class="payment-and-shipping__shipping-free">
            При заказе от <strong>2 400 ₽</strong> — бесплатно!
        </div>
    </div>
    <div class="payment-and-shipping__shipping-choices">
        <ul class="payment-and-shipping__shipping-choices-list">
            <li class="payment-and-shipping__shipping-choices-list-item">
                <div class="payment-and-shipping__shipping-choices-card">

                    <div class="payment-and-shipping__shipping-choices-card-content">
                        <h4 class="payment-and-shipping__shipping-choices-card-heading">
                            <div class="payment-and-shipping__shipping-choices-card-icon-container">
                                <img src="img/payment-and-shipping/shipping-icon-1.svg" alt=""
                                    class="payment-and-shipping__shipping-choices-card-icon payment-and-shipping__shipping-choices-card-icon--location"
                                    width="50">
                            </div>
                            Самовывоз из пункта выдачи
                        </h4>
                        <div class="payment-and-shipping__shipping-choices-card-details">
                            Стоимость: <strong>270</strong> ₽<br>Срок: <strong>2-3</strong> дня
                        </div>
                    </div>
                </div>
            </li>
            <li class="payment-and-shipping__shipping-choices-list-item">
                <div class="payment-and-shipping__shipping-choices-card">

                    <div class="payment-and-shipping__shipping-choices-card-content">
                        <h4 class="payment-and-shipping__shipping-choices-card-heading">
                            <div class="payment-and-shipping__shipping-choices-card-icon-container">
                                <img src="img/payment-and-shipping/shipping-icon-2.svg" alt=""
                                    class="payment-and-shipping__shipping-choices-card-icon payment-and-shipping__shipping-choices-card-icon--car"
                                    width="50">
                            </div>
                            Курьером
                        </h4>
                        <div class="payment-and-shipping__shipping-choices-card-details">
                            Стоимость: <strong>200</strong> ₽<br>Срок: <strong>2-3</strong> дня
                        </div>
                    </div>
                </div>
            </li>
            <li class="payment-and-shipping__shipping-choices-list-item">
                <div class="payment-and-shipping__shipping-choices-card">

                    <div class="payment-and-shipping__shipping-choices-card-content">
                        <h4 class="payment-and-shipping__shipping-choices-card-heading">
                            <div class="payment-and-shipping__shipping-choices-card-icon-container">
                                <img src="img/payment-and-shipping/shipping-icon-3.svg" alt=""
                                    class="payment-and-shipping__shipping-choices-card-icon payment-and-shipping__shipping-choices-card-icon--mail"
                                    width="50">
                            </div>

                            Почта России
                        </h4>
                        <div class="payment-and-shipping__shipping-choices-card-details">
                            Стоимость: <strong>500</strong> ₽<br>Срок: до <strong>14</strong> дней
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>