<div class="product__similar-products">
    <h2 class="section-heading product__similar-products-heading">
        ПОХОЖИЕ ПРОДУКТЫ
    </h2>
    <div class="product__similar-products-results js-similar-products">
        <div class="swiper-container">
            <ul class="swiper-wrapper product__similar-products-list">
                <li class="swiper-slide product__similar-products-list-item">
                    <a href="#" class="product__similar-products-card">
                        <div class="product__similar-products-card-image-container yellow-backplate">
                            <img src="img/cards/1-1.png" alt="" class="product__similar-products-card-image">
                        </div>
                        <h4 class="product__similar-products-card-title">
                            Protein Cake
                        </h4>
                    </a>
                </li>
                <li class="swiper-slide product__similar-products-list-item">
                    <a href="#" class="product__similar-products-card">
                        <div class="product__similar-products-card-image-container brown-backplate">
                            <img src="img/cards/2-1.png" alt="" class="product__similar-products-card-image">
                        </div>
                        <h4 class="product__similar-products-card-title">
                            Protein Cake
                        </h4>
                    </a>
                </li>
                <li class="swiper-slide product__similar-products-list-item">
                    <a href="#" class="product__similar-products-card">
                        <div class="product__similar-products-card-image-container yellow-backplate">
                            <img src="img/cards/3-1.png" alt="" class="product__similar-products-card-image">
                        </div>
                        <h4 class="product__similar-products-card-title">
                            Choco Protein Cookie
                        </h4>
                    </a>
                </li>
                <li class="swiper-slide product__similar-products-list-item">
                    <a href="#" class="product__similar-products-card">
                        <div class="product__similar-products-card-image-container pink-backplate">
                            <img src="img/cards/4-1.png" alt="" class="product__similar-products-card-image">
                        </div>
                        <h4 class="product__similar-products-card-title">
                            Extra Protein Cake
                        </h4>
                    </a>
                </li>
            </ul>
        </div>

    </div>

</div>