{{#extend "layout"}}
{{#content "main"}}


<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs__content breadcrumbs__content--no-dash">
            <ul class="breadcrumbs__list">
                <li class="breadcrumbs__list-item">
                    <a href="#" class="breadcrumbs__link">
                        <svg width="16" height="16" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                        Главная
                    </a>


                    <a class="breadcrumbs__link active">
                        <svg width="16" height="16" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                        О компании
                    </a>
                </li>
            </ul>

        </div>
    </div>
</div>
<article class="blog-detail blog-detail--about">
    <div class="container">
        <header class="blog-detail__header">
            <h1 class="main-heading blog-detail__heading blog-detail__heading--about">
                О компании

            </h1>
        </header>

        <div class="blog-detail__intro-image-container">
          

            <picture>
                <source data-srcset="img/about/about-mobile.jpg" media="(max-width: 640px)">
                <img data-src="img/about/about-company-bg.jpg" alt="Изображение в блоге"
                    class="blog-detail__intro-image lazyload" data-sizes="auto">
            </picture>
        </div>
        <div class="blog-detail__content">
            <p>
                <strong>
                    Гляньте-ка, кто тут у нас такой милый, красивый и самый-самый любимый – это мы про тебя, конечно же!
                </strong>
            </p>
            <p>
                Если честно, мы не ожидали, что ты сюда заглянешь. Но ты здесь - и поэтому ты нам нравишься еще больше!
                Надеемся, что это чувство будет взаимным (мы тоже классные, так что 100% сойдемся), и мы пойдем с тобой
                рука об руку в счастливую сладкую жизнь.
            </p>
            <div class="blog-detail__about-company-illustrations">
                <h3 class="blog-detail__about-company-illustrations-heading">
                    Прости нам нашу сентиментальность, перейдем ближе к делу ;)
                </h3>
                <div class="blog-detail__about-company-illustrations-items">
                    <div class="blog-detail__about-company-illustrations-item">
                        <div class="blog-detail__about-company-illustrations-row">
                            <div class="blog-detail__about-company-illustrations-col">
                                <div
                                    class="blog-detail__about-company-illustrations-text blog-detail__about-company-illustrations-text--has-splash">
                                    <p>
                                        Привет! Мы - FIT KIT. Команда единомышленников, работающих день и ночь, чтобы
                                        тебе
                                        было вкусно, сладко и максимально полезно. О наших кейках и печеньках уже
                                        слагают
                                        легенды, советуем не тянуть и поскорее попробовать их!

                                    </p>
                                </div>
                            </div>
                            <div class="blog-detail__about-company-illustrations-col">
                                <img src="img/about/illustration-1.png" alt=""
                                    class="blog-detail__about-company-illustrations-image">
                            </div>
                        </div>
                    </div>
                    <div class="blog-detail__about-company-illustrations-item">
                        <div class="blog-detail__about-company-illustrations-row">
                            <div class="blog-detail__about-company-illustrations-col">
                                <img src="img/about/illustration-2.png" alt=""
                                    class="blog-detail__about-company-illustrations-image blog-detail__about-company-illustrations-image--short">

                            </div>
                            <div class="blog-detail__about-company-illustrations-col">
                                <div class="blog-detail__about-company-illustrations-text">
                                    <p>
                                        Мы выступаем против джанк-фуда и диет в классическом понимании. Мы за то, чтобы
                                        тебе
                                        не приходилось выбирать между вкусной едой и стройной фигурой. Именно поэтому
                                        наша
                                        команда создает вкусные высокобелковые десерты без добавления сахара и муки.
                                        Вместо
                                        них мы используем нежный белок, полученный из молока, и растворимую клетчатку. И
                                        это
                                        не традиционные прессованные бруски протеина – это самые настоящие пирожные и
                                        печеньки, которые не уступят сладостям в твоем любом кафе.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <h3>
                Наша производство и штаб- квартира FIT KIT
            </h3>
            <p>
                <b>ЧТО</b> мы производим уже рассказали, давай немного расскажем, <b>КАК</b> и
                <b>ГДЕ</b>.

                Наша команда базируется в Новосибирске.
                К производственным процессам мы относимся со всей ответственностью и хотим тебя заверить, что большую
                часть своего внимания мы уделяем этим принципам:
            </p>
            <div class="blog-detail__about-principles">
                <span class="blog-detail__about-principles-top-dash"></span>
                <span class="blog-detail__about-principles-bottom-dash"></span>
                <ol class="blog-detail__about-principles-list">
                    <li class="blog-detail__about-principles-list-item">
                        <div class="blog-detail__about-principles-card">
                            Контроль качества на каждом этапе производства
                        </div>
                    </li>
                    <li class="blog-detail__about-principles-list-item">
                        <div class="blog-detail__about-principles-card">
                            Тщательный отбор и использование сырья от крупнейших иностранных производителей
                        </div>
                    </li>
                    <li class="blog-detail__about-principles-list-item">
                        <div class="blog-detail__about-principles-card">
                            Приготовление исключительно на собственном оборудовании
                        </div>
                    </li>
                    <li class="blog-detail__about-principles-list-item">
                        <div class="blog-detail__about-principles-card">
                            Создание и воплощение авторских рецептов без добавления сахара
                        </div>
                    </li>
                    <li class="blog-detail__about-principles-list-item">
                        <div class="blog-detail__about-principles-card">
                            Чистота в производственных<br>помещениях
                        </div>
                    </li>
                </ol>
            </div>
            <p>
                Ты поймешь, о чём мы говорим, когда откусишь любой из наших продуктов.
                Потому что забота о покупателе - движущая сила каждого сотрудника компании FIT KIT. Это чувствуется
                сразу!
            </p>
            <h3>
                Несколько слов про офис
            </h3>
            <p>
                В 2020 году мы обустроили современную штаб-квартиру FIT KIT.
            </p>
            <p>
                Для нас было важно создать такое рабочее пространство, в котором будет комфортно работать (творить!)
                каждому участнику команды.
            </p>
            <p>
                Именно там придумываются новые десерты и позиции в линейке бренда, обрабатываются заказы через сайт и
                предложения о сотрудничестве, а также генерируется контент, которым мы делимся в социальных сетях.
            </p>
            <p>
                Штаб-квартира - это место, полностью пропитанное революционным духом и желанием стереть границы между
                вкусным, полезным и протеиновым.
            </p>
            <p>
                Лучше показать, чем рассказать - смотри фото ниже.

            </p>

            <div class="blog-detail__gallery">

                <div class="blog-detail__gallery-slider js-blog-gallery">
                    <button class="blog-detail__gallery-slider-arrow blog-detail__gallery-slider-arrow--prev">
                        <svg width="12" height="16" aria-hidden="true" class="icon-stylized-arrow-left">
                            <use xlink:href="#stylized-arrow-left"></use>
                        </svg>
                    </button>
                    <button class="blog-detail__gallery-slider-arrow blog-detail__gallery-slider-arrow--next">
                        <svg width="12" height="16" aria-hidden="true" class="icon-stylized-arrow-right">
                            <use xlink:href="#stylized-arrow-right"></use>
                        </svg>
                    </button>
                    <div class="blog-detail__gallery-slider-content">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="blog-detail__gallery-slider-card">
                                        <img src="img/about/about-gallery.jpg" alt=""
                                            class="blog-detail__gallery-slider-card-image">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="blog-detail__gallery-slider-card">
                                        <img src="img/about/about-gallery.jpg" alt=""
                                            class="blog-detail__gallery-slider-card-image">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="blog-detail__gallery-slider-card">
                                        <img src="img/about/about-gallery.jpg" alt=""
                                            class="blog-detail__gallery-slider-card-image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-detail__gallery-slider-pagination">

                    </div>
                </div>
            </div>


        </div>
        <div class="blog-detail__about-write-us">
            <a href="#write-us-modal" class="btn about-gallery__about-write-us-btn js-open-modal">
                Напишите нам
            </a>
        </div>

    </div>
</article>




{{/content}}
{{/extend}}