{{#extend "layout"}}
{{#content "main"}}


<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs__content">
            <ul class="breadcrumbs__list">
                <li class="breadcrumbs__list-item">
                    <a href="#" class="breadcrumbs__link">
                        <svg width="16" height="16" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                        Главная
                    </a>

                    <a class="breadcrumbs__link active">
                        <svg width="16" height="16" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                        Блог
                    </a>
                </li>
            </ul>
            <h1 class="main-heading">
                Блог
            </h1>
        </div>
    </div>
</div>

<section class="blog">
    <div class="container">
        <div class="blog__categories">
            <ul class="blog__categories-list">
                <li class="blog__categories-list-item active">
                    <a href="#" class="blog__categories-link">
                        Все рубрики
                    </a>
                </li>
                <li class="blog__categories-list-item">
                    <a href="#" class="blog__categories-link">
                        Рецепты
                    </a>
                </li>
                <li class="blog__categories-list-item">
                    <a href="#" class="blog__categories-link">
                        Обзоры
                    </a>
                </li>
                <li class="blog__categories-list-item">
                    <a href="#" class="blog__categories-link">
                        Рубрика 1
                    </a>
                </li>
                <li class="blog__categories-list-item">
                    <a href="#" class="blog__categories-link">
                        Рубрика 2
                    </a>
                </li>
                <li class="blog__categories-list-item">
                    <a href="#" class="blog__categories-link">
                        Рубрика 3
                    </a>
                </li>
                <li class="blog__categories-list-item">
                    <a href="#" class="blog__categories-link">
                        Рубрика 4
                    </a>
                </li>
            </ul>
        </div>
        <div class="blog__results">
            <ul class="blog__catalog-list">
                <li class="blog__catalog-list-item">
                    <a href="#" class="blog__catalog-card">
                        <div class="blog__catalog-card-image-container">
                            <img src="img/blog/1.jpg" alt="" class="blog__catalog-card-image">
                            <span class="blog__catalog-card-tag">
                                Обзор
                            </span>
                        </div>
                        <h4 class="blog__catalog-card-title">
                            Заголовок публикации
                        </h4>
                    </a>
                </li>
                <li class="blog__catalog-list-item">
                    <a href="#" class="blog__catalog-card">
                        <div class="blog__catalog-card-image-container">
                            <img src="img/blog/2.jpg" alt="" class="blog__catalog-card-image">
                            <span class="blog__catalog-card-tag">
                                Рецепт
                            </span>
                        </div>
                        <h4 class="blog__catalog-card-title">
                            Название рецепта
                        </h4>
                    </a>
                </li>
                <li class="blog__catalog-list-item">
                    <a href="#" class="blog__catalog-card">
                        <div class="blog__catalog-card-image-container">
                            <img src="img/blog/3.jpg" alt="" class="blog__catalog-card-image">
                            <span class="blog__catalog-card-tag">
                                Название рубрики
                            </span>
                        </div>
                        <h4 class="blog__catalog-card-title">
                            Заголовок публикации
                        </h4>
                    </a>
                </li>
                <li class="blog__catalog-list-item">
                    <a href="#" class="blog__catalog-card">
                        <div class="blog__catalog-card-image-container">
                            <img src="img/blog/3.jpg" alt="" class="blog__catalog-card-image">
                            <span class="blog__catalog-card-tag">
                                Обзор
                            </span>
                        </div>
                        <h4 class="blog__catalog-card-title">
                            Заголовок публикации
                        </h4>
                    </a>
                </li>
                <li class="blog__catalog-list-item">
                    <a href="#" class="blog__catalog-card">
                        <div class="blog__catalog-card-image-container">
                            <img src="img/blog/4.jpg" alt="" class="blog__catalog-card-image">
                            <span class="blog__catalog-card-tag">
                                Рецепт
                            </span>
                        </div>
                        <h4 class="blog__catalog-card-title">
                            Название рецепта
                        </h4>
                    </a>
                </li>
                <li class="blog__catalog-list-item">
                    <a href="#" class="blog__catalog-card">
                        <div class="blog__catalog-card-image-container">
                            <img src="img/blog/3.jpg" alt="" class="blog__catalog-card-image">
                            <span class="blog__catalog-card-tag">
                                Название рубрики
                            </span>
                        </div>
                        <h4 class="blog__catalog-card-title">
                            Заголовок публикации
                        </h4>
                    </a>
                </li>
                <li class="blog__catalog-list-item">
                    <a href="#" class="blog__catalog-card">
                        <div class="blog__catalog-card-image-container">
                            <img src="img/blog/1.jpg" alt="" class="blog__catalog-card-image">
                            <span class="blog__catalog-card-tag">
                                Обзор
                            </span>
                        </div>
                        <h4 class="blog__catalog-card-title">
                            Заголовок публикации
                        </h4>
                    </a>
                </li>
                <li class="blog__catalog-list-item">
                    <a href="#" class="blog__catalog-card">
                        <div class="blog__catalog-card-image-container">
                            <img src="img/blog/2.jpg" alt="" class="blog__catalog-card-image">
                            <span class="blog__catalog-card-tag">
                                Рецепт
                            </span>
                        </div>
                        <h4 class="blog__catalog-card-title">
                            Название рецепта
                        </h4>
                    </a>
                </li>
                <li class="blog__catalog-list-item">
                    <a href="#" class="blog__catalog-card">
                        <div class="blog__catalog-card-image-container">
                            <img src="img/blog/3.jpg" alt="" class="blog__catalog-card-image">
                            <span class="blog__catalog-card-tag">
                                Название рубрики
                            </span>
                        </div>
                        <h4 class="blog__catalog-card-title">
                            Заголовок публикации
                        </h4>
                    </a>
                </li>
                <li class="blog__catalog-list-item">
                    <a href="#" class="blog__catalog-card">
                        <div class="blog__catalog-card-image-container">
                            <img src="img/blog/3.jpg" alt="" class="blog__catalog-card-image">
                            <span class="blog__catalog-card-tag">
                                Обзор
                            </span>
                        </div>
                        <h4 class="blog__catalog-card-title">
                            Заголовок публикации
                        </h4>
                    </a>
                </li>
                <li class="blog__catalog-list-item">
                    <a href="#" class="blog__catalog-card">
                        <div class="blog__catalog-card-image-container">
                            <img src="img/blog/4.jpg" alt="" class="blog__catalog-card-image">
                            <span class="blog__catalog-card-tag">
                                Рецепт
                            </span>
                        </div>
                        <h4 class="blog__catalog-card-title">
                            Название рецепта
                        </h4>
                    </a>
                </li>
                <li class="blog__catalog-list-item">
                    <a href="#" class="blog__catalog-card">
                        <div class="blog__catalog-card-image-container">
                            <img src="img/blog/3.jpg" alt="" class="blog__catalog-card-image">
                            <span class="blog__catalog-card-tag">
                                Название рубрики
                            </span>
                        </div>
                        <h4 class="blog__catalog-card-title">
                            Заголовок публикации
                        </h4>
                    </a>
                </li>
            </ul>
        </div>

        <div class="catalog__show-more">
            <a href="#" class="catalog__show-more-link">
                Показать еще 14
            </a>
        </div>
        <div class="catalog__pagination">
            <a href="#" class="catalog__pagination-link">
                1
            </a>
            <a href="#" class="catalog__pagination-link active">
                2
            </a>
            <a href="#" class="catalog__pagination-link">
                3
            </a>
            <a href="#" class="catalog__pagination-link">
                4
            </a>
            <a href="#" class="catalog__pagination-link">
                <svg width="16" height="16" aria-hidden="true" class="icon-pagination-dash">
                    <use xlink:href="#pagination-dash"></use>
                </svg>
            </a>
            <a href="#" class="catalog__pagination-link">
                8
            </a>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}