{{#extend "layout"}}
{{#content "main"}}

<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs__content">
            <ul class="breadcrumbs__list">
                <li class="breadcrumbs__list-item">
                    <a href="#" class="breadcrumbs__link">
                        <svg width="16" height="16" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                        Главная
                    </a>

                    <a class="breadcrumbs__link active">
                        <svg width="16" height="16" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                        Каталог
                    </a>
                </li>
            </ul>
            <h1 class="main-heading">
                Каталог <span class="hide-on-mobile">продукции</span>
            </h1>
        </div>
    </div>
</div>

<section class="catalog">
    <div class="container">
        <form class="catalog__filter js-catalog-filter-form" action="" method="GET">
            <div class="catalog__select-type js-select-type">
                <button class="catalog__select-type-btn">
                    <span class="catalog__select-type-btn-content">
                        <svg width="16" height="16" aria-hidden="true" class="icon-filters">
                            <use xlink:href="#filters"></use>
                        </svg>
                        <span class="catalog__select-type-btn-text">
                            Тип продукта
                        </span>
                        <svg width="16" height="16" aria-hidden="true" class="icon-arrow-down">
                            <use xlink:href="#arrow-down"></use>
                        </svg>
                    </span>
                </button>
                <div class="catalog__select-type-dropdown">
                    <div class="catalog__select-type-dropdown-wrapper">


                        <div class="catalog__select-type-dropdown-inner">
                            <div class="catalog__select-type-dropdown-fade-wrapper">
                                <a href="#" class="catalog__select-type-dropdown-mobile-header js-close-select-type">
                                    Тип продукта

                                    <svg width="16" height="16" aria-hidden="true" class="icon-arrow-down">
                                        <use xlink:href="#arrow-down"></use>
                                    </svg>
                                </a>
                                <div class="catalog__select-type-dropdown-checkbox-wrapper">
                                    <label class="catalog__select-type-checkbox">
                                        <input type="checkbox" name="type" value="1"
                                            class="catalog__select-type-checkbox-input">
                                        <span class="catalog__select-type-checkbox-mark">
                                            <svg width="16" height="16" aria-hidden="true" class="icon-checkmark">
                                                <use xlink:href="#checkmark"></use>
                                            </svg>
                                        </span>
                                        <span class="catalog__select-type-checkbox-image-container">
                                            <img src="img/catalog-checkboxes/1.jpg" alt=""
                                                class="catalog__select-type-checkbox-image">
                                        </span>
                                        <span class="catalog__select-type-checkbox-content">
                                            <strong class="catalog__select-type-checkbox-title">
                                                Protein Cake
                                            </strong>
                                            <span class="catalog__select-type-checkbox-description">
                                                Печенье глазированное
                                            </span>
                                        </span>
                                    </label>
                                    <label class="catalog__select-type-checkbox">
                                        <input type="checkbox" name="type" value="1"
                                            class="catalog__select-type-checkbox-input">
                                        <span class="catalog__select-type-checkbox-mark">
                                            <svg width="16" height="16" aria-hidden="true" class="icon-checkmark">
                                                <use xlink:href="#checkmark"></use>
                                            </svg>
                                        </span>
                                        <span class="catalog__select-type-checkbox-image-container">
                                            <img src="img/catalog-checkboxes/2.jpg" alt=""
                                                class="catalog__select-type-checkbox-image">
                                        </span>
                                        <span class="catalog__select-type-checkbox-content">
                                            <strong class="catalog__select-type-checkbox-title">
                                                Protein Cookie
                                            </strong>
                                            <span class="catalog__select-type-checkbox-description">
                                                Печенье высокобелковое
                                            </span>
                                        </span>
                                    </label>
                                    <label class="catalog__select-type-checkbox">
                                        <input type="checkbox" name="type" value="1"
                                            class="catalog__select-type-checkbox-input">
                                        <span class="catalog__select-type-checkbox-mark">
                                            <svg width="16" height="16" aria-hidden="true" class="icon-checkmark">
                                                <use xlink:href="#checkmark"></use>
                                            </svg>
                                        </span>
                                        <span class="catalog__select-type-checkbox-image-container">
                                            <img src="img/catalog-checkboxes/3.jpg" alt=""
                                                class="catalog__select-type-checkbox-image">
                                        </span>
                                        <span class="catalog__select-type-checkbox-content">
                                            <strong class="catalog__select-type-checkbox-title">
                                                Choco Protein Cookie
                                            </strong>
                                            <span class="catalog__select-type-checkbox-description">
                                                Печенье высокобелковое
                                                глазированное
                                            </span>
                                        </span>
                                    </label>
                                    <label class="catalog__select-type-checkbox">
                                        <input type="checkbox" name="type" value="1"
                                            class="catalog__select-type-checkbox-input">
                                        <span class="catalog__select-type-checkbox-mark">
                                            <svg width="16" height="16" aria-hidden="true" class="icon-checkmark">
                                                <use xlink:href="#checkmark"></use>
                                            </svg>
                                        </span>
                                        <span class="catalog__select-type-checkbox-image-container">
                                            <img src="img/catalog-checkboxes/4.png" alt=""
                                                class="catalog__select-type-checkbox-image">
                                        </span>
                                        <span class="catalog__select-type-checkbox-content">
                                            <strong class="catalog__select-type-checkbox-title">
                                                Extra Protein Cake
                                            </strong>
                                            <span class="catalog__select-type-checkbox-description">
                                                Печенье глазированное
                                            </span>
                                        </span>
                                    </label>







                                </div>
                                <a href="#" class="catalog__select-type-reset-filter js-reset-form">
                                    <svg width="16" height="16" aria-hidden="true" class="icon-bold-cross">
                                        <use xlink:href="#bold-cross"></use>
                                    </svg>
                                    Очистить фильтр
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="catalog__sorting">
                <div class="catalog__sorting-select">
                    <select name="sort" class="js-custom-select js-open-on-hover">
                        <option value="recommended">
                            Мы рекомендуем
                        </option>
                        <option value="new">
                            По новизне
                        </option>
                        <option value="priceup">
                            По увеличению цены
                        </option>
                        <option value="pricedown">
                            По уменьшению цены
                        </option>
                    </select>
                </div>
            </div>
        </form>
        <div class="catalog__results">
            <ul class="catalog__list">
                <li class="catalog__list-item">
                    <div class="card">
                        <div class="card__main-card-content">
                            <div class="card__outer-wrapper">
                                <div class="card__price-variants">
                                    <ul class="card__price-variants-list">
                                        <li class="card__price-variants-list-item">
                                            <div class="card__price-variants-card">
                                                <div class="card__price-variants-card-quantity">
                                                    10 шт.
                                                </div>
                                                <div class="card__price-variants-card-price">
                                                    1 200 ₽
                                                </div>
                                            </div>
                                        </li>
                                        <li class="card__price-variants-list-item">
                                            <div class="card__price-variants-card">
                                                <div class="card__price-variants-card-quantity">
                                                    16 шт.
                                                </div>
                                                <div class="card__price-variants-card-price">
                                                    1 800 ₽
                                                </div>
                                            </div>
                                        </li>
                                        <li class="card__price-variants-list-item">
                                            <div class="card__price-variants-card">
                                                <div class="card__price-variants-card-quantity">
                                                    24 шт.
                                                </div>
                                                <div class="card__price-variants-card-price">
                                                    2 800 ₽
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card__gallery">
                                <div class="card__sale-label">
                                    SALE
                                </div>
                                <div class="card__gallery-slider">
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <a href="#" class="card__gallery-slider-card yellow-backplate">
                                                    <img src="img/cards/1-1.png" alt=""
                                                        class="card__gallery-slider-card-image">
                                                </a>
                                            </div>
                                            <div class="swiper-slide">
                                                <a href="#" class="card__gallery-slider-card yellow-backplate">
                                                    <img src="img/cards/1-2.png" alt=""
                                                        class="card__gallery-slider-card-image">
                                                </a>
                                            </div>
                                            <div class="swiper-slide">
                                                <a href="#" class="card__gallery-slider-card yellow-backplate">
                                                    <img src="img/cards/1-3.png" alt=""
                                                        class="card__gallery-slider-card-image">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card__variants-count">
                                    <span class="card__variants-count-number">
                                        11
                                    </span>
                                    вкусов
                                </div>
                                <div class="card__gallery-pagination">

                                </div>
                            </div>
                            <h4 class="card__title">
                                <a href="#">
                                    Protein Cake
                                </a>

                            </h4>
                            <div class="card__description">
                                <a href="#">
                                    Печенье глазированное
                                </a>

                            </div>
                        </div>
                        <div class="card__price-from">
                            от 1 200 ₽
                        </div>
                    </div>
                </li>
                <li class="catalog__list-item">
                    <div class="card">
                        <div class="card__main-card-content">
                            <div class="card__outer-wrapper card__outer-wrapper--no-price-variants">

                            </div>
                            <div class="card__gallery">

                                <div class="card__gallery-slider">
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <a href="#" class="card__gallery-slider-card brown-backplate">
                                                    <img src="img/cards/2-1.png" alt=""
                                                        class="card__gallery-slider-card-image">
                                                </a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="card__variants-count">
                                    <span class="card__variants-count-number">
                                        11
                                    </span>
                                    вкусов
                                </div>
                                <div class="card__gallery-pagination">

                                </div>
                            </div>
                            <h4 class="card__title">
                                <a href="#">
                                    Protein Cookie
                                </a>

                            </h4>
                            <div class="card__description">
                                <a href="#">
                                    Печенье высокобелковое
                                </a>

                            </div>
                            <div class="card__price-from card__price-from--no-price-variants">
                                2 880 ₽
                            </div>
                        </div>

                    </div>
                </li>
                <li class="catalog__list-item">
                    <div class="card">
                        <div class="card__main-card-content">
                            <div class="card__outer-wrapper card__outer-wrapper--no-price-variants">

                            </div>
                            <div class="card__gallery">

                                <div class="card__gallery-slider">
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <a href="#" class="card__gallery-slider-card grey-backplate">
                                                    <svg aria-hidden="true" class="icon-no-photo">
                                                        <use xlink:href="#no-photo"></use>
                                                    </svg>
                                                </a>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="card__gallery-pagination">

                                </div>
                            </div>
                            <h4 class="card__title">
                                <a href="#">
                                    Protein Cookie
                                </a>

                            </h4>
                            <div class="card__description">
                                <a href="#">
                                    Печенье высокобелковое
                                </a>

                            </div>
                            <div class="card__price-from card__price-from--no-price-variants">
                                2 880 ₽
                            </div>
                        </div>

                    </div>
                </li>
                <li class="catalog__list-item">
                    <div class="card card--not-available">
                        <div class="card__main-card-content">
                            <div class="card__outer-wrapper">
                                <div class="card__price-variants">
                                    <ul class="card__price-variants-list">
                                        <li class="card__price-variants-list-item">
                                            <div class="card__price-variants-card">
                                                <div class="card__price-variants-card-quantity">
                                                    10 шт.
                                                </div>
                                                <div class="card__price-variants-card-price">
                                                    1 200 ₽
                                                </div>
                                            </div>
                                        </li>
                                        <li class="card__price-variants-list-item">
                                            <div class="card__price-variants-card">
                                                <div class="card__price-variants-card-quantity">
                                                    16 шт.
                                                </div>
                                                <div class="card__price-variants-card-price">
                                                    1 800 ₽
                                                </div>
                                            </div>
                                        </li>
                                        <li class="card__price-variants-list-item">
                                            <div class="card__price-variants-card">
                                                <div class="card__price-variants-card-quantity">
                                                    24 шт.
                                                </div>
                                                <div class="card__price-variants-card-price">
                                                    2 800 ₽
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card__gallery">

                                <div class="card__gallery-slider">
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <a href="#" class="card__gallery-slider-card pink-backplate">
                                                    <img src="img/cards/4-1.png" alt=""
                                                        class="card__gallery-slider-card-image">
                                                </a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="card__variants-count">
                                    <span class="card__variants-count-number">
                                        2
                                    </span>
                                    вкусa
                                </div>
                                <div class="card__gallery-pagination">

                                </div>
                            </div>
                            <h4 class="card__title">
                                <a href="#">
                                    Extra Protein Cake
                                </a>

                            </h4>
                            <div class="card__description">
                                <a href="#">
                                    Трёхслойное глазированное печенье
                                </a>

                            </div>
                        </div>
                        <div class="card__price-from">
                            от 800 ₽
                        </div>
                    </div>
                </li>
                <li class="catalog__list-item">
                    <div class="card">
                        <div class="card__main-card-content">
                            <div class="card__outer-wrapper">
                                <div class="card__price-variants">
                                    <ul class="card__price-variants-list">
                                        <li class="card__price-variants-list-item">
                                            <div class="card__price-variants-card">
                                                <div class="card__price-variants-card-quantity">
                                                    10 шт.
                                                </div>
                                                <div class="card__price-variants-card-price">
                                                    1 200 ₽
                                                </div>
                                            </div>
                                        </li>
                                        <li class="card__price-variants-list-item">
                                            <div class="card__price-variants-card">
                                                <div class="card__price-variants-card-quantity">
                                                    16 шт.
                                                </div>
                                                <div class="card__price-variants-card-price">
                                                    1 800 ₽
                                                </div>
                                            </div>
                                        </li>
                                        <li class="card__price-variants-list-item">
                                            <div class="card__price-variants-card">
                                                <div class="card__price-variants-card-quantity">
                                                    24 шт.
                                                </div>
                                                <div class="card__price-variants-card-price">
                                                    2 800 ₽
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card__gallery">
                                <div class="card__sale-label">
                                    SALE
                                </div>
                                <div class="card__gallery-slider">
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <a href="#" class="card__gallery-slider-card yellow-backplate">
                                                    <img src="img/cards/1-1.png" alt=""
                                                        class="card__gallery-slider-card-image">
                                                </a>
                                            </div>
                                            <div class="swiper-slide">
                                                <a href="#" class="card__gallery-slider-card yellow-backplate">
                                                    <img src="img/cards/1-2.png" alt=""
                                                        class="card__gallery-slider-card-image">
                                                </a>
                                            </div>
                                            <div class="swiper-slide">
                                                <a href="#" class="card__gallery-slider-card yellow-backplate">
                                                    <img src="img/cards/1-3.png" alt=""
                                                        class="card__gallery-slider-card-image">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card__variants-count">
                                    <span class="card__variants-count-number">
                                        11
                                    </span>
                                    вкусов
                                </div>
                                <div class="card__gallery-pagination">

                                </div>
                            </div>
                            <h4 class="card__title">
                                <a href="#">
                                    Protein Cake
                                </a>

                            </h4>
                            <div class="card__description">
                                <a href="#">
                                    Печенье глазированное
                                </a>

                            </div>
                        </div>
                        <div class="card__price-from">
                            от 1 200 ₽
                        </div>
                    </div>
                </li>
                <li class="catalog__list-item">
                    <div class="card">
                        <div class="card__main-card-content">
                            <div class="card__outer-wrapper card__outer-wrapper--no-price-variants">

                            </div>
                            <div class="card__gallery">

                                <div class="card__gallery-slider">
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <a href="#" class="card__gallery-slider-card brown-backplate">
                                                    <img src="img/cards/2-1.png" alt=""
                                                        class="card__gallery-slider-card-image">
                                                </a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="card__variants-count">
                                    <span class="card__variants-count-number">
                                        11
                                    </span>
                                    вкусов
                                </div>
                                <div class="card__gallery-pagination">

                                </div>
                            </div>
                            <h4 class="card__title">
                                <a href="#">
                                    Protein Cookie
                                </a>

                            </h4>
                            <div class="card__description">
                                <a href="#">
                                    Печенье высокобелковое
                                </a>

                            </div>
                            <div class="card__price-from card__price-from--no-price-variants">
                                2 880 ₽
                            </div>
                        </div>

                    </div>
                </li>
                <li class="catalog__list-item">
                    <div class="card">
                        <div class="card__main-card-content">
                            <div class="card__outer-wrapper">
                                <div class="card__price-variants">
                                    <ul class="card__price-variants-list">
                                        <li class="card__price-variants-list-item">
                                            <div class="card__price-variants-card">
                                                <div class="card__price-variants-card-quantity">
                                                    10 шт.
                                                </div>
                                                <div class="card__price-variants-card-price">
                                                    1 200 ₽
                                                </div>
                                            </div>
                                        </li>
                                        <li class="card__price-variants-list-item">
                                            <div class="card__price-variants-card">
                                                <div class="card__price-variants-card-quantity">
                                                    16 шт.
                                                </div>
                                                <div class="card__price-variants-card-price">
                                                    1 800 ₽
                                                </div>
                                            </div>
                                        </li>
                                        <li class="card__price-variants-list-item">
                                            <div class="card__price-variants-card">
                                                <div class="card__price-variants-card-quantity">
                                                    24 шт.
                                                </div>
                                                <div class="card__price-variants-card-price">
                                                    2 800 ₽
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card__gallery">

                                <div class="card__gallery-slider">
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <a href="#" class="card__gallery-slider-card orange-backplate">
                                                    <img src="img/cards/3-1.png" alt=""
                                                        class="card__gallery-slider-card-image">
                                                </a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="card__variants-count">
                                    <span class="card__variants-count-number">
                                        13
                                    </span>
                                    вкусов
                                </div>
                                <div class="card__gallery-pagination">

                                </div>
                            </div>
                            <h4 class="card__title">
                                <a href="#">
                                    Choco Protein Cookie
                                </a>

                            </h4>
                            <div class="card__description">
                                <a href="#">
                                    Печенье высокобелковое глазированное
                                </a>

                            </div>
                        </div>
                        <div class="card__price-from">
                            от 1 200 ₽
                        </div>
                    </div>
                </li>
                <li class="catalog__list-item">
                    <div class="card">
                        <div class="card__main-card-content">
                            <div class="card__outer-wrapper">
                                <div class="card__price-variants">
                                    <ul class="card__price-variants-list">
                                        <li class="card__price-variants-list-item">
                                            <div class="card__price-variants-card">
                                                <div class="card__price-variants-card-quantity">
                                                    10 шт.
                                                </div>
                                                <div class="card__price-variants-card-price">
                                                    1 200 ₽
                                                </div>
                                            </div>
                                        </li>
                                        <li class="card__price-variants-list-item">
                                            <div class="card__price-variants-card">
                                                <div class="card__price-variants-card-quantity">
                                                    16 шт.
                                                </div>
                                                <div class="card__price-variants-card-price">
                                                    1 800 ₽
                                                </div>
                                            </div>
                                        </li>
                                        <li class="card__price-variants-list-item">
                                            <div class="card__price-variants-card">
                                                <div class="card__price-variants-card-quantity">
                                                    24 шт.
                                                </div>
                                                <div class="card__price-variants-card-price">
                                                    2 800 ₽
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card__gallery">

                                <div class="card__gallery-slider">
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <a href="#" class="card__gallery-slider-card pink-backplate">
                                                    <img src="img/cards/4-1.png" alt=""
                                                        class="card__gallery-slider-card-image">
                                                </a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="card__variants-count">
                                    <span class="card__variants-count-number">
                                        2
                                    </span>
                                    вкусa
                                </div>
                                <div class="card__gallery-pagination">

                                </div>
                            </div>
                            <h4 class="card__title">
                                <a href="#">
                                    Extra Protein Cake
                                </a>

                            </h4>
                            <div class="card__description">
                                <a href="#">
                                    Трёхслойное глазированное печенье
                                </a>

                            </div>
                        </div>
                        <div class="card__price-from">
                            от 800 ₽
                        </div>
                    </div>
                </li>
                <li class="catalog__list-item">
                    <div class="card">
                        <div class="card__main-card-content">
                            <div class="card__outer-wrapper">
                                <div class="card__price-variants">
                                    <ul class="card__price-variants-list">
                                        <li class="card__price-variants-list-item">
                                            <div class="card__price-variants-card">
                                                <div class="card__price-variants-card-quantity">
                                                    10 шт.
                                                </div>
                                                <div class="card__price-variants-card-price">
                                                    1 200 ₽
                                                </div>
                                            </div>
                                        </li>
                                        <li class="card__price-variants-list-item">
                                            <div class="card__price-variants-card">
                                                <div class="card__price-variants-card-quantity">
                                                    16 шт.
                                                </div>
                                                <div class="card__price-variants-card-price">
                                                    1 800 ₽
                                                </div>
                                            </div>
                                        </li>
                                        <li class="card__price-variants-list-item">
                                            <div class="card__price-variants-card">
                                                <div class="card__price-variants-card-quantity">
                                                    24 шт.
                                                </div>
                                                <div class="card__price-variants-card-price">
                                                    2 800 ₽
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card__gallery">
                                <div class="card__sale-label">
                                    SALE
                                </div>
                                <div class="card__gallery-slider">
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <a href="#" class="card__gallery-slider-card yellow-backplate">
                                                    <img src="img/cards/1-1.png" alt=""
                                                        class="card__gallery-slider-card-image">
                                                </a>
                                            </div>
                                            <div class="swiper-slide">
                                                <a href="#" class="card__gallery-slider-card yellow-backplate">
                                                    <img src="img/cards/1-2.png" alt=""
                                                        class="card__gallery-slider-card-image">
                                                </a>
                                            </div>
                                            <div class="swiper-slide">
                                                <a href="#" class="card__gallery-slider-card yellow-backplate">
                                                    <img src="img/cards/1-3.png" alt=""
                                                        class="card__gallery-slider-card-image">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card__variants-count">
                                    <span class="card__variants-count-number">
                                        11
                                    </span>
                                    вкусов
                                </div>
                                <div class="card__gallery-pagination">

                                </div>
                            </div>
                            <h4 class="card__title">
                                <a href="#">
                                    Protein Cake
                                </a>

                            </h4>
                            <div class="card__description">
                                <a href="#">
                                    Печенье глазированное
                                </a>

                            </div>
                        </div>
                        <div class="card__price-from">
                            от 1 200 ₽
                        </div>
                    </div>
                </li>
                <li class="catalog__list-item">
                    <div class="card">
                        <div class="card__main-card-content">
                            <div class="card__outer-wrapper card__outer-wrapper--no-price-variants">

                            </div>
                            <div class="card__gallery">

                                <div class="card__gallery-slider">
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <a href="#" class="card__gallery-slider-card brown-backplate">
                                                    <img src="img/cards/2-1.png" alt=""
                                                        class="card__gallery-slider-card-image">
                                                </a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="card__variants-count">
                                    <span class="card__variants-count-number">
                                        11
                                    </span>
                                    вкусов
                                </div>
                                <div class="card__gallery-pagination">

                                </div>
                            </div>
                            <h4 class="card__title">
                                <a href="#">
                                    Protein Cookie
                                </a>

                            </h4>
                            <div class="card__description">
                                <a href="#">
                                    Печенье высокобелковое
                                </a>

                            </div>
                            <div class="card__price-from card__price-from--no-price-variants">
                                2 880 ₽
                            </div>
                        </div>

                    </div>
                </li>
                <li class="catalog__list-item">
                    <div class="card">
                        <div class="card__main-card-content">
                            <div class="card__outer-wrapper">
                                <div class="card__price-variants">
                                    <ul class="card__price-variants-list">
                                        <li class="card__price-variants-list-item">
                                            <div class="card__price-variants-card">
                                                <div class="card__price-variants-card-quantity">
                                                    10 шт.
                                                </div>
                                                <div class="card__price-variants-card-price">
                                                    1 200 ₽
                                                </div>
                                            </div>
                                        </li>
                                        <li class="card__price-variants-list-item">
                                            <div class="card__price-variants-card">
                                                <div class="card__price-variants-card-quantity">
                                                    16 шт.
                                                </div>
                                                <div class="card__price-variants-card-price">
                                                    1 800 ₽
                                                </div>
                                            </div>
                                        </li>
                                        <li class="card__price-variants-list-item">
                                            <div class="card__price-variants-card">
                                                <div class="card__price-variants-card-quantity">
                                                    24 шт.
                                                </div>
                                                <div class="card__price-variants-card-price">
                                                    2 800 ₽
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card__gallery">

                                <div class="card__gallery-slider">
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <a href="#" class="card__gallery-slider-card orange-backplate">
                                                    <img src="img/cards/3-1.png" alt=""
                                                        class="card__gallery-slider-card-image">
                                                </a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="card__variants-count">
                                    <span class="card__variants-count-number">
                                        13
                                    </span>
                                    вкусов
                                </div>
                                <div class="card__gallery-pagination">

                                </div>
                            </div>
                            <h4 class="card__title">
                                <a href="#">
                                    Choco Protein Cookie
                                </a>

                            </h4>
                            <div class="card__description">
                                <a href="#">
                                    Печенье высокобелковое глазированное
                                </a>

                            </div>
                        </div>
                        <div class="card__price-from">
                            от 1 200 ₽
                        </div>
                    </div>
                </li>
                <li class="catalog__list-item">
                    <div class="card">
                        <div class="card__main-card-content">
                            <div class="card__outer-wrapper">
                                <div class="card__price-variants">
                                    <ul class="card__price-variants-list">
                                        <li class="card__price-variants-list-item">
                                            <div class="card__price-variants-card">
                                                <div class="card__price-variants-card-quantity">
                                                    10 шт.
                                                </div>
                                                <div class="card__price-variants-card-price">
                                                    1 200 ₽
                                                </div>
                                            </div>
                                        </li>
                                        <li class="card__price-variants-list-item">
                                            <div class="card__price-variants-card">
                                                <div class="card__price-variants-card-quantity">
                                                    16 шт.
                                                </div>
                                                <div class="card__price-variants-card-price">
                                                    1 800 ₽
                                                </div>
                                            </div>
                                        </li>
                                        <li class="card__price-variants-list-item">
                                            <div class="card__price-variants-card">
                                                <div class="card__price-variants-card-quantity">
                                                    24 шт.
                                                </div>
                                                <div class="card__price-variants-card-price">
                                                    2 800 ₽
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card__gallery">

                                <div class="card__gallery-slider">
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <a href="#" class="card__gallery-slider-card pink-backplate">
                                                    <img src="img/cards/4-1.png" alt=""
                                                        class="card__gallery-slider-card-image">
                                                </a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="card__variants-count">
                                    <span class="card__variants-count-number">
                                        2
                                    </span>
                                    вкусa
                                </div>
                                <div class="card__gallery-pagination">

                                </div>
                            </div>
                            <h4 class="card__title">
                                <a href="#">
                                    Extra Protein Cake
                                </a>

                            </h4>
                            <div class="card__description">
                                <a href="#">
                                    Трёхслойное глазированное печенье
                                </a>

                            </div>
                        </div>
                        <div class="card__price-from">
                            от 800 ₽
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="catalog__show-more">
            <a href="#" class="catalog__show-more-link">
                Показать еще 14
            </a>
        </div>
        <div class="catalog__pagination">
            <a href="#" class="catalog__pagination-link">
                1
            </a>
            <a href="#" class="catalog__pagination-link active">
                2
            </a>
            <a href="#" class="catalog__pagination-link">
                3
            </a>
            <a href="#" class="catalog__pagination-link">
                4
            </a>
            <a href="#" class="catalog__pagination-link">
                <svg width="16" height="16" aria-hidden="true" class="icon-pagination-dash">
                    <use xlink:href="#pagination-dash"></use>
                </svg>
            </a>
            <a href="#" class="catalog__pagination-link">
                8
            </a>
        </div>

    </div>
</section>

<section class="promo">
    <div class="container">
        <ul class="promo__list">
            <li class="promo__list-item show-on-mobile">
                <div class="promo__card promo__card--1">
                    <span class="promo__card-top-dash"></span>
                    <span class="promo__card-bottom-left-dash"></span>
                    <h4 class="promo__card-title">
                        Конструктор<br> боксов
                    </h4>
                    <div class="promo__card-text">
                        <p>
                            Создай свой набор<br> вкусов!
                        </p>
                    </div>
                    <a href="#" class="btn promo__card-btn">
                        Собрать бокс
                    </a>
                    <img src="img/promo/1.png" alt="" class="promo__card-image">
                    <a href="#" class="promo__mobile-link">

                    </a>
                </div>
            </li>
            <li class="promo__list-item hide-on-mobile">
                <div href="#" class="promo__card promo__card--5">
                    <span class="promo__card-top-dash"></span>
                    <span class="promo__card-bottom-left-dash"></span>
                    <h4 class="promo__card-title">
                        Конструктор<br> боксов
                    </h4>

                    <a href="#" class="btn promo__card-btn">
                        Собрать бокс
                    </a>
                    <img src="img/promo/1.png" alt="" class="promo__card-image">
                    <a href="#" class="promo__mobile-link">

                    </a>
                </div>
            </li>
            <li class="promo__list-item hide-on-mobile">
                <div class="promo__card promo__card--6">
                    <span class="promo__card-top-dash"></span>
                    <span class="promo__card-bottom-left-dash"></span>
                    <h4 class="promo__card-title">
                        Все о нашей<br> компании
                    </h4>

                    <a href="#" class="btn btn--yellow promo__card-btn">
                        Подробнее
                    </a>
                    <img src="img/promo/strawberry.png" alt="" class="promo__card-image">
                    <a href="#" class="promo__mobile-link">

                    </a>
                </div>
            </li>
        </ul>
    </div>
</section>


{{/content}}
{{/extend}}