{{#extend "layout"}}
{{#content "main"}}

<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs__content">
            <ul class="breadcrumbs__list">
                <li class="breadcrumbs__list-item">
                    <a href="#" class="breadcrumbs__link">
                        <svg width="16" height="16" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                        Главная
                    </a>
                    <a href="#" class="breadcrumbs__link">
                        <svg width="16" height="16" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                        Корзина
                    </a>


                    <a class="breadcrumbs__link active">
                        <svg width="16" height="16" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                        Оформление заказа
                    </a>
                </li>
            </ul>
            <h1 class="main-heading">
                Оформление заказа
            </h1>
        </div>
    </div>
</div>

<section class="cart cart--checkout">
    <div class="container">
        <form class="cart__row">
            <div class="cart__left-col">
                <div class="cart__checkout">
                    <div class="cart__checkout-authorize">
                        <p>
                            Вы заказывали в нашем интернет- магазине, поэтому мы заполнили все данные автоматически.
                            Если все заполнено верно, продолжите оформление заказа.
                        </p>
                    </div>
                    <div class="cart__checkout-your-data">
                        <h2 class="cart__checkout-heading">
                            Ваши данные
                        </h2>
                        <div class="cart__checkout-your-data-text">
                            Семеновский Семен<br>
                            +7 (495) 123-45-67, name@yandex.ru
                        </div>
                        <a href="#your-data" class="cart__checkout-edit-btn js-open-modal">
                            Редактировать
                        </a>
                    </div>
                    <div class="cart__checkout-delivery js-tabs">
                        <h2 class="cart__checkout-heading">
                            Доставка

                            <a href="#city-modal" class="cart__checkout-city js-open-modal">
                                <svg width="16" height="16" aria-hidden="true" class="icon-location">
                                    <use xlink:href="#location"></use>
                                </svg>
                                Москва
                            </a>
                        </h2>
                        <div class="tabs-nav cart__checkout-tabs-nav">
                            <label class="tabs-nav__checkbox">
                                <input type="radio" class="tabs-nav__checkbox-input" name="delivery-type"
                                    value="courier">
                                <span class="tabs-nav__checkbox-content">
                                    Курьером
                                </span>
                            </label>
                            <label class="tabs-nav__checkbox">
                                <input type="radio" class="tabs-nav__checkbox-input" name="delivery-type" value="point">
                                <span class="tabs-nav__checkbox-content">
                                    Пункт выдачи
                                </span>
                            </label>
                            <label class="tabs-nav__checkbox">
                                <input type="radio" class="tabs-nav__checkbox-input" name="delivery-type"
                                    value="pochta">
                                <span class="tabs-nav__checkbox-content">
                                    Почта России
                                </span>
                            </label>
                        </div>
                        <div class="tabs-items">
                            <div class="tabs-items__item">
                                <div class="cart__checkout-recent-address">
                                    <ul class="cart__checkout-point-delivery-variants-list">
                                        <li class="cart__checkout-point-delivery-variants-list-item">
                                            <label class="standard-radio">
                                                <input type="radio" name="recentaddress" value="1"
                                                    class="standard-radio__input" checked>
                                                <span class="standard-radio__checkmark">

                                                </span>
                                                <span class="standard-radio__text">
                                                    103274, г. Москва, ул. Ленина, 3, кв. 125
                                                </span>
                                            </label>
                                        </li>
                                        <li class="cart__checkout-point-delivery-variants-list-item">
                                            <label class="standard-radio">
                                                <input type="radio" name="recentaddress" value="2"
                                                    class="standard-radio__input">
                                                <span class="standard-radio__checkmark">

                                                </span>
                                                <span class="standard-radio__text">
                                                    103274, г. Москва, ул. Ленина, д. 8, кв. 4
                                                </span>
                                            </label>
                                        </li>

                                    </ul>
                                    <a href="delivery-add-address.html" class="cart__checkout-recent-address-add">
                                        Добавить новый адрес
                                    </a>
                                </div>
                            </div>
                            <div class="tabs-items__item">
                                <div class="cart__checkout-point-delivery">
                                    <div class="cart__checkout-point-delivery-row">
                                        <div class="cart__checkout-point-delivery-left-col">
                                            <div class="cart__checkout-point-delivery-variants">
                                                <ul class="cart__checkout-point-delivery-variants-list">
                                                    <li class="cart__checkout-point-delivery-variants-list-item">
                                                        <label class="standard-radio">
                                                            <input type="radio" name="point" value="1"
                                                                class="standard-radio__input" checked>
                                                            <span class="standard-radio__checkmark">

                                                            </span>
                                                            <span class="standard-radio__text">
                                                                г. Москва, ул. Ленина, д.3
                                                                Пн-Вс с 10:00 до 21:00
                                                                Доставка — через 4 дня
                                                            </span>
                                                        </label>
                                                    </li>
                                                    <li class="cart__checkout-point-delivery-variants-list-item">
                                                        <label class="standard-radio">
                                                            <input type="radio" name="point" value="2"
                                                                class="standard-radio__input">
                                                            <span class="standard-radio__checkmark">

                                                            </span>
                                                            <span class="standard-radio__text">
                                                                г. Москва, ул. Ленина, д.3
                                                                Пн-Вс с 10:00 до 21:00
                                                                Доставка — через 4 дня
                                                            </span>
                                                        </label>
                                                    </li>
                                                    <li class="cart__checkout-point-delivery-variants-list-item">
                                                        <label class="standard-radio">
                                                            <input type="radio" name="point" value="3"
                                                                class="standard-radio__input">
                                                            <span class="standard-radio__checkmark">

                                                            </span>
                                                            <span class="standard-radio__text">
                                                                г. Москва, ул. Ленина, д.3
                                                                Пн-Вс с 10:00 до 21:00
                                                                Доставка — через 4 дня
                                                            </span>
                                                        </label>
                                                    </li>
                                                    <li class="cart__checkout-point-delivery-variants-list-item">
                                                        <label class="standard-radio">
                                                            <input type="radio" name="point" value="4"
                                                                class="standard-radio__input">
                                                            <span class="standard-radio__checkmark">

                                                            </span>
                                                            <span class="standard-radio__text">
                                                                г. Москва, ул. Ленина, д.3
                                                                Пн-Вс с 10:00 до 21:00
                                                                Доставка — через 4 дня
                                                            </span>
                                                        </label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="cart__checkout-point-delivery-right-col">
                                            <div class="cart__checkout-point-delivery-points-map-container">
                                                <div class="cart__checkout-point-delivery-points-map" id="points-map">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tabs-items__item">
                                <div class="cart__checkout-address-row">


                                    <div class="cart__checkout-address">
                                        <div class="cart__checkout-address-wrapper">
                                            <label for="street" class="text-input-label register__form-label">
                                                Улица *
                                            </label>
                                            <input type="text" class="text-input register__form-input" name="street"
                                                id="street" required>
                                        </div>
                                        <div
                                            class="cart__checkout-address-wrapper cart__checkout-address-wrapper--short">
                                            <label for="home" class="text-input-label register__form-label">
                                                Дом *
                                            </label>
                                            <input type="text" class="text-input register__form-input" name="home"
                                                id="home" required>
                                        </div>
                                        <div
                                            class="cart__checkout-address-wrapper cart__checkout-address-wrapper--short">
                                            <label for="section" class="text-input-label register__form-label">
                                                Строение
                                            </label>
                                            <input type="text" class="text-input register__form-input" name="section"
                                                id="section">
                                        </div>
                                        <div
                                            class="cart__checkout-address-wrapper cart__checkout-address-wrapper--short">
                                            <label for="flat" class="text-input-label register__form-label">
                                                Кв. / офис *
                                            </label>
                                            <input type="text" class="text-input register__form-input" name="flat"
                                                id="flat" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="cart__checkout-address-row">


                                    <div class="cart__checkout-address">
                                        <div class="cart__checkout-address-wrapper">
                                            <label for="surname" class="text-input-label register__form-label">
                                                Отчество *
                                            </label>
                                            <input type="text" class="text-input register__form-input" name="street"
                                                id="surname" required>
                                        </div>
                                        <div class="cart__checkout-address-message">
                                            Для оформления заказа через Почту России обязательно заполнить полностью
                                            ваше
                                            ФИО
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cart__checkout-payment">
                        <h2 class="cart__checkout-heading">
                            Оплата
                        </h2>
                        <h3 class="cart__checkout-payment-heading">
                            Картой онлайн
                        </h3>
                        <div class="cart__checkout-payment-text">
                            Visa, MasterCard, МИР, Яндекс деньги, Qiwi Кошелек, WebMoney, Элекснет.
                        </div>
                    </div>
                    <div class="cart__checkout-order">
                        <h2 class="cart__checkout-heading">
                            Ваш заказ
                        </h2>
                        <ul class="cart__checkout-order-list">
                            <li class="cart__checkout-order-list-item">
                                <div class="cart__checkout-order-card">
                                    <h4 class="cart__checkout-order-card-name">
                                        Protein Cake
                                    </h4>
                                    <div class="cart__checkout-order-card-row">
                                        <div class="cart__checkout-order-card-name-col">
                                            <div class="cart__checkout-order-card-description">
                                                <p>Печенье глазированное
                                                    <br>
                                                    Вкус: Banana Pudding
                                                </p>
                                                <p>
                                                    24 шт.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="cart__checkout-order-card-quantity-col">
                                            <div class="cart__checkout-order-card-col-title">
                                                Кол-во
                                            </div>
                                            <div class="cart__checkout-order-card-col-number">
                                                1 шт.
                                            </div>
                                        </div>
                                        <div class="cart__checkout-order-card-price-col">
                                            <div class="cart__checkout-order-card-col-title">
                                                Цена
                                            </div>
                                            <div class="cart__checkout-order-card-col-number">
                                                2 880 ₽
                                            </div>
                                        </div>
                                        <div class="cart__checkout-order-card-total-col">
                                            <div class="cart__checkout-order-card-col-title">
                                                Сумма
                                            </div>
                                            <div class="cart__checkout-order-card-col-number">
                                                <strong>
                                                    2 880 ₽
                                                </strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="cart__checkout-order-list-item">
                                <div class="cart__checkout-order-card">
                                    <h4 class="cart__checkout-order-card-name">
                                        Extra Protein Cake
                                    </h4>
                                    <div class="cart__checkout-order-card-row">
                                        <div class="cart__checkout-order-card-name-col">
                                            <div class="cart__checkout-order-card-description">
                                                <p>Печенье глазированное
                                                    <br>
                                                    Вкус: Banana Pudding
                                                </p>
                                                <p>
                                                    24 шт.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="cart__checkout-order-card-quantity-col">
                                            <div class="cart__checkout-order-card-col-title">
                                                Кол-во
                                            </div>
                                            <div class="cart__checkout-order-card-col-number">
                                                1 шт.
                                            </div>
                                        </div>
                                        <div class="cart__checkout-order-card-price-col">
                                            <div class="cart__checkout-order-card-col-title">
                                                Цена
                                            </div>
                                            <div class="cart__checkout-order-card-col-number">
                                                2 880 ₽
                                                <div class="cart__checkout-order-card-col-number-old">
                                                    3 120 ₽
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cart__checkout-order-card-total-col">
                                            <div class="cart__checkout-order-card-col-title">
                                                Сумма
                                            </div>
                                            <div class="cart__checkout-order-card-col-number">
                                                <strong>
                                                    2 880 ₽
                                                </strong>
                                                <div class="cart__checkout-order-card-col-number-old">
                                                    3 120 ₽
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="cart__checkout-order-list-item">
                                <div class="cart__checkout-order-card">
                                    <h4 class="cart__checkout-order-card-name">
                                        Protein Cake
                                    </h4>
                                    <div class="cart__checkout-order-card-row">
                                        <div class="cart__checkout-order-card-name-col">
                                            <div class="cart__checkout-order-card-description">
                                                <p>Печенье глазированное
                                                    <br>
                                                    Вкус: Banana Pudding
                                                </p>
                                                <p>
                                                    24 шт.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="cart__checkout-order-card-quantity-col">
                                            <div class="cart__checkout-order-card-col-title">
                                                Кол-во
                                            </div>
                                            <div class="cart__checkout-order-card-col-number">
                                                1 шт.
                                            </div>
                                        </div>
                                        <div class="cart__checkout-order-card-price-col">
                                            <div class="cart__checkout-order-card-col-title">
                                                Цена
                                            </div>
                                            <div class="cart__checkout-order-card-col-number">
                                                2 880 ₽
                                            </div>
                                        </div>
                                        <div class="cart__checkout-order-card-total-col">
                                            <div class="cart__checkout-order-card-col-title">
                                                Сумма
                                            </div>
                                            <div class="cart__checkout-order-card-col-number">
                                                <strong>
                                                    2 880 ₽
                                                </strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="cart__checkout-comment">
                        <h2 class="cart__checkout-heading">
                            Комментарий
                        </h2>
                        <textarea class="text-input">

                        </textarea>
                    </div>

                </div>

            </div>
            <div class="cart__right-col">



                <div class="cart__summary">

                    <h3 class="cart__summary-heading">
                        Стоимость заказа
                    </h3>
                    <table class="cart__summary-table">
                        <tbody>
                            <tr>
                                <th>
                                    Скидка
                                </th>
                                <td>
                                    812 ₽
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Доставка
                                </th>
                                <td>
                                    200 ₽
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <span class="cart__summary-table-th-total">
                                        Итого
                                    </span>
                                </th>
                                <td>
                                    <span class="cart__summary-table-td-total">
                                        11 148 ₽
                                    </span>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <button class="cart__submit-btn" type="submit">
                    Перейти к оплате
                </button>

                <label class="standard-checkbox">
                    <input type="checkbox" class="standard-checkbox__input" name="policy" required>
                    <span class="standard-checkbox__mark">
                        <svg width="16" height="16" aria-hidden="true" class="icon-checkmark">
                            <use xlink:href="#checkmark"></use>
                        </svg>
                    </span>
                    <span class="standard-checkbox__text">
                        Согласен с условиями <a href="#">
                            политики конфиденциальности
                        </a>
                    </span>
                </label>

            </div>
        </form>
        <a href="#" class="cart__checkout-back-link">
            <svg width="16" height="16" aria-hidden="true" class="icon-arrow-left">
                <use xlink:href="#arrow-left"></use>
            </svg>
            Вернуться в корзину
        </a>
    </div>
</section>


{{/content}}
{{/extend}}