{{#extend "layout"}}
{{#content "main"}}

<div class="m">
    <div class="container">
        <div
            style="display: flex; flex-direction: column; align-items: flex-start; padding-top: 140px; padding-bottom: 80px;">
            <style>
                .m a {
                    font-size: 2.2rem;
                    margin-bottom: 2rem;

                }

                .m a:hover {
                    color: #e62f48;
                }
            </style>
            <a href="main.html">
                Главная
            </a>
            <a href="catalog.html">
                Каталог
            </a>
            <a href="about.html">
                О компании
            </a>
            <a href="cart.html">
                Корзина
            </a>
            <a href="blog.html">
                Блог
            </a>
            <a href="constructor.html">
                Конструктор
            </a>
            <a href="blog-detail.html">
                Страница статьи
            </a>
            <a href="recipe.html">
                Рецепт
            </a>
            <a href="where-to-buy.html">
                Где купить
            </a>
            <a href="product.html">
                Карточка товара
            </a>
            <a href="product-2.html">
                Карточка товара 2
            </a>
            <a href="about-product.html">
                О продукте
            </a>
            <a href="checkout.html">
                Оформление заказа
            </a>
            <a href="checkout-2.html">
                Оформление заказа 2
            </a>
            <a href="order-fulfilled.html">
                Заказ оформлен
            </a>
            <a href="register.html">
                Регистрация
            </a>
            <a href="login.html">
                Вход
            </a>
            <a href="recover.html">
                Восстановление пароля
            </a>
            <a href="payment-and-shipping.html">
                Оплата и доставка
            </a>
            <a href="account.html">
                Аккаунт
            </a>
            <a href="personal-data.html">
                Личные данные
            </a>
            <a href="myorders.html">
                Мои заказы
            </a>
            <a href="order.html">
                Заказ
            </a>
            <a href="delivery-addresses.html">
                Адреса доставки
            </a>
            <a href="delivery-edit-address.html">
                Редактирование адреса доставки
            </a>
        </div>

    </div>
</div>


{{/content}}
{{/extend}}