{{#extend "layout"}}
{{#content "main"}}

<section class="home-slider">
    <div class="container">
        <div class="home-slider__wrapper js-home-slider">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="home-slider__card">
                            <div class="home-slider__card-bg">
                                <img src="img/home-slider/home-slider-yellow-bg.jpg" alt="" class="home-slider__card-bg-image">
                            </div>
                            <span class="home-slider__card-pale-yellow-splash"></span>
                            <span class="home-slider__card-saturated-yellow-splash"></span>
                            <span class="home-slider__card-corner-yellow-splash"></span>
                            <span class="home-slider__card-bottom-long-yellow-splash"></span>
                            <span class="home-slider__card-top-yellow-splash"></span>
                            <span class="home-slider__card-bottom-corner-pale-yellow-splash"></span>
                            <div class="home-slider__card-content">
                                <h4 class="home-slider__card-title">
                                    Новый<br> революционный<br> вкус!
                                </h4>
                                <div class="btn home-slider__card-btn">
                                    Узнать больше
                                </div>
                            </div>
                            <img src="img/home-slider/1.png" alt="" class="home-slider__card-image">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="home-slider__card">
                            <div class="home-slider__card-bg">
                                <img src="img/home-slider/home-slider-violet-bg.jpg" alt="" class="home-slider__card-bg-image">
                            </div>
                            <span class="home-slider__card-biege-splash"></span>
                            <span class="home-slider__card-violet-splash"></span>
                            <span class="home-slider__card-corner-violet-splash"></span>
                            <span class="home-slider__card-bottom-violet-long-splash"></span>
                            <span class="home-slider__card-top-violet-splash"></span>
                            <span class="home-slider__card-bottom-corner-biege-splash"></span>
                            <div class="home-slider__card-content">
                                <h4 class="home-slider__card-title">
                                    Новый<br> революционный<br> вкус!
                                </h4>
                                <div class="btn home-slider__card-btn">
                                    Узнать больше
                                </div>
                            </div>
                            <img src="img/home-slider/2.png" alt="" class="home-slider__card-image home-slider__card-image--2">
                        </a>
                    </div>

                </div>
            </div>
            <div class="home-slider__pagination">

            </div>
            <button type="button" class="home-slider__arrow home-slider__arrow--prev">
                <svg width="12" height="16" aria-hidden="true" class="icon-stylized-arrow-left">
                    <use xlink:href="#stylized-arrow-left"></use>
                </svg>
            </button>
            <button type="button" class="home-slider__arrow home-slider__arrow--next">
                <svg width="12" height="16" aria-hidden="true" class="icon-stylized-arrow-right">
                    <use xlink:href="#stylized-arrow-right"></use>
                </svg>
            </button>
        </div>
    </div>
</section>

<section class="advantages">
    <div class="container">
        <div class="advantages__content">


            <ul class="advantages__list">
                <li class="advantages__list-item">
                    <div class="advantages__card">
                        <img src="img/advantages/1.svg" alt="" class="advantages__card-icon" width="62" height="62">
                        <div class="advantages__card-content">
                            <h4 class="advantages__card-title">
                                Это действительно вкусно!
                            </h4>
                        </div>
                    </div>
                </li>
                <li class="advantages__list-item">
                    <div class="advantages__card">
                        <img src="img/advantages/2.svg" alt="" class="advantages__card-icon" width="62" height="62">
                        <div class="advantages__card-content">
                            <h4 class="advantages__card-title">
                                И мы не добавляем сахар
                            </h4>
                        </div>
                    </div>
                </li>
                <li class="advantages__list-item">
                    <div class="advantages__card">
                        <img src="img/advantages/3.svg" alt="" class="advantages__card-icon" width="62" height="62">
                        <div class="advantages__card-content">
                            <h4 class="advantages__card-title">
                                А еще тут много белка
                            </h4>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="promo">
    <div class="container">
        <ul class="promo__list">
            <li class="promo__list-item">
                <a href="#" class="promo__card promo__card--1">
                    <span class="promo__card-top-dash"></span>
                    <h4 class="promo__card-title">
                        Конструктор<br> боксов
                    </h4>
                    <div class="promo__card-text">
                        <p>
                            Создай свой набор<br> вкусов!
                        </p>
                    </div>
                    <div class="btn promo__card-btn">
                        Собрать бокс
                    </div>
                    <img src="img/promo/1.png" alt="" class="promo__card-image">
                </a>
            </li>
            <li class="promo__list-item">
                <a href="#" class="promo__card promo__card--2">
                    <span class="promo__card-left-scratches"></span>
                    <span class="promo__card-right-scratches"></span>
                    <span class="promo__card-red-right-dash"></span>
                    <span class="promo__card-red-left-dash"></span>
                    <img src="img/promo/Banan.png" alt="" class="promo__card-image" width="380">
                    <img src="img/promo/text.svg" alt="" class="promo__card-calligraphic-text" width="296">

                    <div class="btn btn--yellow promo__card-btn">
                        О продукции
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>
<section class="our-blog">
    <div class="container">
        <h2 class="section-heading our-blog__heading">
            Наш блог
        </h2>
        <div class="our-blog__content">
            <ul class="our-blog__list">
                <li class="our-blog__list-item">
                    <a href="#" class="our-blog__card">
                        <div class="our-blog__card-image-container">
                            <img src="img/our-blog/1.jpg" alt="" class="our-blog__card-image">
                            <div class="our-blog__card-tag">
                                Название рубрики
                            </div>
                        </div>
                        <h4 class="our-blog__card-title">
                            Заголовок публикации
                        </h4>
                    </a>
                </li>
                <li class="our-blog__list-item">
                    <a href="#" class="our-blog__card">
                        <div class="our-blog__card-image-container">
                            <img src="img/our-blog/2.jpg" alt="" class="our-blog__card-image">
                            <div class="our-blog__card-tag">
                                Название рубрики
                            </div>
                        </div>
                        <h4 class="our-blog__card-title">
                            Заголовок публикации. Заголовок публикации.
                        </h4>
                    </a>
                </li>
                <li class="our-blog__list-item">
                    <a href="#" class="our-blog__card">
                        <div class="our-blog__card-image-container">
                            <img src="img/our-blog/3.jpg" alt="" class="our-blog__card-image">
                            <div class="our-blog__card-tag">
                                Название рубрики
                            </div>
                        </div>
                        <h4 class="our-blog__card-title">
                            Средний заголовок публикации
                        </h4>
                    </a>
                </li>
                <li class="our-blog__list-item">
                    <a href="#" class="our-blog__card">
                        <div class="our-blog__card-image-container">
                            <img src="img/our-blog/1.jpg" alt="" class="our-blog__card-image">
                            <div class="our-blog__card-tag">
                                Название рубрики
                            </div>
                        </div>
                        <h4 class="our-blog__card-title">
                            Заголовок публикации. Заголовок публикации.
                        </h4>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>


{{/content}}
{{/extend}}