{{#extend "layout"}}
{{#content "main"}}

<div class="m">
    <div class="container">
        <div style="display: flex; flex-direction: column; align-items: flex-start; padding-top: 140px; padding-bottom: 80px;">
            <style>
                .m a {
                    font-size: 2.2rem;
                    margin-bottom: 2rem;
                    
                }

                .m a:hover {
                    color: #e62f48;
                }
            </style>
            <a href="main.html">
                Главная
            </a>
            <a href="catalog.html">
                Каталог
            </a>
            <a href="cart.html">
                Корзина
            </a>
            <a href="blog.html">
                Блог
            </a>
            <a href="blog-detail.html">
                Страница статьи
            </a>
            <a href="recipe.html">
                Рецепт
            </a>
            <a href="order-fulfilled.html">
                Заказ оформлен
            </a>

            <a href="register.html">
                Регистрация
            </a>
            <a href="login.html">
                Вход
            </a>
            <a href="payment-and-shipping.html">
                Оплата и доставка
            </a>
        </div>

    </div>
</div>


{{/content}}
{{/extend}}