{{#extend "layout"}}
{{#content "main"}}

<section class="home-slider">
    <div class="container">
        <div class="home-slider__wrapper js-home-slider">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="home-slider__card">
                            <div class="home-slider__card-bg">
                                <picture>
                                    <source srcset="img/home-slider/home-slider-card-mobile-bg.jpg"
                                        media="(max-width: 640px)">
                                    <img src="img/home-slider/home-slider-yellow-bg.jpg" alt=""
                                        class="home-slider__card-bg-image">
                                </picture>
                            </div>
                            <span class="home-slider__card-pale-yellow-splash"></span>
                            <span class="home-slider__card-saturated-yellow-splash"></span>
                            <span class="home-slider__card-corner-yellow-splash"></span>
                            <span class="home-slider__card-bottom-long-yellow-splash"></span>
                            <span class="home-slider__card-top-yellow-splash"></span>
                            <span class="home-slider__card-bottom-corner-pale-yellow-splash"></span>
                            <span class="home-slider__card-bottom-left-pale-yellow-dash"></span>
                            <div class="home-slider__card-content">
                                <h4 class="home-slider__card-title">
                                    Новый<br> революционный<br> вкус!
                                </h4>
                                <a href="#" class="btn home-slider__card-btn">
                                    <svg width="12" height="16" aria-hidden="true" class="icon-red-btn-splash">
                                        <use xlink:href="#red-btn-splash"></use>
                                    </svg>
                                    Узнать больше
                                </a>
                            </div>
                            <img src="img/home-slider/1.png" alt="" class="home-slider__card-image"
                                data-swiper-parallax="-200" data-swiper-parallax-duration="600">
                            <a href="#" class="home-slider__card-mobile-link">

                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="home-slider__card">
                            <div class="home-slider__card-bg">
                                <img src="img/home-slider/home-slider-violet-bg.jpg" alt=""
                                    class="home-slider__card-bg-image">
                            </div>
                            <span class="home-slider__card-biege-splash"></span>
                            <span class="home-slider__card-violet-splash"></span>
                            <span class="home-slider__card-corner-violet-splash"></span>
                            <span class="home-slider__card-bottom-violet-long-splash"></span>
                            <span class="home-slider__card-top-violet-splash"></span>
                            <span class="home-slider__card-bottom-corner-biege-splash"></span>
                            <span class="home-slider__card-bottom-left-biege-dash"></span>
                            <div class="home-slider__card-content">
                                <h4 class="home-slider__card-title home-slider__card-title--white-on-mobile">
                                    Новый<br> революционный<br> вкус!
                                </h4>
                                <a href="#" class="btn home-slider__card-btn">
                                    <svg width="12" height="16" aria-hidden="true" class="icon-red-btn-splash">
                                        <use xlink:href="#red-btn-splash"></use>
                                    </svg>
                                    Узнать больше
                                </a>
                            </div>
                            <img src="img/home-slider/2.png" alt=""
                                class="home-slider__card-image home-slider__card-image--2" data-swiper-parallax="-200"
                                data-swiper-parallax-duration="600">

                            <a href="#" class="home-slider__card-mobile-link">

                            </a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="home-slider__pagination">

            </div>
            <button type="button" class="home-slider__arrow home-slider__arrow--prev">
                <svg width="12" height="16" aria-hidden="true" class="icon-stylized-arrow-left">
                    <use xlink:href="#stylized-arrow-left"></use>
                </svg>
            </button>
            <button type="button" class="home-slider__arrow home-slider__arrow--next">
                <svg width="12" height="16" aria-hidden="true" class="icon-stylized-arrow-right">
                    <use xlink:href="#stylized-arrow-right"></use>
                </svg>
            </button>
        </div>
    </div>
</section>

<section class="advantages">
    <div class="container">
        <div class="advantages__content">


            <ul class="advantages__list">
                <li class="advantages__list-item">
                    <div class="advantages__card">
                        <div class="advantages__card-wrapper">


                            <img src="img/advantages/1.svg" alt="" class="advantages__card-icon" width="62" height="62">
                            <div class="advantages__card-content">
                                <h4 class="advantages__card-title">
                                    Это действительно вкусно!
                                </h4>
                            </div>
                        </div>
                        <div class="advantages__card-dropdown">
                            <button class="advantages__card-dropdown-close">
                                <svg width="12" height="16" aria-hidden="true" class="icon-stylized-cross">
                                    <use xlink:href="#stylized-cross"></use>
                                </svg>
                            </button>
                            <div class="advantages__card-dropdown-inner">
                                <img src="img/advantages/adv-card-bg-1.png" alt=""
                                    class="advantages__card-dropdown-bg advantages__card-dropdown-bg--1">
                                <img src="img/advantages/adv-card-image-1.svg" alt=""
                                    class="advantages__card-dropdown-image advantages__card-dropdown-image--1">
                                <div class="advantages__card-dropdown-text">
                                    Просто попробуйте, и вы больше никогда не захотите купить шоколадку на кассе!
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="advantages__list-item">
                    <div class="advantages__card">
                        <div class="advantages__card-wrapper">
                            <img src="img/advantages/2.svg" alt="" class="advantages__card-icon" width="62" height="62">
                            <div class="advantages__card-content">
                                <h4 class="advantages__card-title">
                                    И мы не добавляем сахар
                                </h4>
                            </div>
                        </div>
                        <div class="advantages__card-dropdown">
                            <button class="advantages__card-dropdown-close advantages__card-dropdown-close--yellow">
                                <svg width="12" height="16" aria-hidden="true" class="icon-stylized-cross">
                                    <use xlink:href="#stylized-cross"></use>
                                </svg>
                            </button>
                            <div class="advantages__card-dropdown-inner">
                                <img src="img/advantages/adv-card-bg-2.png" alt=""
                                    class="advantages__card-dropdown-bg advantages__card-dropdown-bg--2">
                                <img src="img/advantages/adv-card-image-2.svg" alt=""
                                    class="advantages__card-dropdown-image advantages__card-dropdown-image--2">
                                <div class="advantages__card-dropdown-text">
                                    Вместо него мы добавляем три вида сладкой растворимой клетчатки
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="advantages__list-item">
                    <div class="advantages__card">
                        <div class="advantages__card-wrapper">


                            <img src="img/advantages/3.svg" alt="" class="advantages__card-icon" width="62" height="62">
                            <div class="advantages__card-content">
                                <h4 class="advantages__card-title">
                                    А еще тут много белка
                                </h4>
                            </div>
                        </div>
                        <div class="advantages__card-dropdown">
                            <button class="advantages__card-dropdown-close advantages__card-dropdown-close--blue">
                                <svg width="12" height="16" aria-hidden="true" class="icon-stylized-cross">
                                    <use xlink:href="#stylized-cross"></use>
                                </svg>
                            </button>
                            <div class="advantages__card-dropdown-inner">
                                <img src="img/advantages/adv-card-bg-3.png" alt=""
                                    class="advantages__card-dropdown-bg advantages__card-dropdown-bg--3">

                                <img src="img/advantages/adv-card-image-3.png" alt=""
                                    class="advantages__card-dropdown-image advantages__card-dropdown-image--3">
                                <div class="advantages__card-dropdown-text">
                                    Мы не экономим на вас и используем только качественный и очень нежный белок,
                                    полученный из молока
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="promo promo--main">
    <div class="container">
        <ul class="promo__list">
            <li class="promo__list-item">
                <div class="promo__card promo__card--1">
                    <span class="promo__card-top-dash"></span>
                    <span class="promo__card-bottom-left-dash"></span>
                    <h4 class="promo__card-title">
                        Конструктор<br> боксов
                    </h4>
                    <div class="promo__card-text">
                        <p>
                            Создай свой набор<br> вкусов!
                        </p>
                    </div>
                    <a href="#" class="btn promo__card-btn">
                        Собрать бокс
                    </a>
                    <img src="img/promo/1.png" alt="" class="promo__card-image">
                    <a href="#" class="promo__mobile-link">

                    </a>
                </div>
            </li>
            <li class="promo__list-item">
                <div class="promo__card promo__card--2">
                    <span class="promo__card-left-scratches"></span>
                    <span class="promo__card-right-scratches"></span>
                    <span class="promo__card-red-right-dash"></span>
                    <span class="promo__card-red-left-dash"></span>
                    <img src="img/promo/Banan.png" alt="" class="promo__card-image" width="380">
                    <img src="img/promo/text.svg" alt="" class="promo__card-calligraphic-text" width="296">

                    <a href="#" class="btn btn--yellow promo__card-btn">
                        <svg width="12" height="16" aria-hidden="true" class="icon-yellow-btn-splash">
                            <use xlink:href="#yellow-btn-splash"></use>
                        </svg>
                        О продукции
                    </a>
                    <a href="#" class="promo__mobile-link">

                    </a>
                </div>
            </li>
        </ul>
    </div>
</section>
<section class="new-products">
    <div class="container">
        <h2 class="section-heading new-products__heading">
            Новинки продукции
        </h2>
        <div class="new-products__items js-new-products-slider">
            <div class="swiper-container">
                <ul class="swiper-wrapper new-products__list">
                    <li class="swiper-slide new-products__list-item ">
                        <div class="card">
                            <div class="card__main-card-content">
                                <div class="card__outer-wrapper">
                                    <div class="card__price-variants">
                                        <ul class="card__price-variants-list">
                                            <li class="card__price-variants-list-item">
                                                <div class="card__price-variants-card">
                                                    <div class="card__price-variants-card-quantity">
                                                        10 шт.
                                                    </div>
                                                    <div class="card__price-variants-card-price">
                                                        1 200 ₽
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="card__price-variants-list-item">
                                                <div class="card__price-variants-card">
                                                    <div class="card__price-variants-card-quantity">
                                                        16 шт.
                                                    </div>
                                                    <div class="card__price-variants-card-price">
                                                        1 800 ₽
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="card__price-variants-list-item">
                                                <div class="card__price-variants-card">
                                                    <div class="card__price-variants-card-quantity">
                                                        24 шт.
                                                    </div>
                                                    <div class="card__price-variants-card-price">
                                                        2 800 ₽
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card__gallery">
                                    <div class="card__sale-label">
                                        SALE
                                    </div>
                                    <div class="card__gallery-slider">
                                        <div class="swiper-container">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <a href="#" class="card__gallery-slider-card yellow-backplate">
                                                        <img src="img/cards/1-1.png" alt=""
                                                            class="card__gallery-slider-card-image">
                                                    </a>
                                                </div>
                                                <div class="swiper-slide">
                                                    <a href="#" class="card__gallery-slider-card yellow-backplate">
                                                        <img src="img/cards/1-2.png" alt=""
                                                            class="card__gallery-slider-card-image">
                                                    </a>
                                                </div>
                                                <div class="swiper-slide">
                                                    <a href="#" class="card__gallery-slider-card yellow-backplate">
                                                        <img src="img/cards/1-3.png" alt=""
                                                            class="card__gallery-slider-card-image">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card__variants-count">
                                        <span class="card__variants-count-number">
                                            11
                                        </span>
                                        вкусов
                                    </div>
                                    <div class="card__gallery-pagination">

                                    </div>
                                </div>
                                <h4 class="card__title">
                                    <a href="#">
                                        Protein Cake
                                    </a>

                                </h4>
                                <div class="card__description">
                                    <a href="#">
                                        Печенье глазированное
                                    </a>

                                </div>
                            </div>
                            <div class="card__price-from">
                                от 1 200 ₽
                            </div>
                        </div>
                    </li>
                    <li class="swiper-slide new-products__list-item ">
                        <div class="card">
                            <div class="card__main-card-content">
                                <div class="card__outer-wrapper card__outer-wrapper--no-price-variants">

                                </div>
                                <div class="card__gallery">

                                    <div class="card__gallery-slider">
                                        <div class="swiper-container">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <a href="#" class="card__gallery-slider-card brown-backplate">
                                                        <img src="img/cards/2-1.png" alt=""
                                                            class="card__gallery-slider-card-image">
                                                    </a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="card__variants-count">
                                        <span class="card__variants-count-number">
                                            11
                                        </span>
                                        вкусов
                                    </div>
                                    <div class="card__gallery-pagination">

                                    </div>
                                </div>
                                <h4 class="card__title">
                                    <a href="#">
                                        Protein Cookie
                                    </a>

                                </h4>
                                <div class="card__description">
                                    <a href="#">
                                        Печенье высокобелковое
                                    </a>

                                </div>
                                <div class="card__price-from card__price-from--no-price-variants">
                                    2 880 ₽
                                </div>
                            </div>

                        </div>
                    </li>

                    <li class="swiper-slide new-products__list-item ">
                        <div class="card">
                            <div class="card__main-card-content">
                                <div class="card__outer-wrapper">
                                    <div class="card__price-variants">
                                        <ul class="card__price-variants-list">
                                            <li class="card__price-variants-list-item">
                                                <div class="card__price-variants-card">
                                                    <div class="card__price-variants-card-quantity">
                                                        10 шт.
                                                    </div>
                                                    <div class="card__price-variants-card-price">
                                                        1 200 ₽
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="card__price-variants-list-item">
                                                <div class="card__price-variants-card">
                                                    <div class="card__price-variants-card-quantity">
                                                        16 шт.
                                                    </div>
                                                    <div class="card__price-variants-card-price">
                                                        1 800 ₽
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="card__price-variants-list-item">
                                                <div class="card__price-variants-card">
                                                    <div class="card__price-variants-card-quantity">
                                                        24 шт.
                                                    </div>
                                                    <div class="card__price-variants-card-price">
                                                        2 800 ₽
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card__gallery">

                                    <div class="card__gallery-slider">
                                        <div class="swiper-container">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <a href="#" class="card__gallery-slider-card orange-backplate">
                                                        <img src="img/cards/3-1.png" alt=""
                                                            class="card__gallery-slider-card-image">
                                                    </a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="card__variants-count">
                                        <span class="card__variants-count-number">
                                            13
                                        </span>
                                        вкусов
                                    </div>
                                    <div class="card__gallery-pagination">

                                    </div>
                                </div>
                                <h4 class="card__title">
                                    <a href="#">
                                        Choco Protein Cookie
                                    </a>

                                </h4>
                                <div class="card__description">
                                    <a href="#">
                                        Печенье высокобелковое глазированное
                                    </a>

                                </div>
                            </div>
                            <div class="card__price-from">
                                от 1 200 ₽
                            </div>
                        </div>
                    </li>
                    <li class="swiper-slide new-products__list-item ">
                        <div class="card">
                            <div class="card__main-card-content">
                                <div class="card__outer-wrapper">
                                    <div class="card__price-variants">
                                        <ul class="card__price-variants-list">
                                            <li class="card__price-variants-list-item">
                                                <div class="card__price-variants-card">
                                                    <div class="card__price-variants-card-quantity">
                                                        10 шт.
                                                    </div>
                                                    <div class="card__price-variants-card-price">
                                                        1 200 ₽
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="card__price-variants-list-item">
                                                <div class="card__price-variants-card">
                                                    <div class="card__price-variants-card-quantity">
                                                        16 шт.
                                                    </div>
                                                    <div class="card__price-variants-card-price">
                                                        1 800 ₽
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="card__price-variants-list-item">
                                                <div class="card__price-variants-card">
                                                    <div class="card__price-variants-card-quantity">
                                                        24 шт.
                                                    </div>
                                                    <div class="card__price-variants-card-price">
                                                        2 800 ₽
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card__gallery">

                                    <div class="card__gallery-slider">
                                        <div class="swiper-container">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <a href="#" class="card__gallery-slider-card pink-backplate">
                                                        <img src="img/cards/4-1.png" alt=""
                                                            class="card__gallery-slider-card-image">
                                                    </a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="card__variants-count">
                                        <span class="card__variants-count-number">
                                            2
                                        </span>
                                        вкусa
                                    </div>
                                    <div class="card__gallery-pagination">

                                    </div>
                                </div>
                                <h4 class="card__title">
                                    <a href="#">
                                        Extra Protein Cake
                                    </a>

                                </h4>
                                <div class="card__description">
                                    <a href="#">
                                        Трёхслойное глазированное печенье
                                    </a>

                                </div>
                            </div>
                            <div class="card__price-from">
                                от 800 ₽
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>
<section class="promo promo--secondary">
    <div class="container">
        <ul class="promo__list">
            <li class="promo__list-item">
                <div class="promo__card promo__card--3">
                    <span class="promo__card-bottom-red-dash">

                    </span>
                    <h4 class="promo__card-title">
                        Все о нашей<br> компании
                    </h4>
                    <div class="promo__card-text">
                        <p>
                            Мы объявили войну<br> джанк-фуду!
                        </p>
                    </div>
                    <a href="#" class="btn btn--yellow promo__card-btn">
                        Подробнее
                    </a>

                    <picture>
                        <source srcset="img/promo/strawberry-mobile.png" media="(max-width: 640px)">
                        <img src="img/promo/strawberry.png" alt="" class="promo__card-image">
                    </picture>

                    <a href="#" class="promo__mobile-link">

                    </a>

                </div>
            </li>
            <li class="promo__list-item">
                <div href="#" class="promo__card promo__card--4">

                    <h4 class="promo__card-title">
                        Где купить нашу<br> продукцию?
                    </h4>
                    <div class="promo__card-numbers">
                        <div class="promo__card-number">
                            <div class="promo__card-number-digits">
                                141
                            </div>
                            <div class="promo__card-number-text">
                                город
                            </div>
                        </div>
                        <div class="promo__card-number">
                            <div class="promo__card-number-digits">
                                434
                            </div>
                            <div class="promo__card-number-text">
                                точки продаж
                            </div>
                        </div>
                    </div>
                    <a href="#" class="btn promo__card-btn">
                        Все точки продаж
                    </a>
                    <img src="img/promo/promocard-min.png" alt="" class="promo__card-image">

                    <a href="#" class="promo__mobile-link">

                    </a>
                </div>
            </li>

        </ul>
    </div>
</section>
<section class="our-blog">
    <div class="container">
        <h2 class="section-heading our-blog__heading">
            Наш блог
        </h2>
        <div class="our-blog__content js-our-blog-slider">
            <div class="swiper-container">
                <ul class="swiper-wrapper our-blog__list">
                    <li class="swiper-slide our-blog__list-item">
                        <a href="#" class="our-blog__card">
                            <div class="our-blog__card-image-container">
                                <img src="img/our-blog/1.jpg" alt="" class="our-blog__card-image">
                                <div class="our-blog__card-tag">
                                    Название рубрики
                                </div>
                            </div>
                            <h4 class="our-blog__card-title">
                                Заголовок публикации
                            </h4>
                        </a>
                    </li>
                    <li class="swiper-slide our-blog__list-item">
                        <a href="#" class="our-blog__card">
                            <div class="our-blog__card-image-container">
                                <img src="img/our-blog/2.jpg" alt="" class="our-blog__card-image">
                                <div class="our-blog__card-tag">
                                    Название рубрики
                                </div>
                            </div>
                            <h4 class="our-blog__card-title">
                                Заголовок публикации. Заголовок публикации.
                            </h4>
                        </a>
                    </li>
                    <li class="swiper-slide our-blog__list-item">
                        <a href="#" class="our-blog__card">
                            <div class="our-blog__card-image-container">
                                <img src="img/our-blog/3.jpg" alt="" class="our-blog__card-image">
                                <div class="our-blog__card-tag">
                                    Название рубрики
                                </div>
                            </div>
                            <h4 class="our-blog__card-title">
                                Средний заголовок публикации
                            </h4>
                        </a>
                    </li>
                    <li class="swiper-slide our-blog__list-item">
                        <a href="#" class="our-blog__card">
                            <div class="our-blog__card-image-container">
                                <img src="img/our-blog/1.jpg" alt="" class="our-blog__card-image">
                                <div class="our-blog__card-tag">
                                    Название рубрики
                                </div>
                            </div>
                            <h4 class="our-blog__card-title">
                                Заголовок публикации. Заголовок публикации.
                            </h4>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


{{/content}}
{{/extend}}