{{#extend "layout"}}
{{#content "main"}}

<section class="not-found">
    <div class="container">
        <div class="not-found__content">
            <div class="not-found__content-inner">


                <img src="img/404.png" alt="" class="not-found__image">
                <div class="not-found__text">
                    <p>
                        Неправильно набран адрес, или такой страницы на сайте не существует
                    </p>
                </div>
                <a href="#" class="btn btn--yellow not-found__back-link">
                    <svg width="12" height="16" aria-hidden="true" class="icon-yellow-btn-splash">
                        <use xlink:href="#yellow-btn-splash"></use>
                    </svg>
                    На главную
                </a>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}