{{#extend "layout"}}
{{#content "main"}}

<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs__content">
            <ul class="breadcrumbs__list">
                <li class="breadcrumbs__list-item">
                    <a href="#" class="breadcrumbs__link">
                        <svg width="16" height="16" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                        Главная
                    </a>
                    <a href="#" class="breadcrumbs__link">
                        <svg width="16" height="16" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                        Личный кабинет
                    </a>


                    <a href="#" class="breadcrumbs__link">
                        <svg width="16" height="16" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                        Мои заказы
                    </a>
                    <a class="breadcrumbs__link active">
                        <svg width="16" height="16" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                        Заказ 12321
                    </a>
                </li>
            </ul>
            <h1 class="main-heading main-heading--hide-on-mobile">
                Мои заказы
            </h1>
        </div>
    </div>
</div>

<section class="account">
    <div class="container">
        <div class="account__row">
            <div class="account__left-col">
                <div class="account__my-order-info">


                    <div class="account__my-orders-card account__my-orders-card--standalone">

                        <div class="account__my-orders-card-info-top-row">
                            <h4 class="account__my-orders-card-title">
                                Заказ 12321
                            </h4>
                            <div class="account__my-orders-card-date">
                                12.10.2020
                            </div>
                        </div>
                        <div class="account__my-orders-card-info-bottom-row">

                            <div class="account__my-orders-card-amount">
                                <strong>
                                    1
                                </strong>
                                товар на сумму
                                <strong>
                                    2 880 ₽
                                </strong>
                            </div>

                            <div class="account__my-orders-card-status">
                                Принят, ожидается оплата
                            </div>

                        </div>




                    </div>
                </div>

                <div class="account__my-order-included">
                    <h2 class="account__my-order-heading">
                        Содержимое заказа
                    </h2>
                    <ul class="cart__checkout-order-list">
                        <li class="cart__checkout-order-list-item">
                            <div class="cart__checkout-order-card">
                                <h4 class="cart__checkout-order-card-name">
                                    Protein Cake
                                </h4>
                                <div class="cart__checkout-order-card-row">
                                    <div class="cart__checkout-order-card-name-col">
                                        <div class="cart__checkout-order-card-description">
                                            <p>Печенье глазированное
                                                <br>
                                                Вкус: Banana Pudding
                                            </p>
                                            <p>
                                                24 шт.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="cart__checkout-order-card-quantity-col">
                                        <div class="cart__checkout-order-card-col-title">
                                            Кол-во
                                        </div>
                                        <div class="cart__checkout-order-card-col-number">
                                            1 шт.
                                        </div>
                                    </div>
                                    <div class="cart__checkout-order-card-price-col">
                                        <div class="cart__checkout-order-card-col-title">
                                            Цена
                                        </div>
                                        <div class="cart__checkout-order-card-col-number">
                                            2 880 ₽
                                        </div>
                                    </div>
                                    <div class="cart__checkout-order-card-total-col">
                                        <div class="cart__checkout-order-card-col-title">
                                            Сумма
                                        </div>
                                        <div class="cart__checkout-order-card-col-number">
                                            <strong>
                                                2 880 ₽
                                            </strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="cart__checkout-order-list-item">
                            <div class="cart__checkout-order-card">
                                <h4 class="cart__checkout-order-card-name">
                                    Extra Protein Cake
                                </h4>
                                <div class="cart__checkout-order-card-row">
                                    <div class="cart__checkout-order-card-name-col">
                                        <div class="cart__checkout-order-card-description">
                                            <p>Печенье глазированное
                                                <br>
                                                Вкус: Banana Pudding
                                            </p>
                                            <p>
                                                24 шт.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="cart__checkout-order-card-quantity-col">
                                        <div class="cart__checkout-order-card-col-title">
                                            Кол-во
                                        </div>
                                        <div class="cart__checkout-order-card-col-number">
                                            1 шт.
                                        </div>
                                    </div>
                                    <div class="cart__checkout-order-card-price-col">
                                        <div class="cart__checkout-order-card-col-title">
                                            Цена
                                        </div>
                                        <div class="cart__checkout-order-card-col-number">
                                            2 880 ₽
                                            <div class="cart__checkout-order-card-col-number-old">
                                                3 120 ₽
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cart__checkout-order-card-total-col">
                                        <div class="cart__checkout-order-card-col-title">
                                            Сумма
                                        </div>
                                        <div class="cart__checkout-order-card-col-number">
                                            <strong>
                                                2 880 ₽
                                            </strong>
                                            <div class="cart__checkout-order-card-col-number-old">
                                                3 120 ₽
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="cart__checkout-order-list-item">
                            <div class="cart__checkout-order-card">
                                <h4 class="cart__checkout-order-card-name">
                                    Protein Cake
                                </h4>
                                <div class="cart__checkout-order-card-row">
                                    <div class="cart__checkout-order-card-name-col">
                                        <div class="cart__checkout-order-card-description">
                                            <p>Печенье глазированное
                                                <br>
                                                Вкус: Banana Pudding
                                            </p>
                                            <p>
                                                24 шт.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="cart__checkout-order-card-quantity-col">
                                        <div class="cart__checkout-order-card-col-title">
                                            Кол-во
                                        </div>
                                        <div class="cart__checkout-order-card-col-number">
                                            1 шт.
                                        </div>
                                    </div>
                                    <div class="cart__checkout-order-card-price-col">
                                        <div class="cart__checkout-order-card-col-title">
                                            Цена
                                        </div>
                                        <div class="cart__checkout-order-card-col-number">
                                            2 880 ₽
                                        </div>
                                    </div>
                                    <div class="cart__checkout-order-card-total-col">
                                        <div class="cart__checkout-order-card-col-title">
                                            Сумма
                                        </div>
                                        <div class="cart__checkout-order-card-col-number">
                                            <strong>
                                                2 880 ₽
                                            </strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="account__my-order-delivery">
                    <h2 class="account__my-order-heading">
                        Доставка
                    </h2>
                    <div class="account__my-order-delivery-text">
                        <p>
                            <strong>
                                Курьером
                            </strong>
                        </p>
                        <p>
                            г. Москва, ул. Ленина, 3, кв. 125<br>
                            Способ доставки: курьером
                        </p>
                    </div>
                </div>
                <div class="account__my-order-summary">
                    <div class="cart__summary">

                        <h3 class="cart__summary-heading">
                            Стоимость заказа
                        </h3>
                        <table class="cart__summary-table">
                            <tbody>
                                <tr>
                                    <th>
                                        Скидка
                                    </th>
                                    <td>
                                        812 ₽ 
                                    </td>
                                </tr>
                               
                                <tr>
                                    <th>
                                        <span class="cart__summary-table-th-total">
                                            Итого
                                        </span>
                                    </th>
                                    <td>
                                        <span class="cart__summary-table-td-total">
                                            10 948 ₽ 
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <button class="cart__submit-btn" type="submit">
                        Повторить заказ
                    </button>
                    <a href="#" class="blog-detail__back-link cart__all-orders-btn">
                        <svg width="12" height="16" aria-hidden="true" class="icon-arrow-left">
                            <use xlink:href="#arrow-left"></use>
                        </svg>
                        Все заказы
                    </a>
                </div>

            </div>
            <div class="account__right-col">
                <nav class="account__nav account__nav--compact-on-mobile">
                    <ul class="account__nav-list">
                        <li class="account__nav-list-item">
                            <a href="#" class="account__nav-link">
                                Кабинет
                            </a>
                        </li>
                        <li class="account__nav-list-item active">
                            <a href="#" class="account__nav-link">
                                Мои заказы
                            </a>
                        </li>
                        <li class="account__nav-list-item">
                            <a href="#" class="account__nav-link">
                                Личные данные
                            </a>
                        </li>
                        <li class="account__nav-list-item">
                            <a href="#" class="account__nav-link">
                                Адреса доставки
                            </a>
                        </li>
                    </ul>
                </nav>
                <a href="#" class="account__exit-link account__exit-link--hide-on-mobile">
                    <svg width="16" height="16" aria-hidden="true" class="icon-exit">
                        <use xlink:href="#exit"></use>
                    </svg>
                    Выйти из кабинета
                </a>
            </div>
        </div>
    </div>
</section>


{{/content}}
{{/extend}}