{{#extend "layout"}}
{{#content "main"}}


<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs__content">
            <ul class="breadcrumbs__list">
                <li class="breadcrumbs__list-item">
                    <a href="#" class="breadcrumbs__link">
                        <svg width="16" height="16" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                        Главная
                    </a>


                    <a class="breadcrumbs__link active">
                        <svg width="16" height="16" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                        Заказ оформлен
                    </a>
                </li>
            </ul>
            <h1 class="main-heading">
                Заказ оформлен
            </h1>
        </div>
    </div>
</div>


<section class="order-fullfilled">
    <div class="container">
        <div class="order-fullfilled__row">
            <div class="order-fullfilled__card">
                <div class="order-fullfilled__info">
                    <h2 class="order-fullfilled__info-heading">
                        Номер заказа: 123456
                    </h2>
                    <div class="order-fullfilled__info-greeting-text">
                        Поздравляем! Ваш заказ успешно оплачен и в ближайшее время будет передан на сборку.
                    </div>
                    <table class="order-fullfilled__table">

                        <tbody>
                            <tr>
                                <th>
                                    Дата заказа
                                </th>
                                <td>
                                    04.10.2020
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Статус оплаты
                                </th>
                                <td>
                                    оплачено
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Способ доставки
                                </th>
                                <td>
                                    курьером
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Статус заказа
                                </th>
                                <td>
                                    <strong>
                                        в обработке
                                    </strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="order-fullfilled__message">
                        Вы можете следить за выполнением своего заказа в <a href="#">
                            личном кабинете
                        </a>
                    </div>

                </div>


                <a href="#" class="order-fullfilled__back-link">
                    <svg width="16" height="16" aria-hidden="true" class="icon-arrow-left">
                        <use xlink:href="#arrow-left"></use>
                    </svg>
                    Перейти в каталог
                </a>
            </div>
            <div class="order-fullfilled__card order-fullfilled__card--yellow">
                <div class="order-fullfilled__info">
                    <div class="order-fullfilled__bonuses-given">
                        <p>
                            В течение 24 часов вам будет начислено <strong>420</strong> бонусных рублей на личный счет,
                            вы можете воспользоваться ими при следующих покупках.

                        </p>
                    </div>

                    <div class="order-fullfilled__referal-code">
                        <h4 class="account__referal-code-heading">
                            Реферальная ссылка
                        </h4>
                        <div class="account__referal-code-link account__referal-code-link--dark js-copy-link">
                            <a href="myfitkit.ru/?2Klr3sdfwerbcse345779"
                                class="account__referal-code-link-text js-copy-link-text">
                                myfitkit.ru/?2Klr3sdfwerbcse345779
                            </a>
                            <button class="account__referal-code-link-copy js-copy-link-btn">
                                <svg width="12" height="16" aria-hidden="true" class="icon-copy">
                                    <use xlink:href="#copy"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="order-fullfilled__share-code">
                        <p>
                            Поделитесь этой реферальной ссылкой со своими друзьями и получите 10% от суммы их первого
                            заказа на свой личный счет. Подробнее о работе системы <a href="#">тут</a>.

                        </p>
                    </div>

                </div>



                <a href="#" class="order-fullfilled__back-link">
                    <svg width="16" height="16" aria-hidden="true" class="icon-person-filled">
                        <use xlink:href="#person-filled"></use>
                    </svg>
                    Перейти в личный кабинет
                </a>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}