{{#extend "layout"}}
{{#content "main"}}


<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs__content">
            <ul class="breadcrumbs__list">
                <li class="breadcrumbs__list-item">
                    <a href="#" class="breadcrumbs__link">
                        <svg width="16" height="16" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                        Главная
                    </a>

                    <a class="breadcrumbs__link active">
                        <svg width="16" height="16" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                        Оплата и доставка
                    </a>
                </li>
            </ul>
            <h1 class="main-heading">
                Оплата и доставка
            </h1>
        </div>
    </div>
</div>

<section class="payment-and-shipping">
    <div class="container">
        <div class="payment-and-shipping__payment">
            <h2 class="section-heading payment-and-shipping__heading">
                Оплата
            </h2>
            <div class="payment-and-shipping__heading-text">
                <p>
                    Вы можете оплатить заказ одним из следующих способов:
                </p>
            </div>
            <div class="payment-and-shipping__payment-details">
                <div class="payment-and-shipping__payment-details-row">
                    <div class="payment-and-shipping__payment-details-col">
                        <ul class="payment-and-shipping__payment-details-list">
                            <li class="payment-and-shipping__payment-details-list-item">
                                <div class="payment-and-shipping__payment-details-card">
                                    <h4 class="payment-and-shipping__payment-details-card-title">
                                        Банковская карта
                                    </h4>
                                    <div class="payment-and-shipping__payment-details-card-text">
                                        Visa, MasterCard, МИР
                                    </div>
                                </div>
                            </li>
                            <li class="payment-and-shipping__payment-details-list-item">
                                <div class="payment-and-shipping__payment-details-card">
                                    <h4 class="payment-and-shipping__payment-details-card-title">
                                        Системы мобильных платежей
                                    </h4>
                                    <div class="payment-and-shipping__payment-details-card-text">
                                        Apple Pay, Samsung Pay
                                    </div>
                                </div>
                            </li>
                            <li class="payment-and-shipping__payment-details-list-item">
                                <div class="payment-and-shipping__payment-details-card">
                                    <h4 class="payment-and-shipping__payment-details-card-title">
                                        Электронные деньги
                                    </h4>
                                    <div class="payment-and-shipping__payment-details-card-text">
                                        Яндекс деньги, Qiwi Кошелек, WebMoney, Элекснет
                                    </div>
                                </div>
                            </li>
                            <li class="payment-and-shipping__payment-details-list-item">
                                <div class="payment-and-shipping__payment-details-card">
                                    <h4 class="payment-and-shipping__payment-details-card-title">
                                        Терминалы оплаты и салоны связи
                                    </h4>
                                    <div class="payment-and-shipping__payment-details-card-text">
                                        Qiwi, Евросеть, Связной, Элекснет
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="payment-and-shipping__payment-details-col">
                        <ul class="payment-and-shipping__payment-details-list">
                            <li class="payment-and-shipping__payment-details-list-item">
                                <div class="payment-and-shipping__payment-details-card">
                                    <h4 class="payment-and-shipping__payment-details-card-title">
                                        Интернет банкинг

                                    </h4>
                                    <div class="payment-and-shipping__payment-details-card-text">
                                        Альфа-Клик
                                    </div>
                                </div>
                            </li>
                            <li class="payment-and-shipping__payment-details-list-item">
                                <div class="payment-and-shipping__payment-details-card">
                                    <h4 class="payment-and-shipping__payment-details-card-title">
                                        Сотовые операторы
                                    </h4>
                                    <div class="payment-and-shipping__payment-details-card-text">
                                        Билайн, Мегафон, МТС, Теле2
                                    </div>
                                </div>
                            </li>
                            <li class="payment-and-shipping__payment-details-list-item">
                                <div class="payment-and-shipping__payment-details-card">
                                    <h4 class="payment-and-shipping__payment-details-card-title">
                                        Карта рассрочки
                                    </h4>
                                    <div class="payment-and-shipping__payment-details-card-text">
                                        Халва
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                    <div class="payment-and-shipping__payment-details-col">
                        <div class="payment-and-shipping__payment-robo">
                            <img src="img/payment-and-shipping/robokassa.svg" alt="Робокасса"
                                class="payment-and-shipping__payment-robo-logo" width="188">
                            <div class="payment-and-shipping__payment-robo-text">
                                <p>
                                    Для оплаты вы будете перенаправлены на сайт «Робокассы», где вам будет предложено
                                    выбрать способ оплаты.

                                </p>
                                <p>
                                    Заказы отправляются только после 100% предоплаты, т.к. отправка наложенным платежом
                                    существенно увеличивает стоимость заказа.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="payment-and-shipping__shipping">
            <h2 class="section-heading payment-and-shipping__heading payment-and-shipping__shipping-heading">
                Доставка
            </h2>
            <div class="payment-and-shipping__shipping-general-conditions">
                <a href="#city-modal" class="payment-and-shipping__shipping-city js-open-modal">
                    <svg width="12" height="16" aria-hidden="true" class="icon-location">
                        <use xlink:href="#location"></use>
                    </svg>
                    Москва
                </a>
                <div class="payment-and-shipping__shipping-free">
                    При заказе от <strong>2 400 ₽</strong> — бесплатно!
                </div>
            </div>
            <div class="payment-and-shipping__shipping-choices">
                <ul class="payment-and-shipping__shipping-choices-list">
                    <li class="payment-and-shipping__shipping-choices-list-item">
                        <div class="payment-and-shipping__shipping-choices-card">

                            <div class="payment-and-shipping__shipping-choices-card-content">
                                <h4 class="payment-and-shipping__shipping-choices-card-heading">
                                    <div class="payment-and-shipping__shipping-choices-card-icon-container">
                                        <img src="img/payment-and-shipping/shipping-icon-1.svg" alt=""
                                            class="payment-and-shipping__shipping-choices-card-icon payment-and-shipping__shipping-choices-card-icon--location"
                                            width="50">
                                    </div>
                                    Самовывоз из пункта выдачи
                                </h4>
                                <div class="payment-and-shipping__shipping-choices-card-details">
                                    Стоимость: <strong>270</strong>₽<br>Срок: <strong>2-3</strong> дня
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="payment-and-shipping__shipping-choices-list-item">
                        <div class="payment-and-shipping__shipping-choices-card">

                            <div class="payment-and-shipping__shipping-choices-card-content">
                                <h4 class="payment-and-shipping__shipping-choices-card-heading">
                                    <div class="payment-and-shipping__shipping-choices-card-icon-container">
                                        <img src="img/payment-and-shipping/shipping-icon-2.svg" alt=""
                                            class="payment-and-shipping__shipping-choices-card-icon payment-and-shipping__shipping-choices-card-icon--car"
                                            width="50">
                                    </div>
                                    Курьером
                                </h4>
                                <div class="payment-and-shipping__shipping-choices-card-details">
                                    Стоимость: <strong>200</strong>₽<br>Срок: <strong>2-3</strong> дня
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="payment-and-shipping__shipping-choices-list-item">
                        <div class="payment-and-shipping__shipping-choices-card">

                            <div class="payment-and-shipping__shipping-choices-card-content">
                                <h4 class="payment-and-shipping__shipping-choices-card-heading">
                                    <div class="payment-and-shipping__shipping-choices-card-icon-container">
                                        <img src="img/payment-and-shipping/shipping-icon-3.svg" alt=""
                                            class="payment-and-shipping__shipping-choices-card-icon payment-and-shipping__shipping-choices-card-icon--mail"
                                            width="50">
                                    </div>

                                    Почта России
                                </h4>
                                <div class="payment-and-shipping__shipping-choices-card-details">
                                    Стоимость: <strong>500</strong>₽<br>Срок: до <strong>14</strong> дней
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>


    </div>
</section>
{{/content}}
{{/extend}}