{{#extend "layout"}}
{{#content "main"}}

<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs__content">
            <ul class="breadcrumbs__list">
                <li class="breadcrumbs__list-item">
                    <a href="#" class="breadcrumbs__link">
                        <svg width="16" height="16" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                        Главная
                    </a>


                    <a class="breadcrumbs__link">
                        <svg width="16" height="16" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                        Личный кабинет
                    </a>
                    <a class="breadcrumbs__link active">
                        <svg width="16" height="16" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                        Реферальная программа
                    </a>
                </li>
            </ul>
            <h1 class="main-heading main-heading--hide-on-mobile">
                Реферальная программа
            </h1>
        </div>
    </div>
</div>

<section class="account">
    <div class="container">
        <div class="account__row">
            <div class="account__left-col">
                <div class="account__referal">
                    <h2 class="account__referal-mobile-heading">
                        Реферальная программа
                    </h2>
                    <div class="account__referal-top-row">
                        <div class="account__referal-score">
                            <div class="account__referal-score-inner">
                                <svg width="12" height="16" aria-hidden="true" class="icon-score">
                                    <use xlink:href="#score"></use>
                                </svg>
                                <div class="account__referal-score-content">
                                    <div class="account__referal-score-content-text">
                                        Ваши баллы
                                    </div>
                                    <div class="account__referal-score-bonuses">
                                        720 баллов
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="account__referal-code">
                            <h4 class="account__referal-code-heading">
                                Реферальная ссылка
                            </h4>
                            <div class="account__referal-code-link js-copy-link">
                                <a href="myfitkit.ru/?2Klr3sdfwerbcse345779" class="account__referal-code-link-text js-copy-link-text">
                                    myfitkit.ru/?2Klr3sdfwerbcse345779
                                </a>
                                <button class="account__referal-code-link-copy js-copy-link-btn">
                                    <svg width="12" height="16" aria-hidden="true" class="icon-copy">
                                        <use xlink:href="#copy"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="account__referal-text-content">

                        <h3>
                            Правила использования бонусных баллов
                        </h3>
                        <p>
                            Участие в бонусной программе (накопление и использование бонусных баллов) доступно только
                            для владельцев карты постоянного покупателя.
                        </p>
                        <p>
                            Баллы накапливаются на карте постоянного покупателя при проведении определенных акций. Все
                            баллы, начисленные в рамках акций и программы лояльности, суммируются на карте и
                            действительны в течение срока, указанного в условиях акции.
                        </p>
                        <p>
                            Для начисления баллов участник акции или программы лояльности должен предъявить на кассе
                            карту постоянного покупателя, владельцем которой он является, или самостоятельно
                            отсканировать её на кассах самообслуживания до приобретения товаров в магазине и оплатить
                            покупки с использованием данной карты.
                        </p>
                        <p>
                            С условиями акций, сроками их проведения, а также сроками действия бонусных баллов можно
                            ознакомиться на сайте или по телефону.
                        </p>
                        <p>
                            Накопленные бонусные баллы могут быть использованы по желанию покупателя при оплате покупок.
                            Баллы могут использоваться в любом магазине, независимо от места приобретения карты
                            постоянного покупателя и акции, за которую начислены бонусные баллы.
                        </p>
                        <p>
                            Накопленные бонусные баллы могут быть использованы в качестве скидки на приобретенные товары
                            следующим образом:
                        </p>
                        <ul>
                            <li>
                                В размере не более 99% от стоимости каждой единицы товара, но не менее 1,00 (одного)
                                рубля. При этом если на товар установлена минимальная розничная цена, размер скидки
                                может быть ограничен таким образом, чтобы не допустить нарушения нормативно
                                установленных минимальных розничных цен (МРЦ)
                            </li>
                            <li>
                                После применения скидки в виде бонусных баллов покупатель может выбрать любой удобный
                                способ оплаты (наличными средствами, банковской картой, подарочной картой или в их
                                комбинации).

                            </li>
                            <li>
                                Неиспользованные бонусные баллы сохраняются на карте постоянного покупателя, и могут
                                быть использованы согласно условиям акции.

                            </li>
                            <li>
                                Компания не несёт ответственности за использование баллов при несанкционированном
                                использовании карты третьими лицами.

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="account__right-col">
                <nav class="account__nav account__nav--compact-on-mobile">
                    <ul class="account__nav-list">
                        <li class="account__nav-list-item">
                            <a href="#" class="account__nav-link">
                                Кабинет
                            </a>
                        </li>
                        <li class="account__nav-list-item">
                            <a href="#" class="account__nav-link">
                                Мои заказы
                            </a>
                        </li>
                        <li class="account__nav-list-item">
                            <a href="#" class="account__nav-link">
                                Личные данные
                            </a>
                        </li>
                        <li class="account__nav-list-item">
                            <a href="#" class="account__nav-link">
                                Адреса доставки
                            </a>
                        </li>
                        <li class="account__nav-list-item active">
                            <a href="#" class="account__nav-link">
                                Реферальная программа
                            </a>
                        </li>
                    </ul>
                </nav>
                <a href="#" class="account__exit-link account__exit-link--hide-on-mobile">
                    <svg width="16" height="16" aria-hidden="true" class="icon-exit">
                        <use xlink:href="#exit"></use>
                    </svg>
                    Выйти из кабинета
                </a>
            </div>
        </div>
    </div>
</section>


{{/content}}
{{/extend}}