.account {
    padding-top: 4rem;
    margin-bottom: 10rem;

    @include breakpoint(mobile) {
        padding-top: 0;
    }
}

.account__row {
    display: flex;

    @include breakpoint(mobile) {
        flex-direction: column;
    }
}

.account__left-col {
    width: 50%;
    flex-grow: 1;
    @include breakpoint(mobile) {
        width: 100%;
        flex-grow: 0;
    }
}

.account__right-col {
    width: 30rem;
    margin-left: 3rem;

    @include breakpoint(tablet) {
        width: 22rem;
    }

    @include breakpoint(mobile) {
        width: 100%;
        flex-grow: 0;
        margin: 0;
        margin-bottom: 3rem;
        order: -1;
    }
}

.account__nav {
    margin-top: -1.4rem;

    @include breakpoint(mobile) {
        margin: 0;
    }
}

.account__nav-list {
    .account__nav--compact-on-mobile & {
        @include breakpoint(mobile) {
            display: flex;
            flex-wrap: nowrap;
            overflow-y: hidden;
            -webkit-overflow-scrolling: touch;
            @include noScrollbar();
            margin-left: calc(-1 * var(--content-padding));
            padding-left: var(--content-padding);
            margin-right: calc(-1 * var(--content-padding));
            padding-right: var(--content-padding);
            position: relative;
            &::after {
                content: '';
                width: var(--content-padding);
                height: 1px;
                flex-shrink: 0;
            }
        }
    }
}

.account__nav-list-item {
    .account__nav--compact-on-mobile & {
        @include breakpoint(mobile) {
            margin-right: 1rem;
            flex-shrink: 0;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.account__nav-link {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.4rem;
    padding: 1.4rem 1rem;
    position: relative;
    display: block;
    font-family: var(--roboto);
    z-index: 1;
    &::before {
        content: '';
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.3rem;
        background-size: 100% 100%;
        background-position: left center;
        background-repeat: no-repeat;
        background-image: url('../img/splashes/payment-card-dash.svg');
        position: absolute;
        z-index: -1;
        pointer-events: none;
    }
    .account__nav-list-item.active & {
        color: #8b8b8b;
    }

    .no-touch &:hover {
        color: var(--primary-color);
    }

    .account__nav--compact-on-mobile & {
        @include breakpoint(mobile) {
            padding: 0.9rem 1.7rem;
            border-radius: 6rem;
            background: #ececec;
            flex-shrink: 0;
            font-size: 1.6rem;
            line-height: 2.2rem;
            color: #8b8b8b;
            transition: color 0.2s, border-color 0.2s, background-color 0.2s;
            white-space: nowrap;
            border: 2px solid #ececec;
            font-weight: 400;
            text-align: center;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            &:link,
            &:visited {
                color: #8b8b8b;
            }
            &::before {
                display: none;
            }
        }
    }

    .account__nav--compact-on-mobile .account__nav-list-item.active & {
        @include breakpoint(mobile) {
            background-color: white;
            color: var(--brown);
        }
    }
}

.account__exit-link {
    display: flex;
    align-items: center;

    font-size: 1.8rem;
    line-height: 2.4rem;
    padding: 1.4rem 1rem;
    font-family: var(--roboto);
    font-weight: 400;
    svg {
        width: 1.5rem;
        height: 1.5rem;
        fill: #555555;
        flex-shrink: 0;
        margin-right: 1rem;
        transition: fill 0.2s;
    }

    .no-touch &:hover {
        color: var(--primary-color);

        svg {
            fill: var(--primary-color);
        }
    }
}

.account__exit-link--hide-on-mobile {
    @include breakpoint(mobile) {
        display: none;
    }
}

.account__actions {
    @include breakpoint(mobile) {
        display: none;
    }
}

.account__actions-list {
    display: flex;
    flex-wrap: wrap;
    margin: -1.5rem;
}

.account__actions-list-item {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;

    @include breakpoint(small-tablet) {
        width: 50%;
    }

    @include breakpoint(mobile) {
        width: 100%;
    }
}

.account__actions-link {
    display: flex;
    flex-direction: column;
    background: #faefe6;
    border-radius: 1.6rem;
    padding: 3rem 1.5rem;
    min-height: 15rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 900;
    font-size: 2rem;
    line-height: 2.4rem;
    position: relative;

    @include breakpoint(tablet) {
        font-weight: 900;
        font-size: 1.8rem;
        line-height: 2.4rem;
        padding: 0;
    }

    .no-touch &:hover {
        color: var(--primary-color);
    }

    &::before {
        content: '';
        width: 8.5rem;
        height: 0.2rem;
        position: absolute;
        pointer-events: none;
        z-index: -1;
        background-size: contain;
        background-position: center;
        background-image: url('../img/splashes/action-card-top-dash.svg');
        background-repeat: no-repeat;
        right: 4rem;
        top: -0.4rem;
    }

    &::after {
        content: '';
        width: 10.4rem;
        height: 0.3rem;
        position: absolute;
        pointer-events: none;
        z-index: -1;
        background-size: contain;
        background-position: center;
        background-image: url('../img/splashes/action-card-bottom-dash.svg');
        background-repeat: no-repeat;
        left: 2rem;
        bottom: -0.4rem;
    }

    &:link,
    &:visited {
        color: var(--brown);
    }
}

.account__actions-link-text {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
}

.account__actions-link-count {
    width: 1.9rem;
    height: 1.9rem;
    border-radius: 50%;
    flex-shrink: 0;
    background: var(--brown);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    line-height: 2.2rem;
    text-align: center;
    font-family: var(--roboto);
    margin-left: 0.5rem;
    position: relative;
    bottom: auto;
    color: white;
    font-weight: 400;

    position: absolute;
    left: 100%;
    top: -0.3rem;
}

.account__my-orders-list-item {
    margin-bottom: 2rem;
    &:last-child {
        margin-bottom: 0;
    }
}

.account__my-orders-card {
    position: relative;
    padding: 3rem;
    background: #faefe6;
    border-radius: 1.6rem;
    display: flex;
    flex-direction: column;

    @include breakpoint(mobile) {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    &::before {
        content: '';
        position: absolute;
        pointer-events: none;
        z-index: -1;
        width: 8.5rem;
        height: 0.2rem;
        background-image: url('../img/splashes/cart-summary-top-dash.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        right: 4rem;
        top: -0.4rem;
    }

    &::after {
        content: '';
        position: absolute;
        pointer-events: none;
        z-index: -1;
        width: 10.4rem;
        height: 0.3rem;
        bottom: -0.4rem;
        left: 2rem;
        background-image: url('../img/splashes/cart-summary-bottom-dash.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    &--completed {
        background-color: #f2f2f2;

        &::before {
            background-image: url('../img/splashes/cart-summary-top-dash-grey.svg');
        }

        &::after {
            background-image: url('../img/splashes/cart-summary-bottom-dash-grey.svg');
        }
    }

    &--standalone {
        padding: 0;
        background: transparent;
        &::before,
        &::after {
            display: none;
        }
    }
}

.account__my-orders-card-info-top-row {
    display: flex;
    align-items: baseline;
    margin-bottom: 1.4rem;

    @include breakpoint(tablet) {
        .account__my-orders-card--standalone & {
            margin-bottom: 1rem;
        }
    }

    @include breakpoint(mobile) {
        margin-bottom: 2rem;
        justify-content: space-between;
    }
}

.account__my-orders-card-info-bottom-row {
    display: flex;
    align-items: baseline;
}

.account__my-orders-card-title {
    font-weight: 900;
    font-size: 2.4rem;
    line-height: 1.2;
    margin-right: 2rem;

    // @include breakpoint(tablet) {
    //     font-size: 3rem;
    //     line-height: 4.4rem;
    // }

    @include breakpoint(mobile) {
        font-size: 1.8rem;
        line-height: 2.4rem;
    }

    .account__my-orders-card--standalone & {
        font-size: 3.2rem;
        line-height: 4.4rem;
        letter-spacing: -0.05rem;

        @include breakpoint(tablet) {
            font-size: 3rem;
            line-height: 4.4rem;
        }

        @include breakpoint(small-tablet) {
            font-weight: 900;
            font-size: 2.8rem;
            line-height: 4.4rem;
        }

        @include breakpoint(mobile) {
            font-size: 2.2rem;
            line-height: 2.8rem;
        }
    }
}

.account__my-orders-card-date {
    color: #8b8b8b;
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-family: var(--roboto);

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 1.8rem;
    }
}

.account__my-orders-card-info-bottom-row {
    font-size: 2rem;
    line-height: 2.8rem;
    font-family: var(--roboto);

    strong {
        font-weight: 700;
    }

    @include breakpoint(tablet) {
        font-size: 1.8rem;
        line-height: 2.4rem;
    }

    @include breakpoint(small-tablet) {
        flex-wrap: wrap;
    }

    @include breakpoint(mobile) {
        flex-wrap: nowrap;
        flex-direction: column;
    }
}

.account__my-orders-card-amount {
    width: 33rem;
    margin-right: 5rem;

    @include breakpoint(tablet) {
        width: 22.5rem;
        margin-right: 2rem;
    }

    @include breakpoint(small-tablet) {
        margin: 0;
        width: 100%;
        margin-bottom: 1rem;
    }

    @include breakpoint(mobile) {
        margin-bottom: 0;
    }
}

.account__my-orders-card-status {
    font-size: 1.8rem;
    line-height: 2.6rem;
    font-family: var(--roboto);
    flex-grow: 1;

    @include breakpoint(mobile) {
        flex-grow: 1;
        margin-bottom: 1rem;
    }
}

.account__my-orders-card-details-link {
    display: inline-flex;
    align-items: center;
    font-family: var(--roboto);
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.4rem;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }

    svg {
        width: 1rem;
        height: 1.6rem;
        fill: #555555;
        flex-shrink: 0;
        margin-left: 1.2rem;
        transition: fill 0.2s;
    }

    .no-touch &:hover {
        color: var(--primary-color);

        svg {
            fill: var(--primary-color);
        }
    }
}

.account__my-order-info {
    margin-bottom: 4rem;

    @include breakpoint(tablet) {
        margin-bottom: 3rem;
    }
}

.account__my-order-included {
    margin-bottom: 4rem;
    max-width: 62rem;
    @include breakpoint(tablet) {
        margin-bottom: 1rem;
    }
}

.account__my-order-heading {
    font-weight: 900;
    font-size: 3.2rem;
    line-height: 4.4rem;
    letter-spacing: -0.05rem;
    margin-bottom: 2rem;

    @include breakpoint(tablet) {
        margin-bottom: 1rem;

        font-size: 3rem;
        line-height: 4.4rem;
    }

    @include breakpoint(small-tablet) {
        font-size: 2.8rem;
        line-height: 4.4rem;
    }

    @include breakpoint(mobile) {
        font-size: 2.2rem;
        line-height: 2.8rem;
    }
}

.account__my-order-delivery {
    margin-bottom: 4rem;

    @include breakpoint(tablet) {
        margin-bottom: 3rem;
    }
}

.account__my-order-delivery-text {
    font-size: 1.8rem;
    line-height: 2.6rem;
    font-family: var(--roboto);
    strong {
        font-weight: 700;
    }

    p {
        margin-bottom: 1.2rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.account__my-order-summary {
    max-width: 40rem;
    display: flex;
    flex-direction: column;
}

.account__actions-link-text-content {
    br {
        display: none;
        @include breakpoint(tablet) {
            display: block;
        }
    }
}

.account__personal-data-your-data {
    margin-bottom: 4rem;
}

.account__personal-data-large-heading {
    font-weight: 900;
    font-size: 3.2rem;
    line-height: 4.4rem;
    letter-spacing: -0.05rem;
    margin-bottom: 2rem;

    @include breakpoint(tablet) {
        font-size: 3rem;
        line-height: 4.4rem;
    }

    @include breakpoint(small-tablet) {
        font-size: 2.8rem;
        line-height: 4.4rem;
    }

    @include breakpoint(mobile) {
        font-size: 2.2rem;
        line-height: 2.8rem;
    }
}

.account__personal-data-small-heading {
    font-weight: 900;
    font-size: 2.4rem;
    line-height: 2.4rem;
    margin-bottom: 2rem;

    @include breakpoint(small-tablet) {
        font-size: 2.8rem;
        line-height: 4.4rem;
    }

    @include breakpoint(mobile) {
        font-size: 2.2rem;
        line-height: 2.8rem;
    }
}

.account__personal-data {
    max-width: 62rem;
}

.account__personal-data-form-row {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem;
    @include breakpoint(mobile) {
        margin: -0.6rem;
        width: 100%;
    }
}

.account__personal-data-form-col {
    width: 50%;
    padding: 1rem;

    @include breakpoint(mobile) {
        padding: 0.6rem;
        width: 100%;
    }
}

.account__personal-data-change-password {
    margin-bottom: 3rem;
}

.account__personal-data-submit {
    font-weight: 700;
    padding-left: 4.8rem;
    padding-right: 4.8rem;
}

.account__delivery-addresses-list-item {
    margin-bottom: 2rem;
    &:last-child {
        margin-bottom: 0;
    }
}

.account__delivery-addresses-card {
    position: relative;
    background: #faefe6;
    border-radius: 1.6rem;
    padding: 3rem;
    font-family: var(--roboto);
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include breakpoint(mobile) {
        flex-direction: column;
        justify-content: initial;
        padding: 2rem 2.7rem;
        align-items: initial;
    }
    &::before {
        content: '';
        position: absolute;
        pointer-events: none;
        z-index: -1;
        width: 8.5rem;
        height: 0.2rem;
        background-image: url('../img/splashes/cart-summary-top-dash.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        right: 4rem;
        top: -0.4rem;
    }

    &::after {
        content: '';
        position: absolute;
        pointer-events: none;
        z-index: -1;
        width: 10.4rem;
        height: 0.3rem;
        bottom: -0.4rem;
        left: 2rem;
        background-image: url('../img/splashes/cart-summary-bottom-dash.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.account__delivery-addresses-card-title {
    font-size: 1.8rem;
    line-height: 2.6rem;
    font-weight: 400;
    margin-right: 2rem;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 2.4rem;
        margin-right: 0;
        margin-bottom: 1rem;
    }
}

.account__delivery-addresses-card-link {
    display: inline-flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.4rem;
    margin-left: auto;
    svg {
        width: 1rem;
        height: 1.6rem;
        flex-shrink: 0;
        margin-left: 1rem;
        fill: #555555;
        transition: fill 0.2s;

        @include breakpoint(mobile) {
            width: 0.8rem;
            height: 1.4rem;
        }
    }

    .no-touch &:hover {
        color: var(--primary-color);

        svg {
            fill: var(--primary-color);
        }
    }

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 2.4rem;
        margin-left: 0;
    }
}

.account__delivery-addresses-list {
    margin-bottom: 3rem;

    @include breakpoint(mobile) {
        margin-bottom: 3rem;
    }
}

.account__delivery-addresses {
    display: flex;
    flex-direction: column;
}

.account__delivery-addresses-btn {
    margin-left: auto;
}

.account__delivery-addresses-btn {
    background: transparent;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);

    &:link,
    &:visited {
        color: var(--primary-color);
    }

    .no-touch &:hover {
        background-color: var(--primary-color);
        color: white;
    }

    @include breakpoint(mobile) {
        width: 100%;
        padding: 1.4rem;
        padding-bottom: 1.4rem;
    }
}

.account__delivery-address-heading {
    font-weight: 900;
    font-size: 3.2rem;
    line-height: 4.4rem;
    letter-spacing: -0.05rem;
    margin-bottom: 2rem;

    @include breakpoint(tablet) {
        font-size: 3rem;
        line-height: 4.4rem;
    }

    @include breakpoint(small-tablet) {
        font-size: 2.8rem;
        line-height: 4.4rem;
    }

    @include breakpoint(mobile) {
        font-size: 2.2rem;
        line-height: 2.8rem;
    }
}

.account__delivery-address-choose-city {
    display: inline-flex;
    align-items: center;
    font-size: 1.6rem;
    line-height: 1.9rem;
    font-family: var(--roboto);
    margin-bottom: 2rem;
    &:link,
    &:visited {
        color: var(--primary-color);
    }

    svg {
        width: 1.2rem;
        height: 1.7rem;
        flex-shrink: 0;
        fill: var(--primary-color);
        margin-right: 1rem;
    }

    @include breakpoint(mobile) {
        margin-bottom: 1.2rem;
    }
}

.account__delivery-address-form {
    max-width: 62rem;
}

.account__delivery-address-form-row {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem -1.5rem;

    @include breakpoint(mobile) {
        margin: -0.6rem;
    }
}

.account__delivery-address-form-col {
    width: 50%;
    padding: 1rem 1.5rem;

    @include breakpoint(mobile) {
        padding: 0.6rem;
        width: 100%;
    }
}

.account__delivery-address-form-inner-row {
    display: flex;
    flex-wrap: wrap;
    margin: -1.5rem;

    @include breakpoint(mobile) {
        margin: -1rem;
    }
}

.account__delivery-address-form-inner-col {
    padding: 1.5rem;
    width: 33.33%;

    @include breakpoint(mobile) {
        padding: 1rem;
    }
}

.account__delivery-address-form-submit {
    font-weight: 700;
    padding-left: 4.8rem;
    padding-right: 4.8rem;
    margin-top: 3rem;

    @include breakpoint(mobile) {
        width: 100%;
        padding-top: 1.4rem;
        padding-bottom: 1.4rem;
    }
}

.account__delivery-address-back {
    margin-top: 3rem;

    @include breakpoint(mobile) {
        order: -1;
        margin-top: 0;
        margin-bottom: 1rem;
        display: inline-flex;
        font-size: 1.6rem;
        line-height: 2.4rem;
        font-weight: 400;

        svg {
            width: 0.6rem;
            height: 1.2rem;
            margin-right: 1rem;
        }
    }
}

.account__delivery-address-form-col--address {
    @include breakpoint(small-tablet) {
        width: 100%;
    }
}

.account__delivery-address {
    display: flex;
    flex-direction: column;
  
}
