.advantages {
    margin-bottom: 7rem;

    @include breakpoint(tablet) {
        margin-bottom: 6rem;
    }

    @include breakpoint(small-tablet) {
        margin-bottom: 5rem;
    }
}

.advantages__content {
    padding: 0rem 3.2rem;

    @include breakpoint(tablet) {
        padding: 0;
    }
}

.advantages__list {
    display: flex;

    justify-content: space-between;
    margin: -2rem -4rem;
    @include breakpoint(small-tablet) {
        margin: -1rem;
    }

    @include breakpoint(mobile) {
        margin: 0;
        flex-direction: column;
        justify-content: initial;
        padding-left: 2rem;
        padding-right: 1rem;
    }
}

.advantages__list-item {
    padding: 2rem 4rem;

    @include breakpoint(small-tablet) {
        padding: 1rem;
    }

    @include breakpoint(mobile) {
        padding: 0;
        margin-bottom: 2.6rem;
        &:last-child {
            margin-bottom: 0;
        }
    }

    &:nth-child(3n + 1) {
        .advantages__card-content {
            &::before {
                background-image: url('../img/advantages/advantages-bottom-splash-1.svg');
            }
        }
    }

    &:nth-child(3n + 2) {
        .advantages__card-content {
            &::before {
                background-image: url('../img/advantages/advantages-bottom-splash-2.svg');
            }
        }
    }

    &:nth-child(3n + 3) {
        .advantages__card-content {
            &::before {
                background-image: url('../img/advantages/advantages-bottom-splash-3.svg');
            }
        }
    }
}

.advantages__card {
    position: relative;

    @include breakpointMF(small-tablet) {
        &:hover {
            .advantages__card-dropdown {
                opacity: 1;
                visibility: visible;
                transition: opacity 0.3s, visibility 0.3s;
            }

            .advantages__card-wrapper {
                opacity: 0;
                visibility: hidden;
                transition: opacity 0.3s, visibility 0s linear 0.3s;
            }
        }
    }

    @include breakpoint(mobile) {
        &.active {
            .advantages__card-dropdown {
                opacity: 1;
                visibility: visible;
                transition: opacity 0.3s, visibility 0.3s;
            }

        
        }
    }
}

.advantages__card-wrapper {
    transition: opacity 0.3s, visibility 0.3s;
    display: flex;
}

.advantages__card-icon {
    width: 6.2rem;
    height: 6.2rem;
    flex-shrink: 0;
    margin-right: 2.2rem;

    @include objectFitContain();

    @include breakpoint(tablet) {
        width: 5.1rem;
        height: 5.1rem;
        margin-right: 2rem;
    }

    @include breakpoint(small-tablet) {
        width: 4.5rem;
        height: 4.5rem;
        margin-right: 1.7rem;
    }

    @include breakpoint(mobile) {
        width: 4.4rem;
        height: 4.4rem;
        margin-right: 2rem;
    }
}

.advantages__card-content {
    width: 30%;
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 1rem;
    padding-top: 0.5rem;

    @include breakpoint(tablet) {
        padding-top: 0;
        padding-bottom: 1.5rem;
    }
    &::before {
        content: '';
        width: 100%;
        bottom: 0;
        left: 0;
        height: 0.9rem;

        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: left center;
        position: absolute;
    }
}

.advantages__card-title {
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.4rem;

    @include breakpoint(tablet) {
        font-size: 1.8rem;
        line-height: 2.4rem;
    }

    @include breakpoint(small-tablet) {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
}

.advantages__card-dropdown {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s linear 0.3s;
    cursor: default;

    @include breakpoint(mobile) {
        position: fixed;
        z-index: 500;
    }
}

.advantages__card-dropdown-close {
    position: absolute;
    z-index: 20;
    right: var(--content-padding);
    top: 0;
    width: 4.2rem;
    height: 4.2rem;
    flex-shrink: 0;
    border-radius: 50%;
    background: #FFC6CE;

    display: none;

    @include breakpoint(mobile) {
        display: block;
    }
    svg {
        width: 2rem;
        height: 2rem;
        fill: #555555;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &--yellow {
        background: #FFEE55;
    }

    &--blue {
        background: #6AF6FF;
    }
}

.advantages__card-dropdown-inner {
   
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

 
}

.advantages__card-dropdown-bg {
    max-width: none;
    max-height: none;
    width: auto;
    height: auto;
    display: block;

    z-index: -1;
    position: relative;
    &--1 {
        width: 42rem;
        margin-top: -4rem;
        margin-left: -1rem;

        @include breakpoint(mobile) {
            width: 38rem;
            
        }
    }

    &--2 {
        width: 41.6rem;
        margin-right: 2rem;
        // top: -2rem;
        // left: -2rem;

        @include breakpoint(mobile) {
            width: 35rem;
        }
    }

    &--3 {
        width: 41rem;
        // margin-left: 3rem;

        @include breakpoint(mobile) {
            width: 37rem;
        }
    }

    @include objectFitContain();


    
}

.advantages__card-dropdown-image {
    position: absolute;

    &--1 {
        width: 33.4rem;
        height: auto;
        bottom: 0;
        right: 2rem;

        @include breakpoint(mobile) {
            width: 30rem;
        }
    }

    &--2 {
        width: 35.8rem;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        margin-left: -2rem;

        @include breakpoint(mobile) {
            width: 29rem;
        }
    }

    &--3 {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 33rem;

        @include breakpoint(mobile) {
            width: 27rem;
        }
    }
}

.advantages__card-dropdown-text {
    width: 18rem;
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: #531918;
    font-family: var(--roboto);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
