.blog-detail {
    margin-bottom: 6rem;
    padding-top: 1.3rem;

    @include breakpoint(tablet) {
        margin-top: -2rem;
    }

    @include breakpoint(mobile) {
        position: relative;
        z-index: 600;

        margin-bottom: 3rem;
    }

    &--about {
        margin-bottom: 10rem;
    }
}

.blog-detail__header {
    margin-bottom: 1rem;
}

.blog-detail__heading--about {
    margin-bottom: 3rem;
}

.blog-detail__date {
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: #8b8b8b;
    margin-bottom: 3rem;
    font-family: var(--roboto);
    display: block;

    @include breakpoint(small-tablet) {
        margin-bottom: 2rem;
    }

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 1.8rem;
    }
}

.blog-detail__intro-image-container {
    position: relative;
    overflow: hidden;
    border-radius: 4rem;
    backface-visibility: hidden;
    transform: translateZ(0);
    margin-bottom: 5rem;
    &::after {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 39%;

        @include breakpoint(tablet) {
            padding-bottom: 44.5%;
        }

        @include breakpoint(small-tablet) {
            padding-bottom: 56%;
        }

        @include breakpoint(mobile) {
            padding-bottom: 60%;
        }
    }

    @include breakpoint(tablet) {
        margin-bottom: 4rem;
    }

    @include breakpoint(small-tablet) {
        border-radius: 3rem;
    }

    @include breakpoint(mobile) {
        border-radius: 0;
        width: auto;
        margin-left: calc(-1 * var(--content-padding));
        margin-right: calc(-1 * var(--content-padding));
        // padding-left: var(--content-padding);
        // padding-right: var(--content-padding);
        margin-bottom: 3rem;
    }
}

.blog-detail__intro-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include objectFitCover();
}

.blog-detail__content {
    font-size: 1.8rem;
    line-height: 2.6rem;
    font-family: var(--roboto);
    width: 100%;
    margin: 0 auto;
    max-width: 106.2rem;

    @include breakpoint(tablet) {
        max-width: 78.2rem;
    }

    @include breakpoint(mobile) {
        max-width: none;
        margin: 0;
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
    strong {
        font-weight: bold;
        font-size: 2rem;
        line-height: 2.8rem;

        @include breakpoint(mobile) {
            font-weight: 400;
        }
    }

    p {
        margin-top: 2rem;

        @include breakpoint(mobile) {
            margin-top: 1rem;
        }
        &:first-child {
            margin-top: 0;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: bold;
        font-size: 2.4rem;
        line-height: 2.8rem;
        margin-top: 4rem;

        @include breakpoint(mobile) {
            font-size: 2rem;
            line-height: 2.6rem;
            margin-top: 2rem;
        }
    }
}

.blog-detail__video,
.blog-detail__gallery {
    margin: 0 auto;
    margin-top: 4rem;
    width: 100%;
    max-width: 84.4rem;
    display: block;

    @include breakpoint(mobile) {
        max-width: none;
        margin-left: 0;
        margin-right: 0;
        width: auto;
        margin-bottom: 2rem;
        margin-top: 4rem;
    }

    .blog-detail__video-block-heading,
    .blog-detail__gallery-block-heading {
        text-align: center;
        margin-top: 0;
        margin-bottom: 2rem;

        @include breakpoint(mobile) {
            text-align: left;
        }
    }

    .blog-detail__video-heading {
        font-size: 1.8rem;
        line-height: 2.6rem;
        font-weight: 400;
        color: #555555;
        margin: 0;
        margin-top: 2rem;

        @include breakpoint(mobile) {
            color: var(--brown);
            font-size: 1.6rem;
            line-height: 2.4rem;
            margin-top: 1rem;
        }
    }
}

.blog-detail__gallery-slider-card,
.blog-detail__video-image-container {
    position: relative;
    border-radius: 1.8rem;
    overflow: hidden;
    display: block;
    backface-visibility: hidden;
    transform: translateZ(0);

    @include breakpoint(mobile) {
        border-radius: 0;
    }
    &::after {
        content: '';
        display: block;
        padding-bottom: 70%;

        @include breakpoint(small-tablet) {
            padding-bottom: 70%;
        }
    }

    .no-touch &:hover {
        .blog-detail__video-play {
            transform: translate(-50%, -50%) scale(1.1);
            transition: transform 0.3s ease-out;
        }
    }
}

.blog-detail__video-image-container {
    @include breakpoint(mobile) {
        margin-left: calc(-1 * var(--content-padding));
        margin-right: calc(-1 * var(--content-padding));
    }
}

.blog-detail__gallery-slider {
    @include breakpoint(mobile) {
        margin-left: calc(-1 * var(--content-padding));
        margin-right: calc(-1 * var(--content-padding));
    }
}

.blog-detail__gallery-slider-card {
    border-radius: 0;
    overflow: visible;
}

.blog-detail__gallery-slider-card-image,
.blog-detail__video-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include objectFitCover();
}

.blog-detail__video-play {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    transition: transform 0.3s;
    svg {
        display: block;
        width: 5.8rem;
        height: 5.8rem;
    }
}

.blog-detail__footer {
    margin-top: 4rem;
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--roboto);
    position: relative;
    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        pointer-events: none;
        background-size: 100% 100%;
        height: 0.3rem;
        width: 100%;
        top: 0;
        left: 0;
        background-repeat: no-repeat;
        background-position: left center;
        background-image: url('../img/splashes/cart-item-dash.svg');
    }

    @include breakpoint(tablet) {
        max-width: 78.2rem;
        margin-left: auto;
        margin-right: auto;
    }

    @include breakpoint(small-tablet) {
        margin-top: 3rem;
    }
    @include breakpoint(mobile) {
        padding-top: 1.6rem;
    }
}

.blog-detail__back-link {
    display: inline-flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: var(--brown);
    font-family: var(--roboto);

    @include breakpoint(mobile) {
        display: none;
    }
    svg {
        width: 1.2rem;
        height: 2rem;
        flex-shrink: 0;
        margin-right: 1.2rem;
        fill: #555555;
        transition: fill 0.2s;
    }

    &:link,
    &:visited {
        color: var(--brown);
    }

    .no-touch &:hover {
        color: var(--primary-color);
        svg {
            fill: var(--primary-color);
        }
    }
}

.blog-detail__sharing {
    display: flex;
    align-items: center;

    @include breakpoint(mobile) {
        width: 100%;
        justify-content: space-between;
    }
}

.blog-detail__sharing-heading {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: #8b8b8b;
    margin-right: 3.5rem;

    @include breakpoint(tablet) {
        display: none;
    }

    @include breakpoint(mobile) {
        display: block;
        font-size: 1.4rem;
        line-height: 1.8rem;
        margin-right: 2rem;
    }
}

.blog-detail__list {
    display: flex;
    align-items: center;
}

.blog-detail__list-item {
    margin-right: 3rem;
    &:last-child {
        margin-right: 0;
    }
}

.blog-detail__sharing-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    color: #df633c;
    transition: color 0.2s, transform 0.2s;
    &:link,
    &:visited {
        color: #df633c;
    }

    .no-touch &:hover {
        transform: scale(1.08);
    }
    svg {
        fill: currentColor;
        width: 2rem;
        height: 2rem;
        display: block;
        flex-shrink: 0;

        &.icon-vk {
            width: 2.3rem;
            height: 1.3rem;
        }

        &.icon-twitter {
            width: 2rem;
            height: 1.6rem;
        }

        &.icon-facebook {
            width: 1rem;
            height: 2rem;
        }
    }
}

.blog-detail__recipe {
    margin-top: 4rem;

    @include breakpoint(mobile) {
        flex-direction: column-reverse;
        align-items: initial;
        margin-top: 2rem;
    }
}

.blog-detail__recipe-col {
    margin-bottom: 3rem;
    &:last-child {
        margin-bottom: 0;
    }
    .blog-detail__recipe-col-heading {
        margin-bottom: 2rem;
        margin-top: 0;

        @include breakpoint(mobile) {
            margin-bottom: 1rem;
        }
    }
}

.blog-detail__recipe-card-heading {
    margin-bottom: 2rem;
}

.blog-detail__recipe-list {
    // display: flex;
    // flex-wrap: wrap;
    // margin: -0.5rem -1rem;


    column-count: 2;
    column-gap: 4rem;

    @include breakpoint(small-tablet) {
        column-count: 1;
    }

    @include breakpoint(mobile) {
        margin-top: 1.3rem;
    }
}

.blog-detail__recipe-list-item {
    
 
    // width: 50%;
    // padding: 0.5rem 1rem;
    margin-bottom: .5rem;
    break-inside: avoid;

    @include breakpoint(mobile) {
        margin-bottom: 1rem;
    }

    &::before {
        display: none;
    }

    
}

.blog-detail__recipe-card {
    padding-top: 0.5rem;
    padding-left: 4.2rem;
    position: relative;
    &::before {
        content: counter(ordered-list);
        font-size: 1.6rem;
        line-height: 2.2rem;
        width: 3.2rem;
        height: 3.2rem;
        position: absolute;
        left: 0;
        top: 0;
        background-image: url('../img/marker.svg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: white;

        @include breakpoint(mobile) {
            width: 2.6rem;
            height: 2.7rem;
            font-size: 1.4rem;
            line-height: 1.8rem;
        }
    }
    @include breakpoint(mobile) {
        padding-top: 0.2rem;
        padding-left: 3.7rem;
    }

    .blog-detail__recipe-card-heading {
        font-weight: bold;
        font-size: 1.8rem;
        line-height: 2.4rem;
        margin-bottom: 0.4rem;
        margin-top: 0;

        @include breakpoint(mobile) {
            font-size: 1.6rem;
            line-height: 2.4rem;
            margin: 0;
        }
    }
}

.blog-detail__recipe-card-text {
    font-size: 1.8rem;
    line-height: 2.6rem;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 2.4rem;

        br {
            display: none;
        }
    }
}

.blog-detail__recipe-table {
    max-width: 37.3rem;
    table,
    thead,
    tbody,
    th,
    tr,
    td {
        display: block;
    }

    tr {
        display: flex;
        align-items: baseline;
        margin-bottom: 0.6rem;

        @include breakpoint(mobile) {
            margin-bottom: 1rem;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }

    th,
    td {
        font-size: 1.8rem;
        line-height: 2.6rem;
        text-align: left;
        font-weight: 400;

        @include breakpoint(mobile) {
            font-size: 1.6rem;
            line-height: 1.9rem;
        }
    }

    th {
        display: flex;
        flex-grow: 1;
        &::after {
            content: '';
            display: flex;
            width: 1rem;
            flex-grow: 1;
            height: 2px;
            background-image: url(../img/cart/dashed-line-pattern.svg);
            background-repeat: repeat-x;
            background-size: auto 2px;
            background-position: left center;
            align-self: flex-end;
            margin: 0 0.8rem;
            position: relative;
            top: -0.4rem;
        }
    }

    td {
        width: 4.6rem;
    }
}

.blog-detail__gallery-slider {
    position: relative;
}

.blog-detail__gallery-slider-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.6rem;

    @include breakpoint(mobile) {
        margin-top: 1.2rem;
    }
    .swiper-pagination-bullet {
        border: none;
        margin: 0 0.5rem;
        width: 0.8rem;
        height: 0.8rem;
        background: #d9d9d9;
        border-radius: 50%;
        outline: none;
        flex-shrink: 0;
        transition: background-color 0.2s;
        opacity: 1 !important;
        &.swiper-pagination-bullet-active {
            background-color: var(--brown);
        }
    }
}

.blog-detail__gallery-slider-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 5.8rem;
    height: 5.8rem;
    background-image: url('../img/recipe/gallery-arrow-bg.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 40;
    transition: opacity 0.3s, visibility 0.3s;
    &--prev {
        left: 0;
        transform: translateY(-50%) translateX(-50%);
    }
    &--next {
        right: 0;
        transform: translateY(-50%) translateX(50%);
    }
    svg {
        width: 2.7rem;
        height: 2rem;
        fill: var(--brown);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &.swiper-button-disabled {
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.2s, visibility 0s linear 0.2s;
    }

    @include breakpoint(mobile) {
        display: none;
    }
}

.blog-detail__gallery-slider-content {
    border-radius: 1.8rem;
    overflow: hidden;

    .swiper-slide {
        &:first-child {
            border-top-left-radius: 1.8rem;
            border-bottom-left-radius: 1.8rem;
            overflow: hidden;
            @include breakpoint(mobile) {
                border-radius: 0;
            }
        }
        &:last-child {
            border-top-right-radius: 1.8rem;
            border-bottom-right-radius: 1.8rem;
            overflow: hidden;
            @include breakpoint(mobile) {
                border-radius: 0;
            }
        }
    }

    @include breakpoint(mobile) {
        border-radius: 0;
    }
}

.blog-detail__about-company-illustrations {
    margin-top: 4rem;
    margin-bottom: 4rem;
    position: relative;

    @include breakpoint(mobile) {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

.blog-detail__about-company-illustrations-row {
    display: flex;
    margin: -1.5rem;
    align-items: center;
    flex-wrap: wrap;
    @include breakpoint(mobile) {
        align-items: initial;
        margin: -0.5rem;
    }
}

.blog-detail__about-company-illustrations-col {
    width: 50%;
    padding: 1.5rem;

    @include breakpoint(mobile) {
        width: 100%;
        padding: 0.5rem;
    }
}

.blog-detail__about-company-illustrations-heading {
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.8rem;
    margin: 0 !important;
    max-width: calc(50% - 1.5rem);
    position: absolute;
    left: 0;
    top: 0;

    @include breakpoint(mobile) {
        position: static;
        font-size: 1.8rem;
        line-height: 2.1rem;
        margin-bottom: 2rem !important;
        max-width: none;
        top: auto;
        left: auto;
    }
}

.blog-detail__about-company-illustrations-text {
    font-size: 1.8rem;
    line-height: 2.6rem;
    position: relative;
    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
}

.blog-detail__about-company-illustrations-image {
    width: auto;
    height: auto;
    display: block;
    max-width: 100%;

    &--short {
        max-width: 37rem;

        @include breakpoint(tablet) {
            max-width: 100%;
        }
    }

    @include breakpoint(mobile) {
        width: 100%;
    }
}

.blog-detail__about-company-illustrations-item {
    max-width: 84rem;
    margin: 0 auto;

    &:nth-child(odd) {
        @include breakpoint(small-tablet) {
            .blog-detail__about-company-illustrations-col:first-child {
                margin-top: auto;
            }
        }

        @include breakpoint(mobile) {
            .blog-detail__about-company-illustrations-col:first-child {
                margin-top: 0;
            }
        }
    }
    &:nth-child(even) {
        @include breakpoint(small-tablet) {
            .blog-detail__about-company-illustrations-col:first-child {
                margin-bottom: auto;
            }
        }
        @include breakpoint(mobile) {
            .blog-detail__about-company-illustrations-col:first-child {
                margin-bottom: 0;
                order: 10;
            }
        }
    }
}

.blog-detail__about-company-illustrations-text--has-splash {
    position: relative;
    z-index: 1;
    padding-top: 4rem;
    &::before {
        content: '';
        background-image: url('../img/splashes/about-text-splash.svg');
        width: 12rem;
        height: 15.8rem;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        z-index: -1;
        pointer-events: none;
        position: absolute;
        top: 0;
        left: -4.6rem;

        @include breakpoint(tablet) {
            left: 0.6rem;
        }
        @include breakpoint(small-tablet) {
            left: -4.6rem;
        }

        @include breakpoint(mobile) {
            display: none;
        }
    }

    @include breakpoint(tablet) {
        padding-left: 5rem;
    }

    @include breakpoint(small-tablet) {
        padding-left: 0;
        margin-top: auto;
    }

    @include breakpoint(mobile) {
        padding: 0;
    }
}

.blog-detail__about-principles {
    padding: 5rem 6rem;
    position: relative;
    background: #faefe6;
    color: #df633c;
    border-radius: 4rem;
    z-index: 1;
    margin-top: 4rem;
    margin-bottom: 4rem;

    @include breakpoint(tablet) {
        margin-left: calc(-1 * (100vw - 100%) / 2 + var(--content-padding));
        margin-right: calc(-1 * (100vw - 100%) / 2 + var(--content-padding));
    }

    @include breakpoint(small-tablet) {
        margin-left: 0;
        margin-right: 0;
        padding: 4rem 3rem;
    }

    @include breakpoint(mobile) {
        padding: 0;
        border-radius: 0;
        background: transparent;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    &::before,
    &::after {
        content: '';
        position: absolute;
        background-image: url('../img/splashes/about-principles-left-splash.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 39rem;
        height: 41rem;
        z-index: -1;
        pointer-events: none;
        position: absolute;
        bottom: -7.8rem;
        left: -6.5rem;

        @include breakpoint(mobile) {
            display: none;
        }
    }

    &::after {
        width: 41.7rem;
        height: 42.7rem;
        left: auto;
        bottom: auto;
        right: -4.2rem;
        top: -4.8rem;
    }
}

.blog-detail__about-principles-list {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem -2.5rem;
    @include breakpoint(small-tablet) {
        margin: -0.5rem;
    }

    @include breakpoint(mobile) {
        margin: -1rem;
    }
}

.blog-detail__about-principles-list-item {
    padding: 1rem 2.5rem;
    width: 50%;
    display: flex;
    align-items: flex-start;
    font-size: 1.8rem;
    line-height: 2.6rem;

    @include breakpoint(small-tablet) {
        width: 100%;
        padding: 0.5rem;
        align-items: center;
    }

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 2.4rem;
        align-items: flex-start;
        padding: 1rem;
    }

    &::before {
        content: counter(ordered-list);
        font-weight: 900;
        font-size: 2rem;
        line-height: 2.4rem;
        color: white;
        flex-shrink: 0;
        width: 5.5rem;
        height: 7.3rem;
        background-image: url('../img/list-orange-splash.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
        padding-top: 1.6rem;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
        padding-bottom: 1.6rem;
        font-family: var(--ruda);
        margin-top: -0.4rem;
        margin-right: 1.6rem;

        @include breakpoint(small-tablet) {
            margin-top: 0;
        }

        @include breakpoint(mobile) {
            width: 4rem;
            height: 5.3rem;
            margin-right: 1.5rem;
            font-weight: 900;
            font-size: 1.6rem;
            line-height: 2.4rem;
            padding: 0;
            padding-top: 0.95rem;
        }
    }
}

.blog-detail__about-principles-card {
    font-weight: 50%;
    flex-grow: 1;

    @include breakpoint(small-tablet) {
        padding-bottom: 1.5rem;

        br {
            display: none;
        }
    }

    @include breakpoint(mobile) {
        padding-bottom: 0;
    }
}

.blog-detail__about-principles-top-dash,
.blog-detail__about-principles-bottom-dash {
    position: absolute;
    z-index: -1;
    pointer-events: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;

    @include breakpoint(mobile) {
        display: none;
    }
}

.blog-detail__about-principles-top-dash {
    width: 15.3rem;
    height: 0.3rem;
    background-image: url('../img/splashes/about-principles-top-dash.svg');
    top: -0.3rem;
    left: 17.2rem;
}

.blog-detail__about-principles-bottom-dash {
    width: 14.3rem;
    height: 0.6rem;
    bottom: -0.7rem;
    right: 28rem;
    background-image: url('../img/splashes/about-principles-bottom-dash.svg');
}

.blog-detail__about-write-us {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 4rem;

    @include breakpoint(mobile) {
        margin-top: 3rem;
    }
}

.about-gallery__about-write-us-btn {
    background: transparent;
    font-weight: 400;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    margin: 0 auto;
    padding-left: 6.2rem;
    padding-right: 6.2rem;
    text-align: center;
    &:link,
    &:visited {
        color: var(--primary-color);
    }

    .no-touch &:hover {
        background-color: var(--primary-color);
        color: white;
    }

    @include breakpoint(mobile) {
        padding: 1.4rem 3.2rem;
        display: block;
        width: 100%;
    }
}

.blog-detail__about-product-advantages {
    margin-top: 4rem;
    margin-bottom: 8rem;

    @include breakpoint(mobile) {
        margin-top: 2rem;
        margin-bottom: 6rem;
    }
}

.blog-detail__about-product-advantages-intro {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #df633c;
    max-width: 55rem;
    font-family: var(--roboto);
    text-align: center;
    margin: 0 auto;

    margin-bottom: 6rem;

    @include breakpoint(mobile) {
        text-align: left;
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: var(--brown);
        font-size: 1.6rem;
        line-height: 2.4rem;
        font-weight: 400;
        max-width: none;
        margin-bottom: 5rem;
    }
    &::before {
        content: '';
        display: block;
        width: 10rem;
        height: 0.9rem;
        background-image: url('../img/splashes/about-product-advantages-dash.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        margin: 0 auto;
        margin-bottom: 3.5rem;

        @include breakpoint(mobile) {
            display: none;
        }
    }
}

.blog-detail__about-product-advantages-image-container {
    position: relative;
    width: 100%;
    max-width: 53rem;
    margin: 0 auto;
    &::before {
        content: '';
        position: absolute;
        left: -5rem;
        top: -5rem;
        bottom: -5rem;
        right: -5rem;
        z-index: -1;
        pointer-events: none;
        background-size: contain;
        background-image: url('../img/about-product/pie-bg.png');
        background-repeat: no-repeat;
        background-position: center;
        margin-left: 2rem;

        @include breakpoint(mobile) {
            left: -3rem;
            top: -3rem;
            right: -3rem;
            bottom: -3rem;
            margin-left: 1rem;
        }
    }
    &::after {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 100%;
    }
}

.blog-detail__about-product-advantages-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include objectFitContain();
}

.blog-detail__about-product-advantages-modal {
    position: absolute;
    // transform: translate(-50%, -50%);
    z-index: 5;
    &:nth-child(1) {
        left: -2rem;
        top: -2rem;

        @include breakpoint(mobile) {
            left: -1rem;
            top: -1rem;
        }
    }
    &:nth-child(2) {
        right: -3rem;
        top: -2rem;

        @include breakpoint(mobile) {
            right: -1rem;
            top: -1rem;
        }
    }
    &:nth-child(3) {
        left: -2rem;
        bottom: -2rem;

        @include breakpoint(mobile) {
            left: -1rem;
            bottom: -1rem;
        }
    }
    &:nth-child(4) {
        right: -3rem;
        bottom: -2rem;

        @include breakpoint(mobile) {
            right: -1rem;
            bottom: -1rem;
        }
    }

    @include breakpointMF(small-tablet) {
        &:hover {
            .blog-detail__about-product-advantages-modal-inner {
                opacity: 1;
                visibility: inherit;
                transition: opacity 0.3s, visibility 0.3s;
            }
        }
    }

    &.active {
        z-index: 40;
        .blog-detail__about-product-advantages-modal-inner {
            opacity: 1;
            visibility: inherit;
            transition: opacity 0.3s, visibility 0.3s;
        }
    }
}

.blog-detail__about-product-advantages-modal-background,
.blog-detail__about-product-advantages-modal-icon {
    max-width: none;
}

.blog-detail__about-product-advantages-modal-background {
    width: 18.5rem;
    height: auto;
    position: static;

    @include breakpoint(mobile) {
        width: 10rem;
    }
}

.blog-detail__about-product-advantages-modal-icon {
    width: 8.2rem;
    left: 50%;
    top: 50%;
    height: auto;

    transform: translate(-50%, -50%);
    position: absolute;

    @include breakpoint(mobile) {
        width: 4.8rem;
    }
}

.blog-detail__about-product-advantages-modal-inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s linear 0.3s;

    @include breakpoint(mobile) {
        position: fixed;
        z-index: 300;
    }
}

.blog-detail__about-product-advantages-modal-inner-bg-image {
    display: block;
    width: 42rem;
    height: auto;
    max-width: none;

    @include breakpoint(mobile) {
        width: 37.6rem;
    }
}

.blog-detail__about-product-advantages-modal-inner-content {
    text-align: center;
    max-width: 28rem;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--roboto);
    position: absolute;

    @include breakpoint(mobile) {
        max-width: 24rem;
    }

    &--white {
        color: white;
    }
}

.blog-detail__about-product-advantages-modal-inner-heading {
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.8rem;
    margin-bottom: 2rem;
    @include breakpoint(mobile) {
        font-size: 1.8rem;
        line-height: 2.2rem;
        margin-bottom: 1rem;
    }
}

.blog-detail__about-product-advantages-modal-inner-text {
    font-size: 1.8rem;
    line-height: 2.6rem;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
}

.blog-detail__benefits {
    margin: 4rem 0;

    @include breakpoint(tablet) {
        margin-left: calc(-1 * (100vw - 100%) / 2 + var(--content-padding));
        margin-right: calc(-1 * (100vw - 100%) / 2 + var(--content-padding));
    }

    @include breakpoint(small-tablet) {
        margin-left: 0;
        margin-right: 0;
    }

    @include breakpoint(mobile) {
        margin-bottom: 2.5rem;
    }

    .blog-detail__benefits-heading {
        text-align: center;
        margin-bottom: 4rem;
        font-weight: bold;
        font-size: 2.4rem;
        line-height: 2.8rem;

        @include breakpoint(mobile) {
            font-size: 1.6rem;
            line-height: 2.4rem;
            text-align: left;
            margin-bottom: 2rem;
        }
    }
}

.blog-detail__about-product-advantages-modal-inner-close {
    display: none;

    @include breakpoint(mobile) {
        display: block;
        position: absolute;
        right: var(--content-padding);
        top: 0;
        z-index: 20;
        width: 4.2rem;
        height: 4.2rem;
        border-radius: 50%;
        background: #f4decc;

        svg {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 2rem;
            height: 2rem;
            fill: #555555;
        }

        &--blue {
            background: #2d9cdb;
            svg {
                fill: white;
            }
        }

        &--yellow {
            background: #f2cd30;

            svg {
                fill: #555555;
            }
        }

        &--orange {
            background: #f2994a;

            svg {
                fill: white;
            }
        }
    }
}

.blog-detail__benefits-content {
    background: #faefe6;
    border-radius: 4rem;
    position: relative;
    padding: 5rem 6rem;

    @include breakpoint(small-tablet) {
        padding: 4rem 3rem;
    }

    @include breakpoint(mobile) {
        background: transparent;
        padding: 0;
        border-radius: 0;
    }

    &::before {
        content: '';
        position: absolute;
        pointer-events: none;
        z-index: -1;
        width: 15.3rem;
        height: 0.5rem;
        background-image: url('../img/splashes/cart-summary-top-dash.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        left: 11rem;
        top: -0.7rem;

        @include breakpoint(mobile) {
            display: none;
        }
    }

    &::after {
        content: '';
        position: absolute;
        pointer-events: none;
        z-index: -1;
        width: 15rem;
        height: 0.6rem;
        bottom: -0.6rem;
        right: 11rem;
        background-image: url('../img/splashes/cart-summary-bottom-dash.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        @include breakpoint(mobile) {
            display: none;
        }
    }
}

.blog-detail__benefits-list {
    display: flex;

    @include breakpoint(small-tablet) {
        flex-wrap: wrap;
        margin: -0.5rem;
    }

    @include breakpoint(mobile) {
        display: block;
        margin: 0;
    }
}

.blog-detail__benefits-list-item {
    flex-basis: 33.33%;

    @include breakpoint(small-tablet) {
        flex-basis: 50%;
        padding: 0.5rem;
    }

    @include breakpoint(mobile) {
        flex-basis: initial;
        padding: 0;
        margin-bottom: 1rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.blog-detail__benefits-card {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #df633c;
    white-space: nowrap;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 1.2;
        align-items: center;
    }
    &::before {
        content: '';
        width: 5.5rem;
        height: 7.3rem;
        flex-shrink: 0;
        margin-right: 1.6rem;
        background-image: url('../img/benefits-marker.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        bottom: -0.8rem;

        @include breakpoint(mobile) {
            width: 4rem;
            height: 5.3rem;
            position: relative;
            margin-right: 1rem;
            bottom: -0.5rem;
        }
    }
}

.blog-detail__our-products {
    margin: 6rem 0;
    margin-bottom: 0;

    @include breakpoint(tablet) {
        margin-left: calc(-1 * (100vw - 100%) / 2 + var(--content-padding));
        margin-right: calc(-1 * (100vw - 100%) / 2 + var(--content-padding));
    }

    @include breakpoint(small-tablet) {
        margin-left: auto;
        margin-right: auto;
        max-width: 46rem;
        width: 100%;
        margin-top: 8rem;
        margin-bottom: 0;
    }

    @include breakpoint(mobile) {
        margin-top: 2rem;
    }
}

.blog-detail__our-products-row {
    display: flex;
    margin: -1.5rem;
    align-items: center;

    @include breakpoint(small-tablet) {
        flex-direction: column;
        margin: 0;
    }
}

.blog-detail__our-products-col {
    width: 50%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;

    @include breakpoint(small-tablet) {
        padding: 0;
        width: 100%;
    }
}

.blog-detail__our-products-next-section {
    padding-left: 6rem;
    position: relative;
    display: flex;
    align-items: center;
    z-index: 1;

    &::before {
        content: '';
        z-index: -1;
        pointer-events: none;
        width: 16.2rem;
        height: 23.4rem;
        background-image: url('../img/splashes/next-section-splash.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        margin-top: 1rem;

        @include breakpoint(small-tablet) {
            display: none;
            left: 50%;
            top: 50%;
            margin: 0;
            transform: translate(-50%, -50%);
            width: 12.5rem;
            height: 18rem;
        }
    }

    svg {
        width: 4.8rem;
        height: 4.8rem;
        flex-shrink: 0;
        margin-left: 4.2rem;
        margin-right: 2rem;
        fill: #f2994a;

        @include breakpoint(small-tablet) {
            width: 4.2rem;
            height: 4.2rem;
            transform: rotate(90deg);
            margin: 0;
            margin-bottom: 3.8rem;
        }

        @include breakpoint(mobile) {
            width: 2.6rem;
            height: 2.6rem;
            margin-bottom: 1.4rem;
        }
    }

    @include breakpoint(small-tablet) {
        padding-left: 0;
        flex-direction: column;
        align-items: center;
    }
}

.blog-detail__our-products-next-section-text {
    font-family: var(--roboto);
    font-size: 1.8rem;
    line-height: 2.6rem;

    @include breakpoint(small-tablet) {
        margin-bottom: 2.5rem;
        text-align: center;
        position: relative;
        &::before {
            content: '';
            z-index: -1;
            pointer-events: none;
            width: 16.2rem;
            height: 23.4rem;
            background-image: url('../img/splashes/next-section-splash.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            position: absolute;

            left: 50%;
            top: 50%;
            margin-top: 1rem;
            transform: translate(-50%, -50%);
            width: 12.5rem;
            height: 18rem;
        }
    }

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 2.4rem;
        margin-bottom: 0;
        width: 100%;
        text-align: left;

        &::before {
            display: none;
        }
    }
}

.blog-detail__our-products-card {
    min-height: 29rem;
    padding: 5rem;
    position: relative;
    z-index: 1;
    background: #f2994a;
    border-radius: 4rem;
    color: white;
    display: flex;
    flex-direction: column;

    &:link,
    &:visited {
        color: white;
    }
    @include breakpoint(tablet) {
        min-height: 26rem;
        padding: 4rem;
    }

    @include breakpoint(small-tablet) {
    }

    @include breakpoint(mobile) {
        border-radius: 3rem;
        min-height: 32.7rem;
        padding: 3.2rem 2.4rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &::before {
        content: '';
        position: absolute;
        width: 12.2rem;
        height: 0.5rem;
        background-image: url('../img/splashes/orange-top-dash.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        z-index: -1;
        pointer-events: none;
        left: 6.7rem;
        top: -0.75rem;

        @include breakpoint(mobile) {
            width: 8rem;
            height: 0.2rem;
            left: 3.5rem;
            top: -0.45rem;
        }
    }

    &::after {
        content: '';
        position: absolute;
        width: 14.2rem;
        height: 0.8rem;
        background-image: url('../img/splashes/orange-top-dash.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        z-index: -1;
        pointer-events: none;
        left: 19.4rem;
        bottom: -0.85rem;

        @include breakpoint(mobile) {
            width: 7.6rem;
            height: 0.4rem;
            left: 10rem;
            bottom: -0.6rem;
        }
    }
    &:link,
    &:visited {
        color: white;
    }

    .blog-detail__our-products-card-heading {
        margin: 0;
        font-weight: 900;
        font-size: 3.2rem;
        line-height: 4.4rem;
        letter-spacing: -0.05rem;
        margin-bottom: 0.8rem;
        font-family: var(--ruda);

        @include breakpoint(tablet) {
            font-weight: 900;
            font-size: 3rem;
            line-height: 4rem;
        }

        @include breakpoint(mobile) {
            font-weight: 900;
            font-size: 2.4rem;
            line-height: 3.2rem;
        }
    }
}

.blog-detail__our-products-card-text {
    font-size: 1.8rem;
    line-height: 2.6rem;
    margin-bottom: 3rem;
    max-width: 28rem;
    @include breakpoint(tablet) {
        max-width: 20rem;
    }

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
}

.blog-detail__our-products-card-btn {
    flex-shrink: 0;
    padding-left: 4.2rem;
    padding-right: 4.2rem;
    flex-shrink: 0;
    text-align: center;
    align-self: flex-start;
    margin-top: auto;

    @include breakpoint(tablet) {
        padding-left: 3.4rem;
        padding-right: 3.4rem;
    }

    @include breakpoint(mobile) {
        padding-left: 2.4rem;
        padding-right: 2.4rem;
        margin-left: auto;
        margin-right: auto;

        display: none;
    }
}

.blog-detail__our-products-card-image {
    position: absolute;
    z-index: -1;
    pointer-events: none;
    right: 0;
    bottom: 0;
    width: 30rem;
    height: auto;

    @include breakpoint(tablet) {
        width: 26rem;
    }

    @include breakpoint(mobile) {
        width: 88%;
        right: 50%;
        transform: translateX(50%);
        bottom: 0.8rem;
    }
}

.blog-detail__our-products-card-side-dash {
    width: 0.6rem;
    height: 14.3rem;
    position: absolute;
    right: -0.8rem;
    bottom: 4rem;
    background-image: url('../img/splashes/orange-side-dash.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @include breakpoint(mobile) {
        height: 7.8rem;
        width: 0.3rem;
        bottom: 7.4rem;
        right: -0.5rem;
    }
}
