.mobile-back-link {
    display: inline-flex;
    align-items: center;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-family: var(--roboto);
    position: absolute;
    bottom: 100%;
    left: 0;
    margin-bottom: 0.2rem;
    display: none;
    font-weight: 400;
    svg {
        width: 0.6rem;
        height: 1.2rem;
        flex-shrink: 0;
        fill: #555555;
        margin-right: 1rem;
    }

    @include breakpoint(mobile) {
        display: block;
    }
}
