.mobile-nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    background-color: #fff;
    box-shadow: 0.4rem 0px 2.5rem rgba(255, 0, 0, 0.16);
    padding: 0 1rem;
    display: none;
    z-index: 800;
    @include breakpoint(mobile) {
        display: block;
    }
}

.mobile-nav__list {
    display: flex;
    align-items: center;
}

.mobile__nav-list-item {
    height: 7rem;
    width: 7rem;
}

.mobile-nav__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    &::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: rgb(243, 243, 243);
        width: 75%;
        height: 75%;
        z-index: -1;
        transition: opacity .2s;
        opacity: 0;
        border-radius: 50%;
    }

    .touch &:active {
        &::before {
            opacity: 1;
        }
    }
}

.mobile-nav__btn-icon {
    position: relative;
    svg {
        width: 2.4rem;
        height: 2.4rem;
        fill: var(--brown);
    }
}

.mobile-nav__btn-counter {
    width: 1.9rem;
    height: 1.9rem;
    position: absolute;
    border-radius: 50%;
    background-color: var(--brown);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    line-height: 1.2;
    font-family: var(--roboto);
    top: -0.6rem;
    right: -1.2rem;
}

.mobile-nav__add-to-cart-btn-wrapper {
    padding-left: calc(var(--content-padding) - 1rem);
    padding-right: calc(var(--content-padding) - 1rem);
    padding-top: 2rem;

    &.hidden {
        display: none;
    }
}

.mobile-nav__add-to-cart-btn {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.2rem;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 1.4rem 2.6rem;
    background-color: var(--primary-color);
    font-family: var(--roboto);
    color: white;
    border-radius: 6rem;
    position: relative;
    overflow: hidden;
    z-index: 1;
    user-select: none;
    &::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(0);
        background-color: var(--brown);
        transition: transform 0.4s;
        z-index: -1;
        pointer-events: none;
        width: 100%;
        padding-bottom: 100%;
        border-radius: 50%;
    }
    &:link,
    &:visited {
        color: white;
    }
    &:hover {
        &::before {
            transform: translate(-50%, -50%) scale(1);
        }
    }
    
}


.mobile-nav__add-to-cart-btn-total {
    margin-left: 2rem;
    font-weight: 400;
}