.modals__modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    z-index: 1000;
    background: rgba(black, 0.6);
    padding: 5rem calc(var(--content-padding) + 1rem);
    display: flex;
    flex-direction: column;
    transition: opacity 0.3s, visibility 0s linear 0.3s;
    opacity: 0;
    visibility: hidden;

    @include noScrollbar();
   
  
    &.active {
        opacity: 1;
        visibility: inherit;
        transition: opacity 0.3s, visibility 0.3s;
    }

    @include breakpoint(mobile) {
        padding: var(--content-padding);
    }

    &--city {
        @include breakpoint(mobile) {
            padding: 0;
        }
    }


    &--write-us {
        @include breakpoint(mobile) {
            padding: 0;
        }
    }
}

.modals__modal-inner {
    margin: auto;
    width: 100%;
    flex-shrink: 0;
}

.modals__modal-inner--video,
.modals__modal-inner--product,
.modals__modal-inner--city {
    width: 100%;
    max-width: 93.4rem;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #fff;
    // filter: drop-shadow(0px 0.4rem 6rem rgba(0, 0, 0, 0.1));
    border-radius: 4rem;
    z-index: 1;

 
    &::before,
    &::after {
        content: '';
        width: 45.6rem;
        height: 49rem;
        position: absolute;
        left: -5.2rem;
        top: -3.8rem;
        pointer-events: none;
        z-index: -1;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('../img/splashes/modal-top-left-splash.svg');
        max-height: 100%;
        max-width: 100%;

        @include breakpoint(tablet) {
            width: 45.6rem;
            height: 49.1rem;
            top: -3.8rem;
            left: -5.2rem;
        }
    }

    &::after {
        content: '';
        left: auto;
        top: auto;
        right: -3.6rem;
        bottom: -10rem;

        @include breakpoint(tablet) {
            right: -4.2rem;
            bottom: -10rem;
        }
    }
}

.modals__modal-inner--city {
    padding: 5rem;
    padding-left: 4.1rem;
    padding-top: 4.3rem;
    max-width: 106rem;

    @include breakpoint(mobile) {
        max-width: none;
        padding: 0;
        border-radius: 0;
        padding: var(--content-padding);
        padding-top: 2rem;
        padding-bottom: 4rem;
        min-height: 100%;
        &::before,
        &::after {
            display: none;
        }

        .modals__modal-close {
            right: var(--content-padding);
            top: 2.2rem;
            left: auto;
            bottom: auto;
            svg {
                fill: #555555;
            }
        }
    }
}



.modals__modal-inner--video {
    @include breakpoint(tablet) {
        padding: 3rem;
    }

    @include breakpoint(mobile) {
        padding: 0;
        border-radius: 0;
        &::before,
        &::after {
            display: none;
        }

        .modals__modal-video-player-container {
            border-radius: 0;
            // margin-left: calc(-1 * var(--content-padding));
            // margin-right: calc(-1 * var(--content-padding));
        }

        .modals__modal-close {
            right: 0;
            bottom: 100%;
            margin-bottom: 2rem;
            left: auto;
            top: auto;
        }
    }
}

.modals__modal-inner--product {
    @include breakpoint(mobile) {
        padding: 2rem;
        border-radius: 2rem;
        .modals__modal-close {
            position: absolute;
            right: 2rem;
            top: 2rem;
            left: auto;
            bottom: auto;

            svg {
                fill: #555555;
            }
        }
    }
}

.modals__modal-inner--components {
    padding: 4rem;

    border-radius: 3rem;
    max-width: 93.4rem;
    margin: auto;
    position: relative;
    background: #df633c;
    color: white;
    background-image: url('../img/splashes/components-modal-splash.svg');
    background-size: 49rem auto;
    background-repeat: no-repeat;
    background-position: left -4rem top;

    &-short {
        max-width: 33.3rem;
        padding: 3rem;
        background-size: 49rem auto;
        background-position: left -6rem top;
    }

    @include breakpoint(mobile) {
        padding: 3rem;
        background-position: left -5.4rem top;
    }
    .modals__modal-close {
        top: 2.2rem;
        right: 2.8rem;
        left: auto;
        bottom: auto;

        @include breakpoint(mobile) {
            right: 2.4rem;
        }

        svg {
            width: 1.9rem;
            height: 1.9rem;
        }

        .no-touch &:hover {
            svg {
                fill: var(--brown);
            }
        }
    }
}

.modals__components-modal-heading {
    font-weight: 900;
    font-size: 3.2rem;
    line-height: 4.4rem;
    letter-spacing: -0.05rem;
    margin-bottom: 1.4rem;

    @include breakpoint(mobile) {
        font-weight: 900;
        font-size: 2.2rem;
        line-height: 2.8rem;
        margin-bottom: 2rem;
    }
}

.modals__components-modal-row {
    display: flex;

    @include breakpoint(small-tablet) {
        flex-direction: column;
    }
}

.modals__components-modal-left-col {
    width: 27.8rem;
    margin-right: 4rem;
    flex-shrink: 0;
    &:last-child {
        margin-bottom: 0;
    }

    @include breakpoint(small-tablet) {
        width: 100%;
        margin: 0;
        flex-shrink: 1;
        margin-bottom: 3rem;
    }

    @include breakpoint(mobile) {
        margin-bottom: 2rem;
    }
}

.modals__components-modal-right-col {
    width: 40%;
    flex-grow: 1;
    @include breakpoint(small-tablet) {
        width: 100%;
        margin: 0;
        flex-shrink: 1;
        flex-grow: 0;
    }
}

.modals__components-modal-small-heading {
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.8rem;
    margin-bottom: 1.4rem;
    font-family: var(--roboto);

    @include breakpoint(mobile) {
        font-size: 1.8rem;
        line-height: 2.2rem;
        margin-bottom: 1rem;
    }
}

.modals__components-modal-table {
    font-family: var(--roboto);
    font-size: 1.8rem;
    line-height: 2.6rem;

    display: flex;
    flex-direction: column;
    font-family: var(--roboto);

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
    table,
    tbody,
    thead,
    th,
    td {
        display: flex;
        flex-direction: column;
    }

    tr {
        display: flex;
        margin-bottom: 0.5rem;
        align-items: baseline;
        &:last-child {
            margin-bottom: 0;
        }
    }

    th,
    td {
        font-size: 1.8rem;
        line-height: 2.6rem;
        @include breakpoint(mobile) {
            font-size: 1.6rem;
            line-height: 2.4rem;
        }
    }

    th {
        font-weight: 400;
        flex-grow: 1;

        display: flex;
        flex-direction: row;
        &::after {
            content: '';
            width: 1rem;
            flex-grow: 1;
            height: 2px;
            background-image: url('../img/cart/dashed-line-pattern.svg');
            background-repeat: repeat-x;
            background-size: auto 2px;
            background-position: left center;
            align-self: flex-end;
            margin: 0 0.3rem;
            position: relative;
            top: -0.4rem;
        }
    }

    td {
        text-align: left;
        flex-shrink: 0;
        width: 9rem;
    }
}

.modals__components-modal-per-portion {
    margin-bottom: 0.4rem;
}

.modals__components-modal-text {
    font-size: 1.8rem;
    line-height: 2.6rem;
    padding-right: 2rem;
    font-family: var(--roboto);
}

.modals__modal-close {
    position: absolute;
    z-index: 30;
    left: 100%;
    bottom: 100%;
    svg {
        width: 2.8rem;
        height: 2.8rem;
        display: block;
        fill: white;
        transition: fill 0.3s;

        @include breakpoint(tablet) {
            width: 2.4rem;
            height: 2.4rem;
        }

        @include breakpoint(mobile) {
            width: 2rem;
            height: 2rem;
        }
    }

    .no-touch &:hover {
        svg {
            fill: var(--primary-color);
        }
    }
}

.modals__modal-video-player-container {
    position: relative;
    border-radius: 1.8rem;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
    display: block;
    &::after {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 70%;
    }

    .icon-play {
        width: 6rem;
        height: 6rem;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 15;
        transition: transform 0.3s;
    }

    .no-touch &:hover {
        .icon-play {
            transform: translate(-50%, -50%) scale(1.05);
        }
    }
}

.modals__modal-video-player-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include objectFitCover();
}

.modals__modal-product-gallery {
    padding: 0 2rem;
    .product__gallery {
        margin: 0;
    }

    @include breakpoint(tablet) {
        padding: 0;
    }
}

.modals__modal-city-heading {
    display: flex;
    align-items: baseline;
    font-weight: 900;
    font-size: 2.4rem;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.modals__modal-city-heading-text {
    @include breakpoint(mobile) {
        display: none;
    }
}

.modals__modal-current-city {
    display: inline-flex;
    align-items: center;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 1.9rem;
    font-family: var(--roboto);
    color: var(--primary-color);
    margin-left: 2.6rem;
    position: relative;
    
    &:link,
    &:visited {
        color: var(--primary-color);
    }
    svg {
        width: 1.2rem;
        height: 1.6rem;
        flex-shrink: 0;
        fill: currentColor;
        margin-right: 1rem;

        @include breakpoint(mobile) {
            width: 1rem;
            height: 1.4rem;
            margin-right: 1rem;
        }
    }

    @include breakpoint(mobile) {
        margin-left: 0;
        position: static;
        bottom: auto;
    }
}

.modals__modal-city-form {
    position: relative;
    margin-bottom: 2rem;
    max-width: 48.2rem;
}

.modals__modal-city-form-submit {
    width: 5.4rem;
    height: 5.4rem;
    bottom: 0;
    right: 0;
    position: absolute;
    color: var(--brown);
    pointer-events: none;
    svg {
        width: 2.4rem;
        height: 2.4rem;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        fill: currentColor;
        @include breakpoint(mobile) {
            width: 2.2rem;
            height: 2.2rem;
        }
    }

    @include breakpoint(mobile) {
        width: 5rem;
        height: 5rem;
    }
}

.modals__modal-city-results {
    padding-left: 1.3rem;

    @include breakpoint(mobile) {
        padding-left: 0;
    }
}

.modals__modal-city-results-list {
    column-count: 4;
    column-gap: 3rem;

    @include breakpoint(mobile) {
        column-count: 1;
        column-gap: 0;
    }
}

.modals__modal-city-results-list-item {
    -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
    page-break-inside: avoid; /* Firefox */
    break-inside: avoid; /* IE 10+ */


    

    &.hidden {
        display: none;
    }
}

.modals__modal-city-results-card {
    font-size: 1.8rem;
    line-height: 3.6rem;
    font-family: var(--roboto);
    color: black;
    display: block;
    &:link,
    &:visited {
        color: black;
    }

    .no-touch &:hover {
        color: var(--primary-color);
    }

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 1.9rem;
        padding: 0.8rem 0;
    }
}



.modals__modal-city-form-label {
    @include breakpoint(mobile) {
        display: none;
    }
}

.modals__modal-inner--write-us {
    max-width: 44rem;
    padding: 4rem;
    padding-bottom: 5rem;
    position: relative;
    background-color: #fff;
    filter: drop-shadow(0px 0.4rem 6rem rgba(0, 0, 0, 0.1));
    border-radius: 4rem;
    width: 100%;

    @include breakpoint(mobile) {
        padding: 2rem var(--content-padding);
        padding-top: 2rem;
        padding-bottom: 4rem;
        filter: none;
        border-radius: 0;
        min-height: 100%;
        flex-shrink: 0;
        .modals__modal-close {
            right: var(--content-padding);
            top: 2.2rem;
            left: auto;
            bottom: auto;
            svg {
                fill: #555555;
            }
        }
    }

    &::before,
    &::after {
        content: '';
        position: absolute;
        pointer-events: none;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        z-index: -1;

        @include breakpoint(mobile) {
            display: none;
        }
    }

    &::before {
        width: 45.6rem;
        height: 49.1rem;
        background-image: url('../img/splashes/write-us-modal-top-splash.svg');
        top: -3.8rem;
        left: -5.2rem;
    }

    &::after {
        background-image: url('../img/splashes/write-us-modal-bottom-splash.svg');
        width: 45.6rem;
        height: 49.1rem;
        right: -4.2rem;
        bottom: -10rem;
    }
}

.modals__write-us-heading {
    font-weight: 900;
    font-size: 3.2rem;
    line-height: 4.4rem;
    letter-spacing: -0.5px;
    margin-bottom: 2rem;

    @include breakpoint(tablet) {
        font-size: 3rem;
        line-height: 4.4rem;
      
    }

    @include breakpoint(small-tablet) {
        font-size: 2.8rem;
        line-height: 4.4rem;
    }

    @include breakpoint(mobile) {
        font-size: 2.2rem;
        line-height: 2.8rem;
    }
}

.modals__write-us-row {
    margin-bottom: 2rem;
}

.modals__write-us-submit {
    margin-top: 3rem;
    display: block;
    width: 100%;
    font-weight: 700;

    
}

.modals__write-us-policy {
    margin-top: 2rem;
}

.modals__write-us-success-text {
    font-family: var(--roboto);
    font-size: 1.8rem;
    line-height: 2.6rem;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
    strong {
        font-weight: bold;
        font-size: 2rem;
        line-height: 2.8rem;

        @include breakpoint(mobile) {
            font-size: 1.8rem;
            line-height: 2.8rem;
        }
    }

    p {
        margin-bottom: 1.4rem;
        &:last-child {
            margin-bottom: 0;
        }

        @include breakpoint(mobile) {
            margin-bottom: 1rem;
        }
    }
}


.modals__write-us-success {
    min-height: 30rem;

    @include breakpoint(mobile) {
        min-height: auto;
    }
}


.modals__modal--write-us--success {
    @include breakpoint(mobile) {
        min-height: auto;
    }
}

.modals__modal-inner--write-us-success {
    @include breakpoint(mobile) {
        min-height: auto;
    }
}