.new-products {
    margin-bottom: 10rem;

    @include breakpoint(tablet) {
        margin-bottom: 9rem;
    }

    @include breakpoint(small-tablet) {
        margin-bottom: 8rem;
    }

    @include breakpoint(mobile) {
        margin-bottom: 5.6rem;
    }
}

.new-products__heading {
    margin-bottom: 4.5rem;

    @include breakpoint(tablet) {
        margin-bottom: 3rem;
    }

    &::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 27.7rem;
        height: 6.53rem;
        background-image: url('../img/splashes/new-products-heading-splash.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        z-index: -1;
        pointer-events: none;

        @include breakpoint(mobile) {
            display: none;
        }
    }
}

.new-products__items {
    & > .swiper-container {
        overflow: visible;
        margin: 0;
    }
    
}

.new-products__list {
    display: flex;
    flex-wrap: wrap;
    margin: -1.5rem;

    

    @include breakpoint(mobile) {
        flex-wrap: nowrap;
        margin: 0;
    }
}

.new-products__list-item {
    width: 25%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;

    @include breakpoint(small-tablet) {
        width: 33.33%;
        &:nth-child(n + 4) {
            display: none;
        }
    }

    @include breakpoint(mobile) {
        display: flex !important;
        padding: 0;
        width: 20rem;
    }
}
