.order-fullfilled {
    padding-top: 4rem;
    margin-bottom: 10rem;

    @include breakpoint(mobile) {
        padding-top: 0;
    }
}

.order-fullfilled__row {
    display: flex;

    justify-content: center;

    @include breakpoint(small-tablet) {
        flex-direction: column;
        justify-content: initial;
    }
}

.order-fullfilled__card {
    display: flex;
    flex-direction: column;
    width: 40.8rem;
    margin-right: 3rem;
    &:last-child {
        margin-right: 0;
        margin-bottom: 0;
    }

    @include breakpoint(small-tablet) {
        width: 100%;
        margin: 0;
        margin-bottom: 4rem;
        
    }

    @include breakpoint(mobile) {
        margin-bottom: 2rem;
    }
}

.order-fullfilled__info {
    background: #faefe6;
    border-radius: 1.6rem;
    padding: 2rem 3rem;
    padding-bottom: 3rem;
    color: var(--brown);
    margin-bottom: 2rem;
    position: relative;
    z-index: 1;
    flex-grow: 1;

    @include breakpoint(mobile) {
        padding: 2.5rem;
        padding-top: 2rem;
        margin-bottom: 2rem;
    }
    &::before {
        content: '';
        position: absolute;
        background-image: url('../img/splashes/order-fullfilled-top-dash.svg');
        background-size: contain;
        width: 8.5rem;
        height: 0.3rem;
        right: 4rem;
        background-repeat: no-repeat;
        background-position: center;
        top: -0.4rem;
        z-index: -1;
        pointer-events: none;
    }

    &::after {
        content: '';
        background-image: url('../img/splashes/order-fulldilled-bottom-dash.svg');
        background-size: contain;
        position: absolute;
        left: 2rem;
        bottom: -0.4rem;
        background-repeat: no-repeat;
        background-position: center;
        z-index: -1;
        pointer-events: none;
        width: 10.4rem;
        height: 0.3rem;
    }

    .order-fullfilled__card--yellow & {
        background: #feefd3;
        &::before {
            background-image: url('../img/splashes/order-fullfilled-top-dash-yellow.svg');
        }

        &::after {
            background-image: url('../img/splashes/order-fulldilled-bottom-dash-yellow.svg');
        }
    }
}

.order-fullfilled__info-heading {
    font-weight: 900;
    font-size: 2.4rem;
    line-height: 1.2;
    margin-bottom: 2rem;

    @include breakpoint(mobile) {
        font-weight: 900;
        font-size: 1.8rem;
        line-height: 2.4rem;
    }
}

.order-fullfilled__table {
    display: block;
    font-family: var(--roboto);
    th,
    td,
    tbody,
    thead {
        display: flex;
        flex-direction: column;
    }

    tr {
        display: flex;
        margin-bottom: 1rem;
        align-items: baseline;
        &:last-child {
            margin-bottom: 0;
        }
    }

    th {
        font-size: 1.6rem;
        line-height: 2.2rem;
        flex-grow: 1;
        display: flex;
        font-weight: 400;
        flex-direction: row;

        &::after {
            content: '';
            width: 1rem;
            flex-grow: 1;
            height: 2px;
            background-image: url('../img/cart/dashed-line-pattern.svg');
            background-repeat: repeat-x;
            background-size: auto 2px;
            background-position: left center;
            align-self: flex-end;
            margin: 0 0.8rem;
            position: relative;
            top: -0.4rem;
        }
    }

    td {
        font-size: 1.6rem;
        line-height: 2.2rem;

        strong {
            font-weight: 700;
        }
    }

    td {
        text-align: right;
    }
}

.order-fullfilled__message {
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-family: var(--roboto);
    color: var(--brown);
    margin-top: 2rem;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
    a {
        border-bottom: 1px solid currentColor;
        transition: border-color .2s, color .2s;
        &:link,
        &:visited {
            color: var(--primary-color);
        }

        .no-touch &:hover {
            border-color: transparent;
        }
    }
}

.order-fullfilled__back-link {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-family: var(--roboto);
    color: var(--brown);

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }

    svg {
        width: 1.2rem;
        height: 2rem;
        fill: #555555;
        flex-shrink: 0;
        margin-right: 1.2rem;
        transition: fill 0.2s;

        @include breakpoint(mobile) {
            width: 1rem;
            height: 1.6rem;
        }
    }
    &:link,
    &:visited {
        color: var(--brown);
    }

    .no-touch &:hover {
        color: var(--primary-color);

        svg {
            fill: var(--primary-color);
        }
    }
}

.order-fullfilled__info-greeting-text {
    font-family: var(--roboto);
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 2rem;
}

.order-fullfilled__bonuses-given {
    font-family: var(--roboto);
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: auto;
}

.order-fullfilled__referal-code {
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.order-fullfilled__share-code {
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-family: var(--roboto);

    a {
        color: var(--primary-color);
        font-weight: 700;
        &:link,
        &:visited {
            color: var(--primary-color);
        }
    }
}
