.page-header {
    @include breakpoint(mobile) {
        background-color: #fff;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }

    &--on-top {
        position: relative;
        z-index: 100;
    }

    &--biege {
        background-color: #faefe6;

        &::before {
            content: '';
            height: 18.2rem;
            width: 100%;
            background-size: auto 100%;
            background-position: center top;
            background-repeat: no-repeat;
            background-image: url('../img/splashes/header-biege-splashes.png');
            pointer-events: none;
            z-index: -1;
            max-width: none;
            position: absolute;
            left: 50%;
            margin-left: -4rem;
            top: 0;
            transform: translateX(-50%);

            @include breakpoint(tablet) {
                top: 0rem;
            }

            @include breakpoint(small-tablet) {
                height: 13rem;
                top: 2.4rem;
            }

            @include breakpoint(mobile) {
                display: none;
            }
        }
    }
}

.page-header__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 8rem;
    position: relative;

    color: var(--brown);
    position: relative;

    @include breakpoint(mobile) {
        min-height: 3rem;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            top: 0;
            height: 11.7rem;
            background-image: url('../img/splashes/header-mobile-white-splash.svg');
            background-size: auto 100%;
            background-position: center top;
            background-repeat: no-repeat;
            z-index: -1;
            pointer-events: none;

            .page-header--biege & {
                background-image: url('../img/splashes/header-mobile-biege-splash.svg');
            }
        }
    }
}

.page-header:not(.page-header--biege) .page-header__row {
    &::before {
        content: '';
        width: 66.9rem;
        height: 20.9rem;
        z-index: -1;
        background-image: url('../img/splashes/header-white-splash.svg');
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: center bottom;
        right: 7.6rem;
        position: absolute;
        top: -3rem;
        pointer-events: none;

        @include breakpoint(tablet) {
            width: 53.3rem;
            height: 16.7rem;
            right: 3rem;
            top: 0;
        }

        @include breakpoint(small-tablet) {
            width: 44rem;
            height: 16rem;
            right: -4rem;
            top: -1rem;
        }

        @include breakpoint(mobile) {
            display: none;
        }
    }
}

.page-header__city-link {
    display: inline-flex;
    align-items: center;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: var(--primary-color);
    transition: color 0.2s;
    font-family: var(--roboto);
    svg {
        width: 1.2rem;
        height: 1.6rem;
        display: block;
        fill: currentColor;
        margin-right: 1rem;
        flex-shrink: 0;
    }

    &:link,
    &:visited {
        color: var(--primary-color);
    }

    .no-touch &:hover {
        color: var(--brown);
    }
}

.page-header__navigation {
    width: 40%;
    flex-grow: 1;
    display: flex;

    align-self: stretch;

    @include breakpoint(small-tablet) {
        position: static;

        padding-left: 4rem;
    }
}

.page-header__navigation-links {
    display: flex;
    align-items: stretch;
    flex-basis: 32rem;
    justify-content: center;

    &:first-child {
        margin-right: 12rem;

        @include breakpoint(tablet) {
            flex-basis: 24rem;
            margin-right: 7.5rem;
        }

        @include breakpoint(small-tablet) {
            flex-basis: auto;
            margin-right: 2rem;
            justify-content: flex-start;
        }
        .page-header__navigation-link-wrapper {
            margin-left: auto;
            margin-right: 2rem;
            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
    &:last-child {
        margin-left: 12rem;
        flex-basis: 30rem;
        @include breakpoint(tablet) {
            flex-basis: 23rem;
            margin-left: 7.5rem;
        }

        @include breakpoint(small-tablet) {
            display: none;
        }
        .page-header__navigation-link-wrapper {
            margin-left: 2rem;
            margin-right: auto;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    @include breakpoint(small-tablet) {
        flex-basis: 20rem;
        flex-grow: 1;
        justify-content: center;
    }

    @include breakpoint(mobile) {
        display: none;
    }
}

.page-header__navigation-link {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.4rem;
    transition: color 0.2s;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    white-space: nowrap;

    @include breakpoint(tablet) {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }

    @include breakpoint(small-tablet) {
        align-items: center;
    }

    .no-touch &:hover {
        color: var(--primary-color);
        .page-header__navigation-link-text::after {
            opacity: 1;
        }
    }
}

.page-header__navigation-link-text {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        height: 0.7rem;
        margin-top: 0.4rem;
        background-image: url('../img/splashes/menu-dash.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0;
        // pointer-events: none;
        transition: opacity 0.2s;
    }
}

.page-header__navigation-logo {
    display: block;
    width: 6.8rem;

    max-height: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 1rem;
    z-index: 10;
    display: flex;
    flex-direction: column;

    .icon-logo-desktop {
        width: 100%;
        height: 12rem;
        position: relative;
        z-index: 3;
        fill: var(--primary-color);
        display: block;
        transition: fill 0.2s;

        @include breakpoint(mobile) {
            display: none;
        }
    }

    .icon-logo-mobile {
        width: 100%;
        height: 6.2rem;
        display: none;
        position: relative;
        z-index: 3;
        fill: var(--primary-color);
        @include breakpoint(mobile) {
            display: block;
        }
    }

    .no-touch &[href]:hover {
        .icon-logo-desktop {
            fill: var(--brown);
        }
    }
    @include breakpoint(tablet) {
        width: 6rem;
    }

    @include breakpoint(small-tablet) {
        width: 5.5rem;
        top: 0.5rem;
    }

    @include breakpoint(mobile) {
        width: 4.2rem;
        top: 3rem;
        margin-left: -0.2rem;
    }

    &::before {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -2.2rem;
        width: 17.2rem;
        height: 22.8rem;
        background-image: url('../img/splashes/logo-splash.svg');
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: center bottom;
        margin-left: 0.5rem;
        z-index: 1;
        pointer-events: none;
        @include breakpoint(tablet) {
            width: 15.3rem;
            height: 20.4rem;
            top: -2.2rem;
        }

        @include breakpoint(small-tablet) {
            width: 14rem;
            height: 18.6rem;
            top: -2rem;
            margin-left: 0.2rem;
        }

        @include breakpoint(mobile) {
            width: 10rem;
            height: 13.6rem;
            top: -2rem;
            margin-left: 0;
        }
    }

    .page-header--biege & {
        &::before {
            background-image: url('../img/splashes/logo-splash-biege.svg');
        }
    }
}

.page-header__navigation-logo-image {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 3;
}

.page-header__city,
.page-header__btns {
    flex-basis: 18rem;
    flex-shrink: 0;
    padding-right: 1.2rem;
    @include breakpoint(tablet) {
        flex-basis: 15rem;
    }

    @include breakpoint(small-tablet) {
        flex-basis: auto;
    }

    @include breakpoint(mobile) {
        display: none !important;
    }
}

.page-header__city {
    margin-right: 2rem;
    position: relative;
    bottom: -0.25rem;

    @include breakpoint(tablet) {
        margin-right: 0;
    }

    @include breakpoint(small-tablet) {
        bottom: auto;
    }
}

.page-header__btns {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    justify-content: flex-end;

    @include breakpoint(tablet) {
        margin-left: 0;
        padding-right: 1rem;
    }

    @include breakpoint(small-tablet) {
        width: 21.5rem;
        justify-content: space-between;
    }
}

.page-header__btn {
    margin-right: 3rem;
    color: var(--brown);
    flex-shrink: 0;
    position: relative;
    &:link,
    &:visited {
        color: var(--brown);
    }

    .no-touch &:hover {
        color: var(--primary-color);

        .page-header__btn-count {
            background-color: var(--primary-color);
        }
    }
    &:last-child {
        margin-right: 0;
    }
    svg {
        display: block;
        fill: currentColor;
        width: 2.4rem;
        height: 2.4rem;
        flex-shrink: 0;

        &.icon-instagram {
            width: 2.7rem;
            height: 2.6rem;
        }
    }
}

.page-header__btn-count {
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-radius: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    background-color: var(--brown);
    transition: background-color 0.2s;
    right: -1.2rem;
    top: -0.4rem;
    font-size: 1.2rem;
    line-height: 1.2;
    font-family: var(--roboto);

    @include breakpoint(tablet) {
        top: -0.5rem;
        width: 1.9rem;
        height: 1.9rem;
    }
}

.page-header__navigation-link-wrapper {
}

.page-header__navigation-link-wrapper {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 2rem;
    .page-header__navigation-link {
        margin: 0 !important;
    }

    @include breakpoint(small-tablet) {
        margin-right: 0;
        display: none;
        &--catalog {
            display: flex;
        }
    }

    &:hover {
        .page-header__navigation-link {
            color: var(--primary-color);
        }

        .page-header__navigation-link-text::after {
            opacity: 1;
        }
        .page-header__navigation-dropdown {
            opacity: 1;
            visibility: inherit;
            transition: opacity 0.3s, visibility 0.3s;
        }
    }
}

.page-header__navigation-dropdown {
    position: absolute;
    padding-top: 1rem;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s linear 0.3s;
    filter: drop-shadow(0px 0.4rem 6rem rgba(0, 0, 0, 0.1));
    z-index: 700;
}

.page-header__navigation-dropdown-inner {
    background-color: #fff;
    border-radius: 4rem;
    padding: 6rem;
    position: relative;

    @include breakpoint(tablet) {
        padding: 4rem;
    }
    &::before,
    &::after {
        content: '';
        width: 45.6rem;
        height: 49rem;
        position: absolute;
        left: -5.2rem;
        top: -3.8rem;
        pointer-events: none;
        z-index: -1;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('../img/splashes/modal-top-left-splash.svg');
    }

    &::after {
        content: '';
        left: auto;
        top: auto;
        right: -3.6rem;
        bottom: -10rem;
    }
}

.page-header__navigation-dropdown-list {
    display: flex;
    flex-wrap: wrap;
    margin: -0rem -1.2rem;
}

.page-header__navigation-dropdown-list-item {
    display: flex;
    flex-direction: column;
    width: 16.66%;
    padding: 0rem 1.2rem;

    @include breakpoint(tablet) {
        width: 25%;
    }

    @include breakpoint(small-tablet) {
        width: 33.33%;
    }
}

.page-header__navigation-dropdown-card {
    // flex-grow: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: var(--roboto);
    position: relative;
    z-index: 1;
    &:link,
    &:visited {
        color: var(--brown);
    }

    &::before {
        content: '';
        position: absolute;
        top: -1.7rem;
        right: -1.7rem;
        bottom: -1.7rem;
        left: -1.7rem;
        border: 2px solid #F4DECC;
        background: #FFFFFF;
        border-radius: 3rem;
        z-index: -1;
        opacity: 0;
        visibility: hidden;
        transition: opacity .3s, visibility 0s linear .3s;
    }

    .no-touch &:hover {
        &::before {
            opacity: 1;
            visibility: inherit;
            transition: opacity .3s, visibility .3s;
        }
    }
}

.page-header__navigation-dropdown-card-image-container {
    position: relative;
    width: 100%;

    &::before {
        content: '';
        width: 100%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        left: 0;
        top: 0;
        transform: scale(1.1);
    }

    &::after {
        content: '';
        display: block;
        padding-bottom: 100%;
    }
}

.page-header__navigation-dropdown-card-image {
    position: absolute;
    left: 50%;
    top: 50%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 75%;
    @include objectFitContain();
    z-index: 1;
}

.page-header__navigation-dropdown-card-title {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.4rem;
    margin-bottom: 0.2rem;
}

.page-header__navigation-dropdown-card-desc {
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #555555;
    margin-bottom: 0.2rem;
}

.page-header__navigation-dropdown-card-price {
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-weight: 700;
}

.page-header__tablet-burger {
    flex-shrink: 0;
    margin-right: 3.4rem;
    display: none;
    align-self: center;
    @include breakpoint(small-tablet) {
        display: block;
    }

    @include breakpoint(mobile) {
        display: none;
    }
}

.page-header__tablet-burger-btn {
    display: block;
}

.page-header__tablet-burger-content {
    display: flex;
    flex-direction: column;

    span {
        width: 28px;
        height: 3px;
        background: #531918;
        border-radius: 10px;
        display: block;
        margin-bottom: 7px;

        &:nth-child(2) {
            width: 22px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.page-header__tablet-burger-dropdown {
    padding-top: 1.5rem;
    position: absolute;

    left: 0;
    right: 0;
    top: 8rem;
    z-index: 600;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s linear 0.3s;

    display: none;
    @include breakpoint(tablet) {
        display: block;
    }

    &.active {
        opacity: 1;
        visibility: inherit;
        transition: opacity 0.3s, visibility 0.3s;
    }
}

.page-header__tablet-burger-dropdown-inner {
    background: #ffffff;
    border-radius: 4rem;
    padding: 2.8rem 6rem;
    position: relative;
    filter: drop-shadow(0 0.4rem 6rem rgba(0, 0, 0, 0.1));
    &::before {
        content: '';
        width: 27rem;
        height: 9.4rem;
        left: 1.7rem;
        bottom: -5rem;
        background-image: url('../img/splashes/tablet-burger-splash-bottom.svg');
        z-index: -1;
        position: absolute;
        pointer-events: none;
    }

    &::after {
        content: '';
        width: 27rem;
        height: 9.4rem;
        right: 0.8rem;
        top: -4.8rem;
        background-image: url('../img/splashes/tablet-burger-splash-top.svg');
        z-index: -1;
        position: absolute;
        pointer-events: none;
    }
}

.page-header__tablet-burger-menu-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-header__tablet-burger-menu-link {
    color: var(--brown);
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 2.4rem;

    &:link,
    &:visited {
        color: var(--brown);
    }
}
