.product {
    margin-bottom: 10rem;
    position: relative;
    z-index: 60;
    margin-top: -0.4rem;

    @include breakpoint(small-tablet) {
        margin-top: 0;
    }
    .payment-and-shipping__shipping {
        @include breakpoint(mobile) {
            margin-bottom: 4rem;
        }
    }
}

.product__row {
    display: flex;
    margin: -1.5rem;

    @include breakpoint(tablet) {
        display: block;
        display: contents;
        margin: 0;
    }
}

.product__left-col,
.product__right-col {
    width: 50%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;

    @include breakpoint(tablet) {
        width: 100%;
        display: block;
        padding: 0;
        display: contents;
    }
}

.product__heading-block {
    @include breakpoint(tablet) {
        order: -10;
        width: 100%;
    }

    @include breakpoint(mobile) {
        flex-direction: column;
        display: flex;
    }
}

.product__gallery {
    display: flex;
    margin-bottom: 3.5rem;

    @include breakpoint(small-tablet) {
        margin-bottom: 3.9rem;
    }

    &:not(.product__gallery--inside-modal) {
        @include breakpoint(tablet) {
            order: -9;
            width: 100%;
        }

        @include breakpoint(mobile) {
            margin-bottom: 2rem;
        }
    }
}

.product__gallery-left-col {
    width: 8rem;
    margin-right: 3rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .product__gallery:not(.product__gallery--inside-modal) & {
        @include breakpoint(tablet) {
            margin-right: 8rem;
        }

        @include breakpoint(small-tablet) {
            margin-right: 5rem;
        }

        @include breakpoint(mobile) {
            display: none;
        }
    }
}

.product__gallery-right-col {
    width: 50%;
    flex-grow: 1;

    .product__gallery:not(.product__gallery--inside-modal) & {
        @include breakpoint(tablet) {
            padding-right: 16rem;
        }

        @include breakpoint(small-tablet) {
            padding-right: 6rem;
        }

        @include breakpoint(mobile) {
            padding: 0;
        }
    }
}

.product__gallery-thumbs-slider {
    .swiper-container {
        margin: 0;
    }
}

.product__gallery-thumbs-slider-card {
    position: relative;
    border: 2px solid transparent;
    border-radius: 1.4rem;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: border-color 0.2s;
    z-index: 1;
    cursor: pointer;

    .icon-play {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 4rem;
        height: 4rem;

        @include breakpoint(mobile) {
            width: 2.4em;
            height: 2.4rem;
        }
    }
    .swiper-slide-thumb-active & {
        border-color: #baa3a3;
    }

    .no-touch .swiper-slide:not(.swiper-slide-thumb-active) &:hover {
        border-color: #f2eded;
    }
    &::after {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 100%;
    }

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: -1;

        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.product__gallery-main-slider {
    .swiper-container {
        margin: 0;
    }

    @include breakpoint(mobile) {
        margin-left: calc(-1 * var(--content-padding));
        margin-right: calc(-1 * var(--content-padding));
    }
}

.product__gallery-main-slider-card {
    position: relative;
    z-index: 1;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    &::after {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 100%;
    }

    .icon-play {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 8rem;
        height: 8rem;
        transition: transform 0.3s;

        @include breakpoint(mobile) {
            width: 5rem;
            height: 5rem;
        }
    }

    .no-touch &:hover {
        .icon-play {
            transform: translate(-50%, -50%) scale(1.05);
        }
    }
}

.product__gallery-main-slider-card-image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    max-width: 95%;
    max-height: 100%;
    @include objectFitContain();

    @include breakpoint(mobile) {
        max-width: 100%;
    }
}

.product__gallery-thumbs-slider-card-image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 85%;
    @include objectFitContain();
}

.product__description {
    padding: 5rem;

    font-family: var(--roboto);
    font-size: 1.8rem;
    line-height: 2.6rem;
    position: relative;
    z-index: 1;

    background: #faefe6;
    border-radius: 4rem;

    @include breakpoint(tablet) {
        padding: 3.6rem 4rem;

        font-size: 1.6rem;
        line-height: 2.6rem;
        width: calc(50% - 1.5rem);
        margin-right: 1.5rem;
    }

    @include breakpoint(small-tablet) {
        margin-right: 0;
        width: 100%;
        margin-bottom: 3rem;
    }

    @include breakpoint(mobile) {
        padding: 2rem var(--content-padding);
        width: auto;
        margin-left: calc(-1 * var(--content-padding));
        margin-right: calc(-1 * var(--content-padding));
        border-radius: 0;
        font-size: 1.6rem;
        line-height: 2.4rem;

        br {
            display: none;
        }
    }

    &::before {
        content: '';
        position: absolute;
        width: 37rem;
        height: 39rem;
        background-image: url('../img/splashes/product-splash.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        pointer-events: none;
        z-index: -1;
        right: -3.6rem;
        top: -3rem;

        @include breakpoint(tablet) {
            right: -2.8rem;
            top: -3.6rem;
        }

        @include breakpoint(mobile) {
            background-size: 100% 100%;
            background-image: url('../img/splashes/product-desc-mobile-top-dash.svg');
            background-repeat: no-repeat;
            background-position: center bottom;
            height: 9.4rem;
            width: 100%;
            left: 0;
            bottom: 100%;
            margin-bottom: -5rem;
            right: auto;
            top: auto;
        }
    }

    &::after {
        content: '';
        position: absolute;
        width: 15.3rem;
        height: 0.3rem;
        z-index: -1;
        top: -0.4rem;
        left: 16.4rem;
        background-image: url('../img/splashes/product-card-description-dash.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        pointer-events: none;

        @include breakpoint(mobile) {
            left: 0;
            bottom: 0rem;
            top: 100%;
            margin-top: -5rem;
            right: auto;
            bottom: auto;
            height: 9.4rem;
            width: 100%;
            background-size: 100% 100%;
            background-position: center top;
            background-image: url('../img/splashes/product-desc-mobile-bottom-dash.svg');
        }
    }
}

.product__description-bottom-dash {
    position: absolute;
    z-index: -1;
    pointer-events: none;
    width: 14.3rem;
    height: 0.6rem;
    background-image: url('../img/splashes/product-card-bottom-dash.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    bottom: -0.7rem;
    left: 19.5rem;
}

.product__sale-label {
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 1.8rem;
    color: white;
    z-index: 10;
    background: #f2994a;
    border-radius: 2rem;
    padding: 0.2rem 0.8rem;
    font-family: var(--roboto);
    margin-bottom: 1rem;
    display: inline-flex;
    align-self: flex-start;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        right: 0;
        bottom: -0.6rem;
        background-image: url('../img/splashes/sale-label-splash-orange.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        z-index: -1;
        width: 2.1rem;
        height: 2.2rem;
    }

    @include breakpoint(mobile) {
        order: 5;
        margin: 0;
        margin-left: auto;
    }
}

.product__category {
    font-size: 1.8rem;
    line-height: 2.6rem;
    font-family: var(--roboto);
    margin-bottom: 1.1rem;
    color: #555555;

    @include breakpoint(small-tablet) {
        margin-bottom: 0.9rem;
    }

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 2.4rem;
        margin: 0;
        order: 2;
        margin-bottom: 1.2rem;
    }
}

.product__main-heading {
    padding-bottom: 3.2rem;
    position: relative;
    margin-bottom: 2rem;
    font-size: 4.35rem;
    letter-spacing: -0.05rem;
    @include breakpoint(tablet) {
        font-size: 4rem;
        line-height: 4.8rem;
        padding-bottom: 2.4rem;
    }

    @include breakpoint(small-tablet) {
        font-size: 3.6rem;
        line-height: 4.8rem;
        padding-bottom: 2rem;
    }

    @include breakpoint(mobile) {
        font-size: 2.6rem;
        line-height: 3.4rem;
        padding: 0;
        margin: 0;
        margin-bottom: 0.8rem;
    }
    &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 0.3rem;
        background-image: url('../img/splashes/product-heading-dash.svg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;

        @include breakpoint(mobile) {
            display: none;
        }
    }
}

.product__form {
    margin-bottom: 6rem;

    &--short {
        margin-bottom: 3rem;
    }

    

    @include breakpoint(tablet) {
        order: -8;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    @include breakpoint(small-tablet) {
        margin-bottom: 5.5rem;
    }
}

.product__form-heading {
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-family: var(--roboto);
    margin-bottom: 1rem;
    font-weight: 400;
    color: #555555;

    @include breakpoint(small-tablet) {
        margin-bottom: 1.3rem;
    }

    @include breakpoint(mobile) {
        margin-bottom: 1rem;
    }
}

.product__choose-taste {
    margin-bottom: 2.2rem;

    @include breakpoint(tablet) {
        width: 100%;
        margin-bottom: 2.4rem;
    }
}

.product__choose-taste-slider {
    position: relative;

    &::before,
    &::after {
        content: '';
        position: absolute;
        width: 13.4rem;
        top: 0;
        pointer-events: none;
        z-index: 10;
        height: 100%;
        transition: opacity 0.3s;

        @include breakpoint(mobile) {
            display: none;
        }
    }

    &::before {
        background: linear-gradient(to right, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
        left: 0;
    }

    &::after {
        background: linear-gradient(to left, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
        right: 0;
    }

    &.is-beginning {
        &::before {
            opacity: 0;
        }
    }

    &.is-end {
        &::after {
            opacity: 0;
        }
    }

    @include breakpoint(mobile) {
        .swiper-slide {
            width: 8.6rem;
        }

        .swiper-container {
            overflow: visible;
        }
    }
}

.product__choose-taste-slider-arrow {
    position: absolute;
    top: 3.5rem;
    transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
    z-index: 30;
    @include breakpoint(mobile) {
        display: none;
    }
    &--prev {
        left: 0;
    }

    &--next {
        right: 0;
    }

    svg {
        width: 2.7rem;
        height: 2rem;
        fill: var(--brown);
        transition: fill 0.2s;
        display: block;
    }

    &.swiper-button-disabled {
        cursor: default;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0s linear 0.3s, transform 0.3s;
    }

    .no-touch &:not(.swiper-button-disabled) {
        &:hover {
            svg {
                fill: var(--primary-color);
            }
        }
    }
}

.product__choose-taste-checkbox {
    user-select: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;

    .no-touch &:hover {
        .product__choose-taste-checkbox-input:not(:checked) ~ .product__choose-taste-checkbox-image-container {
            border-color: #f2eded;
        }
    }
}

.product__choose-taste-checkbox-input {
    @include visuallyHidden();
}

.product__choose-taste-checkbox-image-container {
    position: relative;
    width: 100%;
    border: 2px solid transparent;

    backface-visibility: hidden;
    border-radius: 1.4rem;
    margin-bottom: 0.85rem;
    transition: border-color 0.2s;
    &::before {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 100%;
    }
}

.product__choose-taste-checkbox-text {
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #555555;
    transition: color 0.2s;
    font-family: var(--roboto);
}

.product__choose-taste-checkbox-input:checked ~ .product__choose-taste-checkbox-text {
    color: var(--brown);
}
.product__choose-taste-checkbox-input:checked ~ .product__choose-taste-checkbox-image-container {
    border-color: #baa3a3;
}

.product__choose-taste-checkbox-image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.product__choose-taste-checkbox-discount-amount {
    position: absolute;
    right: -2px;
    top: -2px;
    padding: .1rem 0.6rem;
    background: #f2994a;
    border-radius: 1rem;
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 1.8rem;
    font-family: var(--roboto);
    color: white;
}
.product__choose-quantity {
    margin-bottom: 0.5rem;

    @include breakpoint(tablet) {
        margin-bottom: 0;
        margin-right: 1.7rem;
    }
}

.product__choose-quantity-checkboxes {
    display: flex;
    flex-wrap: wrap;
}

.product__choose-quantity-checkbox {
    margin-right: 1rem;
    flex-shrink: 0;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    font-family: var(--roboto);

    .no-touch &:hover {
        .product__choose-quantity-checkbox-input:not(:checked) ~ .product__choose-quantity-checkbox-text {
            background: #feefd3;
            border-color: #feefd3;
            color: #555555;
        }
    }

    @include breakpoint(tablet) {
        margin-bottom: 0.4rem;
    }
}

.product__choose-quantity-checkbox-input {
    @include visuallyHidden();
}

.product__choose-quantity-checkbox-text {
    padding: 0.7rem 1rem;
    min-width: 6.5rem;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: #555555;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #d9d9d9;
    border-radius: 2rem;
    transition: background-color 0.2s, border-color 0.2s, color 0.2s;
}

.product__choose-quantity-checkbox-input:checked ~ .product__choose-quantity-checkbox-text {
    background-color: var(--brown);
    color: white;
    border-color: var(--brown);
}

.product__total {
    display: flex;
    align-items: center;

    @include breakpoint(tablet) {
        align-self: flex-end;
    }

    @include breakpoint(small-tablet) {
        width: 100%;
        margin-top: 2rem;
    }

    @include breakpoint(mobile) {
        margin-top: 2rem;
    }
}

.product__count {
    margin-right: 3rem;
    width: 12.8rem;

    @include breakpoint(mobile) {
        margin-right: 2rem;
    }
}

.product__price {
    display: flex;
    align-items: baseline;
    font-family: var(--roboto);
    margin-right: 2rem;

    @include breakpoint(mobile) {
        margin: 0;
        flex-direction: column-reverse;
        align-items: initial;
    }
}

.product__new-price {
    font-weight: bold;
    font-size: 3.2rem;
    line-height: 1.2;
    margin-right: 1rem;
    letter-spacing: 0.02em;
    &:last-child {
        margin-right: 0;
    }

    @include breakpoint(mobile) {
        font-size: 2.8rem;
        line-height: 3rem;
        letter-spacing: 0.02em;
        margin-right: 0;
    }
}

.product__old-price {
    font-weight: 300;
    font-size: 2.4rem;
    line-height: 3rem;
    letter-spacing: 0.02em;
    text-decoration-line: line-through;
    color: #8b8b8b;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }
}

.product__specs {
    max-width: 57.6rem;

    @include breakpoint(tablet) {
        max-width: none;

        width: calc(50% - 1.5rem);
        margin-left: 1.5rem;
    }

    @include breakpoint(small-tablet) {
        margin-left: 0;
        width: 100%;
        max-width: 51rem;
    }

    @include breakpoint(mobile) {
        max-width: none;
    }
}

.product__specs-text {
    font-size: 1.8rem;
    line-height: 2.6rem;
    font-family: var(--roboto);

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
}

.product__specs-tabs-nav {
    margin-bottom: 3rem;
    margin-top: -1rem;

    @include breakpoint(tablet) {
        margin-bottom: 2rem;
        margin-top: -0.5rem;
    }
}

.product__specs-title {
    font-size: 1.8rem;
    line-height: 2.6rem;
    font-family: var(--roboto);
    font-weight: 400;
    margin-bottom: 0.8rem;

    @include breakpoint(tablet) {
        margin-bottom: 0.6rem;
    }
}

.product__specs-table {
    display: block;
    font-family: var(--roboto);

    table,
    th,
    td,
    tbody,
    thead {
        display: flex;
        flex-direction: column;
    }

    tr {
        display: flex;
        margin-bottom: 0.6rem;
        align-items: baseline;
        &:last-child {
            margin-bottom: 0;
        }
    }

    th {
        font-size: 1.8rem;
        line-height: 2.6rem;
        flex-grow: 1;
        display: flex;
        font-weight: 400;
        flex-direction: row;

        @include breakpoint(tablet) {
            font-size: 1.6rem;
            line-height: 2.6rem;
        }
        &::after {
            content: '';
            width: 1rem;
            flex-grow: 1;
            height: 2px;
            background-image: url('../img/cart/dashed-line-pattern.svg');
            background-repeat: repeat-x;
            background-size: auto 2px;
            background-position: left center;
            align-self: flex-end;
            margin: 0 0.8rem;
            position: relative;
            top: -0.4rem;
        }
    }

    td {
        font-size: 1.8rem;
        line-height: 2.6rem;

        @include breakpoint(tablet) {
            font-size: 1.6rem;
            line-height: 2.6rem;
        }

        strong {
            font-weight: 700;
        }
    }

    td {
        text-align: right;

        &:nth-child(2) {
            width: 14rem;
            text-align: left;
        }
    }
}

.product__main-content {
    margin-bottom: 9.2rem;
    @include breakpoint(tablet) {
        flex-direction: row;
        flex-wrap: wrap;
        display: flex;
        margin-bottom: 8rem;
    }

    @include breakpoint(small-tablet) {
        margin-bottom: 9rem;
    }
}

.product__videos {
    margin-bottom: 6rem;

    @include breakpoint(tablet) {
        margin-bottom: 6.4rem;
    }
}

.product__videos-heading {
    margin-bottom: 5.8rem;

    @include breakpoint(tablet) {
        margin-bottom: 4.2rem;
    }

    @include breakpoint(small-tablet) {
        margin-bottom: 3.2rem;
    }

    @include breakpoint(mobile) {
        margin-bottom: 2rem;
        text-align: left;
    }

    &::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 26.8rem;
        height: 6.7rem;
        background-image: url('../img/splashes/our-blog-heading-splash.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        z-index: -1;
        pointer-events: none;
        margin-top: 0.5rem;

        @include breakpoint(mobile) {
            display: none;
        }
    }
}

.product__videos-slider {
    position: relative;
    z-index: 1;
    &::before {
        content: '';
        width: 42rem;
        height: 39.6rem;
        background-image: url('../img/splashes/product-videos-slide-splash.svg');
        background-repeat: none;
        background-position: center;
        background-size: contain;
        z-index: -1;
        pointer-events: none;
        position: absolute;
        top: -6.2rem;
        left: -4.6rem;

        @include breakpoint(tablet) {
            width: 39.3rem;
            height: 37rem;
            left: -4rem;
            top: -6rem;
        }

        @include breakpoint(small-tablet) {
            width: 29.2rem;
            height: 27.5rem;
            left: -3rem;
            top: -4.6rem;
        }

        @include breakpoint(mobile) {
            display: none;
        }
    }

    .swiper-slide {
        width: 50%;

        @include breakpoint(mobile) {
            width: 24rem;
        }
    }

    .swiper-container {
        @include breakpoint(mobile) {
            overflow: visible;
        }
    }
}

.product__videos-slider-card {
    display: flex;
    flex-direction: column;

    .no-touch &:hover {
        .icon-play {
            fill: var(--brown);
        }
    }
}

.product__videos-slider-card-image-container {
    position: relative;
    border-radius: 1.8rem;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
    margin-bottom: 1.5rem;

    @include breakpoint(tablet) {
        margin-bottom: 1.4rem;
    }

    @include breakpoint(mobile) {
        margin-bottom: 1rem;
    }

    .icon-play {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 5.8rem;
        height: 5.8rem;
        z-index: 10;
        transition: fill 0.2s;
    }
    &::after {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 70%;
    }
}

.product__videos-slider-card-title {
    font-size: 1.8rem;
    line-height: 2.6rem;
    font-weight: 400;
    font-family: var(--roboto);
    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
}

.product__videos-slider-card-preview {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include objectFitCover();
}

.product__videos-slider-arrow {
    position: absolute;
    width: 5.8rem;
    height: 5.8rem;
    z-index: 20;
    transition: opacity 0.3s, visibility 0.3s;
    top: 40%;
    transform: translateY(-50%);
    background-image: url('../img/arrow-white-bg.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @include breakpoint(tablet) {
        top: 38%;
    }

    @include breakpoint(small-tablet) {
        top: 32%;
    }

    @include breakpoint(mobile) {
        display: none;
    }

    svg {
        width: 2.7rem;
        height: 2rem;
        fill: var(--brown);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &--prev {
        left: 0;
        transform: translateX(-50%);
    }

    &--next {
        right: 0;
        transform: translateX(50%);
    }

    &.swiper-button-disabled {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0s linear 0.3s;
    }
}

.product__similar-products {
    margin-top: 8rem;
    margin-bottom: 0.7rem;
    .swiper-container {
        @include breakpoint(mobile) {
            overflow: visible;
        }
    }

    @include breakpoint(mobile) {
        margin-top: 4rem;
    }
}

.product__similar-products-heading {
    margin-bottom: 6.5rem;

    @include breakpoint(tablet) {
        margin-bottom: 4rem;
    }

    @include breakpoint(mobile) {
        margin-bottom: 2rem;
        text-align: left;
    }

    &::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 26.8rem;
        height: 6.7rem;
        background-image: url('../img/splashes/our-blog-heading-splash.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        z-index: -1;
        pointer-events: none;
        margin-top: 0.5rem;

        @include breakpoint(mobile) {
            display: none;
        }
    }
}

.product__similar-products-list {
    @include breakpointMF(small-tablet) {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin: -1.5rem;
    }
}

.product__similar-products-list-item {
    width: 22rem;
    padding: 1.5rem;

    @include breakpoint(tablet) {
        width: 16.2rem;
    }

    @include breakpoint(small-tablet) {
        width: 14rem;
    }

    @include breakpoint(mobile) {
        padding: 0;
        width: 13.6rem;
    }
}

.product__similar-products-card {
    display: flex;
    flex-direction: column;
    text-align: center;

    position: relative;
    z-index: 1;

    @include noDrag();
}

.product__similar-products-card-image-container {
    position: relative;
    margin-bottom: 1rem;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    &::after {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 100%;
    }
}

.product__similar-products-card-image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    max-width: 85%;
    max-height: 85%;
    @include objectFitContain();
}

.product__similar-products-card-title {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-family: var(--roboto);

    @include breakpoint(tablet) {
        font-size: 1.6rem;
        line-height: 2.2rem;
    }

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
}

.product__components {
    margin-bottom: 3rem;

    @include breakpoint(tablet) {
        order: -9;
        width: 100%;
        margin-bottom: 2rem;
    }

    .swiper-slide {
        width: 16.66%;

        @include breakpoint(mobile) {
            width: 8.6rem;
        }
    }
}

.product__components-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--roboto);
}

.product__components-card-image-container {
    position: relative;
    margin-bottom: 1rem;
    width: 100%;
    display: block;
    &::before {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 100%;
    }

    img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        @include objectFitContain();
    }
}

.product__components-card-title {
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 400;
    text-align: center;
}

.product__components-card-count {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 1.8rem;
    color: white;
    background: #6d3926;
    border-radius: 2rem;
    padding: 0.2rem 0.8rem;
    white-space: nowrap;
    font-family: var(--roboto);
}

.product__components-heading {
    display: flex;
    align-items: baseline;
    font-weight: 900;
    font-size: 2.4rem;
    line-height: 2.4rem;
    margin-bottom: 3rem;

    @include breakpoint(mobile) {
        font-weight: 900;
        font-size: 1.8rem;
        line-height: 2.4rem;
        margin-bottom: 2rem;
    }
}

.product__components-heading-count {
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: #555555;
    font-family: var(--roboto);
    font-weight: 400;
    margin-left: 1rem;

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 1.8rem;
        margin-left: 0.4rem;
    }
}

.product__submit {
    font-weight: 700;
    align-self: center;
    padding-left: 3.75rem;
    padding-right: 3.75rem;

    .no-touch &:hover {
        background-color: var(--brown);
    }
    @include breakpoint(tablet) {
        padding: 1.6rem 3.6rem;
    }

    @include breakpoint(mobile) {
        display: none;
    }
}

.product__gallery--inside-modal {
    @include breakpoint(tablet) {
        .product__gallery-left-col {
            margin-right: 5rem;
        }

        .product__gallery-right-col {
            padding-right: 4rem;
        }
    }

    @include breakpoint(small-tablet) {
        flex-direction: column;
        .product__gallery-left-col {
            width: 100%;
            margin: 0;
            order: 2;
            padding: 0;
        }

        .product__gallery-right-col {
            width: 100%;
            margin: 0;
            padding: 0;
        }

        .product__gallery-thumbs-slider {
            .swiper-slide {
                width: 8rem;
            }
        }
    }
}

.product__gallery-main-slider-pagination {
    display: none;
    @include breakpoint(mobile) {
        margin-top: 1.2rem;
        display: flex;
        align-items: center;
        justify-content: center;

        .swiper-pagination-bullet {
            width: 0.8rem;
            height: 0.8rem;
            border-radius: 50%;
            outline: none;
            opacity: 1;
            border: none;
            border-radius: 50%;
            transition: background-color 0.2s;
            flex-shrink: 0;
            margin: 0 0.5rem;
            background: #d9d9d9;

            &.swiper-pagination-bullet-active {
                background: #6d3926;
            }
        }
    }
}
