

.text-input-label {
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #8b8b8b;
    margin-bottom: 0.6rem;
    font-family: var(--roboto);
    display: block;
    white-space: nowrap;
}

.text-input {
    height: 5.4rem;
    border: 1px solid #BEBEBE;
    border-radius: 1.4rem;
    font-size: 1.6rem;
    padding: 0 1.4rem;
    color: var(--brown);
    font-family: var(--roboto);
    transition: border-color .2s;

    &.parsley-error {
        border-color: var(--primary-color);
    }
    @include noAutofillBg();
    @include placeholder {
        color: #8B8B8B;
    }

    @include breakpoint(mobile) {
        height: 5rem;
    }
}


.text-input ~ .parsley-errors-list {
    font-size: 1.4rem;
    line-height: 1.2;
    color: var(--primary-color);
    font-family: var(--roboto);
    &.filled {
        margin-top: 0.5rem;
    }
}


textarea.text-input {
    resize: none;
    height: 12rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: block;
    width: 100%;

    @include breakpoint(mobile) {
        height: 8rem;
    }
}