.where-to-buy {
    padding-top: 4rem;
    margin-bottom: 10rem;

    @include breakpoint(small-tablet) {
        padding-top: 3.3rem;
        margin-bottom: 7rem;
    }

    @include breakpoint(mobile) {
        padding-top: 0;
    }
}

.where-to-buy__row {
    display: flex;

    @include breakpoint(small-tablet) {
        flex-direction: column;
    }

    @include breakpoint(mobile) {
        position: relative;
    }
}

.where-to-buy__left-col {
    width: 40rem;
    margin-right: 3rem;
    flex-shrink: 0;

    @include breakpoint(tablet) {
        width: 37.6rem;
    }

    @include breakpoint(small-tablet) {
        width: 100%;
        flex-shrink: 1;
        display: contents;
        margin: 0;
    }

    @include breakpoint(mobile) {
        display: block;

        .where-to-buy__current-city {
            display: none;
        }
    }
}

.where-to-buy__right-col {
    width: 30%;
    flex-grow: 1;

    @include breakpoint(small-tablet) {
        width: 100%;
        flex-shrink: 1;
        display: contents;
        flex-grow: 0;
    }

    @include breakpoint(mobile) {
        display: block;
    }
}

.where-to-buy__left-col,
.where-to-buy__right-col {
    @include breakpoint(mobile) {
        position: absolute;
        left: 0;
        width: 100%;
        top: 0;
        height: auto;
        z-index: 5;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0s linear 0.3s;

        &.active {
            opacity: 1;
            visibility: inherit;
            transition: opacity 0.3s, visibility 0.3s;
            z-index: 10;
            position: relative;
        }
    }
}

.where-to-buy__current-city {
    display: inline-flex;
    align-items: center;
    color: var(--primary-color);
    font-size: 1.6rem;
    line-height: 1.9rem;
    font-family: var(--roboto);
    margin-bottom: 1rem;
    position: relative;
    z-index: 50;
    pointer-events: initial;
    &:link,
    &:visited {
        color: var(--primary-color);
    }
    svg {
        width: 1.2rem;
        height: 1.6rem;
        fill: var(--primary-color);
        margin-right: 1rem;
    }

    @include breakpoint(small-tablet) {
        margin-bottom: 1.2rem;
    }
}

.where-to-buy__results-card-right-content {
    @include breakpoint(small-tablet) {
        width: 30%;
        flex-grow: 1;
    }

    @include breakpoint(mobile) {
        width: 100%;
        flex-grow: 0;
    }
}

.where-to-buy__form-wrapper {
    margin-bottom: 2rem;

    @include breakpoint(mobile) {
        display: none;
    }
    .modals__modal-city-form {
        margin: 0;
    }

    .modals__modal-city-form {
        max-width: none;
    }
}

.where-to-buy__results {
    @include breakpoint(small-tablet) {
        order: 6;
        padding-left: 1.9rem;
        margin-top: 1.2rem;
    }

    @include breakpoint(mobile) {
        padding-left: 0;
        margin: 0;
    }
}

.where-to-buy__results-card {
    padding: 2rem 0;
    position: relative;
    display: flex;
    font-family: var(--roboto);
    font-size: 1.8rem;
    line-height: 1.35;

    z-index: 1;

    @include breakpoint(small-tablet) {
        padding-bottom: 2.3rem;
    }

    @include breakpoint(mobile) {
        padding: 1rem 0;

        font-size: 1.6rem;
        line-height: 2.4rem;
    }
    &::after {
        content: '';
        position: absolute;
        z-index: -1;
        width: 15rem;
        height: 16rem;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('../img/splashes/where-to-buy-splash.svg');
        pointer-events: none;
        transition: opacity 0.2s;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        margin-top: 1rem;
        opacity: 0;

        @include breakpoint(mobile) {
            display: none;
        }
    }

    &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        bottom: 0;
        left: 0;
        width: 100%;
        background-size: 100% 100%;
        background-image: url(../img/splashes/cart-item-dash.svg);
        background-position: left center;
        height: 0.3rem;

        @include breakpoint(mobile) {
            display: none;
        }
    }
    .icon-location {
        width: 1.8rem;
        height: 2.5rem;
        flex-shrink: 0;
        margin-right: 1.4rem;
        fill: var(--primary-color);
        transition: fill 0.2s;

        @include breakpoint(mobile) {
            width: 1.4rem;
            height: 1.8rem;
            margin-top: 0.2rem;
        }
    }

    .where-to-buy__results-list-item:last-child & {
        &::before {
            display: none;
        }
    }

    .no-touch &:hover {
        &::after {
            opacity: 1;
        }

        .icon-location {
            fill: var(--brown);
        }
    }
}

.where-to-buy__results-card-content {
    width: 50%;
    flex-grow: 1;

    @include breakpoint(small-tablet) {
        display: flex;
        align-items: flex-start;
    }

    @include breakpoint(mobile) {
        flex-direction: column;
        align-items: initial;
    }
}

.where-to-buy__results-card-title {
    font-weight: bold;
    @include breakpoint(small-tablet) {
        width: 20rem;
        flex-shrink: 0;
    }

    @include breakpoint(mobile) {
        width: 100%;
        flex-shrink: 1;
    }
}

.where-to-buy__results-card-text {
}

.where-to-buy__results-card-link {
    color: var(--primary-color);
    display: inline;
    border-bottom: 1px solid var(--primary-color);
    transition: color 0.2s, border-color 0.2s;
    &:link,
    &:visited {
        color: var(--primary-color);
    }
}

.where-to-buy__map-container {
    position: relative;
    border-radius: 4rem;
    background-color: lightgrey;
    overflow: hidden;
    margin-top: 2.8rem;

    @include breakpoint(small-tablet) {
        margin: 0;
    }

    @include breakpoint(mobile) {
        border-radius: 2rem;
    }
    &::before {
        content: '';
        display: block;
        padding-bottom: 64%;

        @include breakpoint(tablet) {
            padding-bottom: 100%;
        }

        @include breakpoint(small-tablet) {
            padding-bottom: 54%;
        }

        @include breakpoint(mobile) {
            padding-bottom: 100%;
        }
    }
}

.where-to-buy__map {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.popover {
    font-family: var(--roboto);
    background: #ffffff;
    box-shadow: 0.4rem 0px 2.5rem rgba(255, 0, 0, 0.16);
    border-radius: 1.4rem;
    position: absolute;
    z-index: 1010;
    max-width: 36rem;
    text-align: left;
    white-space: normal;
    padding: 2rem;
    padding-right: 4.4rem;
    color: var(--brown);
    font-size: 1.6rem;
    line-height: 2.2rem;

    @include breakpoint(mobile) {
        padding: 1.6rem;
        max-width: 24rem;
    }
}

.popover.top {
    margin-top: -1rem;
}

.popover .close {
    position: absolute;
    right: 1.4rem;
    top: 1.4rem;
    width: 1.8rem;
    height: 1.8rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16.93 16.85'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23555; %7D %3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M16.64,15.12,9.89,8.32l6.57-6.61a1,1,0,0,0,0-1.42,1,1,0,0,0-1.41,0L8.48,6.9,1.92.31A1,1,0,0,0,.51.31a1,1,0,0,0,0,1.42L7.07,8.32.29,15.14a1,1,0,0,0,0,1.41,1,1,0,0,0,1.41,0L8.48,9.74l6.75,6.8a1,1,0,0,0,1.41,0A1,1,0,0,0,16.64,15.12Z' /%3E%3C/svg%3E");
}

.popover-title {
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 2.2rem;
}

.popover-content {
    a {
        color: var(--primary-color);
        display: inline;
        border-bottom: 1px solid var(--primary-color);
        &:link,
        &:visited {
            color: var(--primary-color);
        }
    }
}

.where-to-buy__main-heading {
    display: flex;
    align-items: center;

    .where-to-buy__current-city {
        font-weight: 400;
        margin: 0;
        margin-left: auto;
        @include breakpointMF(small-tablet) {
            display: none;
        }
    }
}

.where-to-buy__toggle {
    display: flex;
    align-items: center;
    border: 0.3rem solid #ececec;
    border-radius: 6rem;
    display: none;
    background: #ececec;
    margin-bottom: 1rem;
    @include breakpoint(mobile) {
        display: flex;
    }
}

.where-to-buy__toggle-btn {
    width: 30%;
    flex-grow: 1;
    font-size: 1.6rem;
    line-height: 2.2rem;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #8b8b8b;
    padding: 0.8rem 1.6rem;
    position: relative;
    z-index: 1;
    font-family: var(--roboto);

    &:link,
    &:visited {
        color: #8b8b8b;
    }
    &:nth-child(1) {
        margin-right: 0.3rem;

        z-index: 2;
    }

    &:nth-child(2) {
        margin-left: 0.3rem;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border-radius: 6rem;
            background-color: #fff;
            z-index: -1;
            transition: transform 0.2s;
        }
    }

    &.active {
        color: var(--brown);

        & + .where-to-buy__toggle-btn {
            &::before {
                transform: translateX(calc(-100% - 0.6rem));
            }
        }
    }
}



.popover-inner {
    @include breakpoint(mobile) {
        & > * {
            max-width: 100% !important;
            height: auto !important;
        }
    }
}